{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Configuració - Usuari{% endblock %}

{% block tBorrado %}S'ha borrat l'usuari{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar l'usuari{% endblock %}
{% block tErrorGuardar %}S'ha produït un error al guardar l'usuari{% endblock %}
{% block tErrorGuardarNoRoles %}S'ha produït un error al guardar l'usuari, no s'han trobat rols{% endblock %}
{% block tCrear %}Crear Usuari{% endblock %}
{% block tNombre %}Nom{% endblock %}
{% block tAcciones %}Accions{% endblock %}