#loginContainer {
  position: relative;
  border: 1px solid #c4c4c4;
  width: 300px;
  height: auto;
  left: 50%;
  top: 50%;
  margin-left: -171px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  background: #fefefe;
  padding: 0px 20px 0 20px;
}
#loginContainer:after,
#loginContainer:before {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  background: linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  top: 0;
  left: -1px;
  position: absolute;
  width: 100%;
}
#loginContainer:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  z-index: -1;
}
#loginContainer:before {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -2;
}
#loginContainer #username-row {
  margin-top: 30px;
}
#loginContainer #username {
  height: 30px;
}
#loginContainer #forgot-link {
  font-size: x-small;
}
#loginContainer #password-row {
  margin-top: 20px;
}
#loginContainer #password {
  height: 30px;
}
#loginContainer #actions-row {
  margin-top: 15px;
  margin-bottom: 30px;
}
#loginContainer #actions-container {
  margin: 0 -20px 0 -20px;
  padding-left: 20px !important;
  padding-right: 12px;
}
#loginForm {
  margin-bottom: 0px;
}
