{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Main Page{% endblock %}

{% block tBorrado %}Deleted main page{% endblock %}
{% block tErrorBorrado %}Error to delete main page{% endblock %}
{% block tCrear %}Create Main Page{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tAcciones %}Actions{% endblock %}