{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Artículo{% endblock %}

{% block tLegend %}Artículo{% endblock %}
{% block tModificado %}Se ha modificado el artículo{% endblock %}
{% block tInsertado %}Se ha insertado el artículo{% endblock %}
{% block tFamilia %}Familia{% endblock %}
{% block tNivel %}Nivel{% endblock %}
{% block tPagina %}Página{% endblock %}
{% block tFabricante %}Fabricante{% endblock %}
{% block tProveedor %}Proveedor{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPEntrega %}Plazo de entrega{% endblock %}
{% block tImagen %}Imagen{% endblock %}
{% block tPrecio %}Precio{% endblock %}
{% block tRPropia %}Referencia propia{% endblock %}
{% block tRProveedor %}Referencia proveedor{% endblock %}
{% block tODesde %}Oferta desde{% endblock %}
{% block tOHasta %}Oferta hasta{% endblock %}
{% block tOPrecio %}Precio oferta{% endblock %}
{% block tStock %}Stock{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tActualizacion %}Actualización{% endblock %}
{% block tInformacion %}Información{% endblock %}
