{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - IVA{% endblock %}

{% block tLegend %}IVA{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tPIVA %}Write IVA{% endblock %}
{% block tGuardar %}Save{% endblock %}