{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Configuració - Mòdul{% endblock %}

{% block tBorrado %}S'ha borrat el mòdul{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el mòdul{% endblock %}
{% block tErrorGuardar %}S'ha produït un error al guardar el mòdul{% endblock %}
{% block tCrear %}Crear Mòdul{% endblock %}
{% block tNombre %}Nom{% endblock %}
{% block tAcciones %}Accions{% endblock %}