{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Fitxa tècnica - Descripció{% endblock %}

{% block tLegend %}Descripció{% endblock %}
{% block tTitulo %}Títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tGuardar %}Guardar{% endblock %}