{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
<link href="{{ parameters.path }}/src/lib/datatables/media/css/demo_table.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tBorrado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-danger">
                {% block tErrorBorrado %}{% endblock %}
            </div>
        {% endif %}
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegendTitulos %}{% endblock %}</legend>
            <div class="row containerRow">
                <div class="col-md-12">
                    <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/formTitol.html" method="POST">
                        <input type="hidden" name="id_fitxatecnicatitol" value="-1" />
                        <button type="submit" class="btn btn-success pull-right">{% block tCrearTitulo %}{% endblock %}</button>
                    </form>
                </div>
            </div>
            <div class="row containerRow">
                <div class="col-md-12">
                    <table id="table_id_titol" class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% block tTitulo %}{% endblock %}</th>
                            <th>{% block tAcciones %}{% endblock %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for titol in parameters.indexTitol %}
                            <tr>
                                <td>
                                    {% autoescape 'html' %}
                                        {{ titol.descripcio|raw }}
                                    {% endautoescape %}
                                </td>
                                <td>
                                    <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/vistaTitol.html" method="POST" class="buttonNormalFirst">
                                        <input type="hidden" name="id_fitxatecnicatitol" value="{{ titol.id_fitxatecnicatitol }}" />
                                        <button type="submit" class="btn"><span class="foundicon-accessibility-eyeball"></span></button>
                                    </form>
                                    <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/formTitol.html" method="POST" class="buttonNormal">
                                        <input type="hidden" name="id_fitxatecnicatitol" value="{{ titol.id_fitxatecnicatitol }}" />
                                        <button type="submit" class="btn"><span class="foundicon-general-edit"></span></button>
                                    </form>
                                    <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/eliminarTitol.html" method="POST" class="buttonNormal">
                                        <input type="hidden" name="id_fitxatecnicatitol" value="{{ titol.id_fitxatecnicatitol }}" />
                                        <button type="submit" class="btn"><span class="foundicon-general-trash"></span></button>
                                    </form>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegendDescripciones %}{% endblock %}</legend>
            <div class="row containerRow">
                <div class="col-md-12">
                    <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/formDescripcio.html" method="POST">
                        <input type="hidden" name="id_fitxatecnicadescripcio" value="-1" />
                        <input type="hidden" name="id_fitxatecnicatitol" value="-1" />
                        <button type="submit" class="btn btn-success pull-right">{% block tCrearDescripcion %}{% endblock %}</button>
                    </form>
                </div>
            </div>
            <div class="row containerRow">
                <div class="col-md-12">
                    <table id="table_id_descripcio" class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% block tTitulo2 %}{% endblock %}</th>
                            <th>{% block tDescripcion %}{% endblock %}</th>
                            <th>{% block tAcciones2 %}{% endblock %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for descripcio in parameters.indexDescripcio %}
                            <tr>
                                <td>
                                    {% autoescape 'html' %}
                                        {{ descripcio.titol|raw }}
                                    {% endautoescape %}
                                </td>
                                <td>
                                    {% autoescape 'html' %}
                                        {{ descripcio.descripcio|raw }}
                                    {% endautoescape %}
                                </td>
                                <td>
                                    <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/vistaDescripcio.html" method="POST" class="buttonNormalFirst">
                                        <input type="hidden" name="id_fitxatecnicatitol" value="{{ descripcio.id_fitxatecnicatitol }}" />
                                        <input type="hidden" name="id_fitxatecnicadescripcio" value="{{ descripcio.id_fitxatecnicadescripcio }}" />
                                        <button type="submit" class="btn"><span class="foundicon-accessibility-eyeball"></span></button>
                                    </form>
                                    <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/formDescripcio.html" method="POST" class="buttonNormal">
                                        <input type="hidden" name="id_fitxatecnicatitol" value="{{ descripcio.id_fitxatecnicatitol }}" />
                                        <input type="hidden" name="id_fitxatecnicadescripcio" value="{{ descripcio.id_fitxatecnicadescripcio }}" />
                                        <button type="submit" class="btn"><span class="foundicon-general-edit"></span></button>
                                    </form>
                                    <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/eliminarDescripcio.html" method="POST" class="buttonNormal">
                                        <input type="hidden" name="id_fitxatecnicatitol" value="{{ descripcio.id_fitxatecnicatitol }}" />
                                        <input type="hidden" name="id_fitxatecnicadescripcio" value="{{ descripcio.id_fitxatecnicadescripcio }}" />
                                        <button type="submit" class="btn"><span class="foundicon-general-trash"></span></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript" charset="utf-8" src="{{ parameters.path }}/src/lib/datatables/media/js/{{ parameters.language }}/jquery.dataTables.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#table_id_titol').dataTable({
            "aoColumnDefs": [
                { "sClass": "col-md-10",  "aTargets": [ 0 ] }, //Títol
                { "sClass": "col-md-2", "bSortable": false, "aTargets": [ 1 ] } //Accions
            ]
        });
        //$('#table_id_titol').show();

        $('#table_id_descripcio').dataTable({
            "aoColumnDefs": [
                { "sClass": "col-md-5",  "aTargets": [ 0 ] }, //Títol
                { "sClass": "col-md-5",  "aTargets": [ 1 ] }, //Descripció
                { "sClass": "col-md-2", "bSortable": false, "aTargets": [ 2 ] } //Accions
            ]
        });
        //$('#table_id_descripcio').show();
    });
</script>
{% endblock %}