{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{{ parameters.path }}/src/lib/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {{ parameters.article.descripcio }}</legend>
            <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/article/guardar.html"
                  class="form-horizontal" role="form">
                <input type="hidden" name="id_article" value="{% if parameters.article.id_article == '' %}-1{% else %}{{ parameters.article.id_article }}{% endif %}" />
                <input type="hidden" name="id_pagina" value="{{ parameters.article.id_pagina }}" />
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputFamilia">{% block tFamilia %}{% endblock %}</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" id="inputFamilia" name="id_familia">
                            {% for familia in parameters.familia %}
                                <option value="{{ familia.id_familia }}"
                                        {% if parameters.article.id_familia == familia.id_familia %}
                                            selected
                                        {% endif %}
                                        >
                                    {{ familia.descripcio }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputNivell">{% block tNivel %}{% endblock %}</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="id_nivell">
                            <option value="">NULL</option>
                            {% for nivell in parameters.nivell %}
                                <option value="{{ nivell.id_nivell }}"
                                        {% if parameters.article.id_nivell == nivell.id_nivell %}
                                            selected
                                        {% endif %}
                                        >
                                    {{ nivell.descripcio }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputFabricant">{% block tFabricante %}{% endblock %}</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="id_fabricant">
                            <option value="">NULL</option>
                            {% for fabricant in parameters.fabricant %}
                                <option value="{{ fabricant.id_fabricant }}"
                                        {% if parameters.article.id_fabricant == fabricant.id_fabricant %}
                                            selected
                                        {% endif %}
                                        >
                                    {{ fabricant.descripcio }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputProveidor">{% block tProveedor %}{% endblock %}</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="id_proveidor">
                            <option value="">NULL</option>
                            {% for proveidor in parameters.proveidor %}
                                <option value="{{ proveidor.id_proveidor }}"
                                        {% if parameters.article.id_proveidor == proveidor.id_proveidor %}
                                            selected
                                        {% endif %}
                                        >
                                    {% autoescape 'html' %}
                                    {{ proveidor.descripcio|raw }}
                                    {% endautoescape %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputIVA">{% block tIVA %}{% endblock %}</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="id_iva">
                            {% for iva in parameters.iva %}
                                <option value="{{ iva.id_iva }}"
                                        {% if parameters.article.id_iva == iva.id_iva %}
                                            selected
                                        {% endif %}
                                        >
                                    {{ iva.iva }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDescripcio">{% block tDescripcion %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="descripcio" type="text" class="form-control input-sm" value="{{ parameters.article.descripcio }}" id="inputDescripcio" placeholder="{% block tPDescripcion %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputPlac">{% block tPlazo %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="plac" class="form-control input-sm" type="text" value="{{ parameters.article.plac }}" id="inputPlac" placeholder="{% block tPPlazo %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputImatge">{% block tImagen %}{% endblock %}</label>
                    <div class="col-md-6">
                        <input name="imatge" class="form-control input-sm" type="text" value="{{ parameters.article.imatge }}" id="inputImatge" placeholder="{% block tPImagen %}{% endblock %}">
                    </div>
                    <div class="col-md-1 text-right">
                        <a href="{{ parameters.path }}/src/lib/tinymce/plugins/responsivefilemanager/dialog.php?type=1&amp;subfolder=&amp;editor=mce_0&amp;field_id=inputImatge" class="btn btn-default iframe-btn" type="button">
                            {% block tSeleccionar %}{% endblock %}
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputPreu">{% block tPrecio %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="precio" class="form-control input-sm" type="text" value="{{ parameters.article.precio }}" id="inputPreu" placeholder="{% block tPPrecio %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputReferenciaPropia">{% block tReferenciaPropia %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="referencia_propia" class="form-control input-sm" type="text" value="{{ parameters.article.referencia_propia }}" id="inputReferenciaPropia" placeholder="{% block tPReferenciaPropia %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputReferenciaProveidor">{% block tReferenciaProveedor %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="referencia_proveidor" class="form-control input-sm" type="text" value="{{ parameters.article.referencia_proveidor }}" id="inputReferenciaProveidor" placeholder="{% block tPReferenciaProveedor %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputOfertaDesde">{% block tOfertaDesde %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="oferta_desde" class="form-control input-sm" type="text" value="{{ parameters.article.oferta_desde }}" id="inputOfertaDesde" placeholder="{% block tPOfertaDesde %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputOfertaFins">{% block tOfertaHasta %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="oferta_fins" class="form-control input-sm" type="text" value="{{ parameters.article.oferta_fins }}" id="inputOfertaFins" placeholder="{% block tPOfertaHasta %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputPreuOferta">{% block tOfertaPrecio %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="preu_oferta" class="form-control input-sm" type="text" value="{{ parameters.article.preu_oferta }}" id="inputPreuOferta" placeholder="{% block tPOfertaPrecio %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputStock">{% block tStock %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="stock" class="form-control input-sm" type="text" value="{{ parameters.article.stock }}" id="inputStock" placeholder="{% block tPStock %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputAlta">{% block tAlta %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="alta" class="form-control input-sm" type="text" value="{{ parameters.article.alta }}" id="inputAlta" placeholder="{% block tPAlta %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputActualitzacio">{% block tActualizacion %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="actualitzacio" class="form-control input-sm" type="text" value="" id="inputActualitzacio" placeholder="{% block tPActualizacion %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputInformacio">{% block tInformacion %}{% endblock %}</label>
                    <div class="col-md-7">
                        <textarea name="informacio">{{ parameters.article.informacio }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                    </div>
                </div>
            </form>
            {% if parameters.article.id_article != '' %}
                {% set id = parameters.article.id_article %}
            {% else %}
                {% set id = '-1' %}
            {% endif %}
            {% set nameId = 'id_article' %}
            {% set moduleEliminar = 'article/eliminar' %}
            {% set moduleIndex = 'article/index' %}
            {% set moduleVista = 'article/vista' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
    <script type="text/javascript" src="{{ parameters.path }}/src/lib/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript">
        $(function() {
            $( "#inputAlta" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $( "#inputActualitzacio" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $( "#inputOfertaFins" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $( "#inputOfertaDesde" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });

        $('.iframe-btn').fancybox({
            'width'	 : 900,
            'height'	: 600,
            'type'	 : 'iframe',
            'autoScale' : false,
            'onComplete' : function() {
                //$('#fancybox-wrap')[0].style.top = '10px';
            }
        });
    </script>
{% endblock %}