{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/textbanner/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_textbanner" value="{% if parameters.textbanner.id_textbanner == '' %}-1{% else %}{{ parameters.textbanner.id_textbanner }}{% endif %}" />
            <input type="hidden" name="id_indexpaginaprincipal" value="{% if parameters.textbanner.id_indexpaginaprincipal != '' %}{{ parameters.textbanner.id_indexpaginaprincipal }}{% endif %}" />
            <input type="hidden" name="id_promocio" value="{% if parameters.textbanner.id_promocio != '' %}{{ parameters.textbanner.id_promocio }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputTexto">{% block tTexto %}{% endblock %}</label>
                <div class="col-md-7">
                    <textarea name="textBanner">{{ parameters.textbanner.textBanner }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.textbanner.id_textbanner != '' %}
            {% set id = parameters.textbanner.id_textbanner %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_textbanner' %}
        {% set moduleEliminar = 'textbanner/eliminar' %}
        {% set moduleIndex = 'textbanner/index' %}
        {% set moduleVista = 'textbanner/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}