{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Special{% endblock %}

{% block tLegend %}Special{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPDescripcion %}Write description{% endblock %}
{% block tGuardar %}Save{% endblock %}