{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Widget - Image{% endblock %}

{% block tBorrado %}Deleted image{% endblock %}
{% block tErrorBorrado %}Error to delete image{% endblock %}
{% block tCrear %}Create Image{% endblock %}
{% block tImgen %}Image{% endblock %}
{% block tUrl %}URL{% endblock %}
{% block tAcciones %}Actions{% endblock %}