{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Ficha técnica - Título{% endblock %}

{% block tLegend %}Título{% endblock %}
{% block tModificado %}Se ha modificado el título{% endblock %}
{% block tInsertado %}Se ha insertado el título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}