{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Configuration - Role{% endblock %}

{% block tBorrado %}Deleted role{% endblock %}
{% block tErrorBorrado %}Error to delete role{% endblock %}
{% block tErrorGuardar %}Error to save role{% endblock %}
{% block tCrear %}Create Role{% endblock %}
{% block tNombre %}Name{% endblock %}
{% block tAcciones %}Actions{% endblock %}