{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Fitxa tècnica - Descripció{% endblock %}

{% block tLegend %}Títol{% endblock %}
{% block tModificado %}S'ha modificat la descripció{% endblock %}
{% block tInsertado %}S'ha insertat la descripció{% endblock %}
{% block tTitol %}Títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}