{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Artículo{% endblock %}

{% block tLegend %}Artículo{% endblock %}
{% block tNivel %}Nivel{% endblock %}
{% block tFabricante %}Fabricante{% endblock %}
{% block tProveedor %}Proveedor{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPDescripcion %}Escribe la descripción{% endblock %}
{% block tPlazo %}Plazo de entrega{% endblock %}
{% block tPPlazo %}Escribe el plazo de entrega{% endblock %}
{% block tImagen %}Imagen{% endblock %}
{% block tPImagen %}Escoje la imagen{% endblock %}
{% block tPrecio %}Precio{% endblock %}
{% block tPPrecio %}Escribe el precio{% endblock %}
{% block tReferenciaPropia %}Referencia Propia{% endblock %}
{% block tPReferenciaPropia %}Escribe la referencia propia{% endblock %}
{% block tReferenciaProveedor %}Referencia Proveedor{% endblock %}
{% block tPReferenciaProveedor %}Escribe la referencia del proveedor{% endblock %}
{% block tOfertaDesde %}Oferta desde{% endblock %}
{% block tPOfertaDesde %}Escoje una fecha{% endblock %}
{% block tOfertaHasta %}Oferta hasta{% endblock %}
{% block tPOfertaHasta %}Escoje una fecha.{% endblock %}
{% block tOfertaPrecio %}Precio oferta{% endblock %}
{% block tPOfertaPrecio %}Escribe el precio de la oferta{% endblock %}
{% block tStock %}Stock{% endblock %}
{% block tPStock %}Escribe el stock{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tPAlta %}Escoje una fecha. Por defecto es hoy{% endblock %}
{% block tActualizacion %}Actualización{% endblock %}
{% block tPActualizacion %}Escoje una fecha. Por defecto es hoy.{% endblock %}
{% block tInformacion %}Información{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tFamilia %}Familia{% endblock %}
{% block tSeleccionar %}Galería{% endblock %}