{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Promoción{% endblock %}

{% block tBorrado %}Se ha borrado la promoción{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar la promoción{% endblock %}
{% block tCrear %}Crear Promoción{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tAcciones %}Acciones{% endblock %}