{%  extends parameters.baseTemplate %}

{% block headStyles %}
    <link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <h1>
            Únete a Marxa
        </h1>
    </div>
</div>
<div class="row containerRow">
<div class="col-md-12">
<div class="row containerRow">
    <div class="col-md-12 jumbotron capaInformacion">
        <form action="{{ parameters.path }}/{{ parameters.language }}/registro_finalizar.html" onsubmit="return comprovaciones()" method="POST">
        <input type="hidden" name="id_usuario" value="-1" />
        <input type="hidden" name="id_rol" value="2" />
        <input type="hidden" name="cookie" value="1" />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="descripcio_usuario">
                        <a name="link_usuario">Nombre</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="usuario" value="" placeholder="Escribe tu nombre" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="descripcio_apellidos">
                        <a name="link_apellidos">Apellidos</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="apellidos" value="" placeholder="Escribe tus apellidos" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="descripcio_email">
                        <a name="link_email">Email</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="email" value="" placeholder="Escribe tu email" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="descripcio_password">
                        <a name="link_password">Contraseña</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="require form-control input-sm" name="password" id="password" value="" placeholder="Escribe tu password" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="descripcio_cpassword">
                        <a name="link_cpassword">Confirmar contraseña</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="require form-control input-sm" name="cpassword" id="cpassword" value="" placeholder="Confirma tu contraseña" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" class="requireCheck form-control input-sm" name="politica" />
                    </div>
                </div>
            </div>
            <div class="col-md-11" id="descripcio_politica">
                Acepto las <a href="{{ parameters.path }}/{{ parameters.language }}/condiciones_venta.html" target="_blank">condiciones generales</a> y las <a href="{{ parameters.path }}/{{ parameters.language }}/politicas_de_privacidad_de_datos.html" target="_blank">políticas de privacidad</a> de Marxa.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="submit" class="btn btn-success btn-large" value="REGISTRARSE" />
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript">
    var comprovaciones = function()
    {
        window.tagToMove = '';
        $('.capaInformacion .require').each(function(inputNumber){
            var element = $('.capaInformacion .require')[inputNumber];
            if($('#descripcio_'+element.name+' .label')[0] != undefined)
            {
                $('#descripcio_'+element.name+' .label')[0].remove();
            }
            if(element.value == ''||element.value == 0)
            {
                if(window.tagToMove == '')
                {
                    window.tagToMove = element.name;
                }

                $('#descripcio_'+element.name)[0].innerHTML =
                        '<span class="label label-danger">Error</span>' + $('#descripcio_'+element.name)[0].innerHTML;
            }
        });
        $('.capaInformacion .requireCheck').each(function(inputNumber){
            var element = $('.capaInformacion .requireCheck')[inputNumber];
            if($('#descripcio_'+element.name+' .label')[0] != undefined)
            {
                $('#descripcio_'+element.name+' .label')[0].remove();
            }
            if(element.checked != true)
            {
                if(window.tagToMove == '')
                {
                    window.tagToMove = element.name;
                }

                $('#descripcio_'+element.name)[0].innerHTML =
                        '<span class="label label-danger">Error</span>' + $('#descripcio_'+element.name)[0].innerHTML;
            }
        });
        if($('#descripcio_cpassword .label')[0] != undefined)
        {
            $('#descripcio_cpassword .label')[0].remove();
        }
        if($('#password')[0].value != $('#cpassword')[0].value)
        {
            if(window.tagToMove == '')
            {
                window.tagToMove = 'cpassword';
            }
            $('#descripcio_cpassword')[0].innerHTML = '<span class="label label-danger">Error</span>' + $('#descripcio_cpassword')[0].innerHTML;
        }
        if(window.tagToMove != '')
        {
            window.location.hash='link_'+window.tagToMove;
            return false;
        }

        return true;
    }
</script>
{% endblock %}