{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Page{% endblock %}

{% block tLegend %}Page{% endblock %}
{% block tTitulo %}Title{% endblock %}
{% block tPTitulo %}Write title{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tDescripcionAmigable %}Friendly description{% endblock %}
{% block tPDescripcionAmigable %}Write friendly description{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Write url{% endblock %}
{% block tUltimaModifiacion %}Last update{% endblock %}
{% block tPUltimaModifiacion %}Choose last update. By default is now{% endblock %}
{% block tKeywords %}Keywords{% endblock %}
{% block tGuardar %}Save{% endblock %}