{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Nivell{% endblock %}

{% block tLegend %}Nivell{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPDescripcion %}Escriu la descripció{% endblock %}
{% block tTipo %}Tipus{% endblock %}
{% block tPTipo %}Escriu el tipus{% endblock %}
{% block tAdicional %}Adicional{% endblock %}
{% block tPAdicional %}Escriu el text adicional{% endblock %}
{% block tGuardar %}Guardar{% endblock %}