{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Provider{% endblock %}

{% block tLegend %}Provider{% endblock %}
{% block tModificado %}Provider updated{% endblock %}
{% block tInsertado %}Provider inserted{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPlazoEntrega %}Delivery{% endblock %}