{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Promoció{% endblock %}

{% block tBorrado %}S'ha borrat la promoció{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar la promoció{% endblock %}
{% block tCrear %}Crear promoció{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tAcciones %}Accions{% endblock %}