{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Configuració - Mòdul{% endblock %}

{% block tLegend %}Mòdul{% endblock %}
{% block tModificado %}S'ha modificat el mòdul{% endblock %}
{% block tInsertado %}S'ha insertat el mòdul{% endblock %}
{% block tModule %}Mòdul{% endblock %}
{% block tRol %}Rol{% endblock %}
{% block tUsuario %}Usuari{% endblock %}
{% block tPermisos %}Permissos{% endblock %}