{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Ficha técnica - Descripción{% endblock %}

{% block tLegend %}Descripción{% endblock %}
{% block tTitulo %}Título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tGuardar %}Guardar{% endblock %}