{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Configuration - Module{% endblock %}

{% block tLegend %}Module{% endblock %}
{% block tModule %}Module{% endblock %}
{% block tPModule %}Write module{% endblock %}
{% block tRol %}Role{% endblock %}
{% block tUsuario %}User{% endblock %}
{% block tPermisos %}Permissions{% endblock %}
{% block tPPermisos %}Write permissions{% endblock %}
{% block tGuardar %}Save{% endblock %}