{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Configuració - Rol{% endblock %}

{% block tLegend %}Rol{% endblock %}
{% block tModificado %}S'ha modificat el rol{% endblock %}
{% block tInsertado %}S'ha insertat el rol{% endblock %}
{% block tRol %}Rol{% endblock %}
{% block tUsuarios %}Usuaris{% endblock %}