{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.especial.descripcio }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/especial/guardar.html"
              class="form-horizontal" role="form">
            <input type="hidden" name="id_especial" value="{% if parameters.especial.id_especial == '' %}-1{% else %}{{ parameters.especial.id_especial }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcio">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="descripcio" class="form-control input-sm" type="text" value="{{ parameters.especial.descripcio }}"
                           id="inputDescripcio" placeholder="{% block tPDescripcion %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </div>
            </div>
        </form>
        {% if parameters.especial.id_especial != '' %}
            {% set id = parameters.especial.id_especial %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_especial' %}
        {% set moduleEliminar = 'especial/eliminar' %}
        {% set moduleIndex = 'especial/index' %}
        {% set moduleVista = 'especial/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
{% endblock %}

{% block scriptsjs %}
{% endblock %}