{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
<link href="{{ parameters.path }}/src/lib/datatables/media/css/demo_table.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tBorrado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-danger">
                {% block tErrorBorrado %}{% endblock %}
            </div>
        {% endif %}
        <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/proveidor/form.html" method="POST">
            <input type="hidden" name="id_proveidor" value="-1" />
            <button type="submit" class="btn btn-success pull-right">{% block tCrear %}{% endblock %}</button>
        </form>
    </div>
</div>
    <div class="row containerRow">
        <div class="col-md-12">
        <table id="table_id" class="table table-striped">
            <thead>
            <tr>
                <th>{% block tDescripcion %}{% endblock %}</th>
                <th>{% block tAcciones %}{% endblock %}</th>
            </tr>
            </thead>
            <tbody>
            {% for proveidor in parameters.index %}
                <tr>
                    <td>
                        {% autoescape 'html' %}
                            {{ proveidor.descripcio|raw }}
                        {% endautoescape %}
                    </td>
                    <td>
                        <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/proveidor/vista.html" method="POST" class="buttonNormalFirst">
                            <input type="hidden" name="id_proveidor" value="{{ proveidor.id_proveidor }}" />
                            <button type="submit" class="btn"><span class="foundicon-accessibility-eyeball"></span></button>
                        </form>
                        <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/proveidor/form.html" method="POST" class="buttonNormal">
                            <input type="hidden" name="id_proveidor" value="{{ proveidor.id_proveidor }}" />
                            <button type="submit" class="btn"><span class="foundicon-general-edit"></span></button>
                        </form>
                        <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/proveidor/eliminar.html" method="POST" class="buttonNormal">
                            <input type="hidden" name="id_proveidor" value="{{ proveidor.id_proveidor }}" />
                            <button type="submit" class="btn"><span class="foundicon-general-trash"></span></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scriptsjs %}
<script type="text/javascript" charset="utf-8" src="{{ parameters.path }}/src/lib/datatables/media/js/{{ parameters.language }}/jquery.dataTables.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#table_id').dataTable({
            "aoColumnDefs": [
                { "sClass": "col-md-10",  "aTargets": [ 0 ] }, //Descripció
                { "sClass": "col-md-2", "bSortable": false, "aTargets": [ 1 ] } //Accions
            ]
        });
        //$('#table_id').show();
    });
</script>
{% endblock %}