{%  extends parameters.baseTemplate %}

{% block headStyles %}
    <link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <h1>
            Login Marxa
        </h1>
    </div>
</div>
<div class="row containerRow">
<div class="col-md-12">
<div class="row containerRow">
    <div class="col-md-12 jumbotron capaInformacion">
        <form action="{{ parameters.path }}/{{ parameters.language }}/home.html" onsubmit="return comprovaciones()" method="POST">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-12" id="descripcio_email">
                        <a name="link_email">Email</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="email" value="" placeholder="Escribe tu email" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-12" id="descripcio_password">
                        <a name="link_password">Contraseña</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="require form-control input-sm" name="password" id="password" value="" placeholder="Escribe tu password" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="submit" class="btn btn-success btn-large" value="ENTRAR" />
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript">
    var comprovaciones = function()
    {
        window.tagToMove = '';
        $('.capaInformacion .require').each(function(inputNumber){
            var element = $('.capaInformacion .require')[inputNumber];
            if($('#descripcio_'+element.name+' .label')[0] != undefined)
            {
                $('#descripcio_'+element.name+' .label')[0].remove();
            }
            if(element.value == ''||element.value == 0)
            {
                if(window.tagToMove == '')
                {
                    window.tagToMove = element.name;
                }

                $('#descripcio_'+element.name)[0].innerHTML =
                        '<span class="label label-danger">Error</span>' + $('#descripcio_'+element.name)[0].innerHTML;
            }
        });
        if(window.tagToMove != '')
        {
            window.location.hash='link_'+window.tagToMove;
            return false;
        }

        return true;
    }
</script>
{% endblock %}