{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Família{% endblock %}

{% block tLegend %}Família{% endblock %}
{% block tFamiliaRaiz %}Família arrel{% endblock %}
{% block tFamiliaRaizSelect %}Família arrel{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPDescripcion %}Escriu la descripció{% endblock %}
{% block tOrden %}Ordre{% endblock %}
{% block tPOrden %}Escriu l'ordre{% endblock %}
{% block tGuardar %}Guardar{% endblock %}