{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Nivell{% endblock %}

{% block tBorrado %}S'ha borrat el nivell{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el nivell{% endblock %}
{% block tCrear %}Crear Nivell{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tAcciones %}Accions{% endblock %}