<div class="row containerRow">
    <div class="col-md-12">
        <table id="table_id_externo" class="table table-striped">
            <thead>
            <tr>
                <th>{% block tImagenes %}{% endblock %}</th>
                <th>{% block tAcciones %}{% endblock %}</th>
            </tr>
            </thead>
            <tbody>
            {% for slide in parameters.index %}
                <tr>
                    <td>
                        {% for imatge in slide.imatges %}
                            <img src="{{ imatge.url }}" class="pull-left" width="100" />
                        {% endfor %}
                        <div class="clear">
                            &nbsp;
                        </div>
                    </td>
                    <td>
                        <button onclick="seleccionar({{ slide.id_slide }})"><span class="icon-ok"></span></button>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $('#table_id_externo').dataTable({
        "aoColumnDefs": [
            { "sClass": "col-md-11",  "aTargets": [ 0 ] }, //Imatges
            { "sClass": "col-md-1", "bSortable": false, "aTargets": [ 1 ] } //Accions
        ]
    });
    //$('#table_id_externo').show();

    var seleccionar = function(id_slide)
    {
        $('#{{ parameters.group }} .{{ parameters.subaction }}')[0].value = id_slide;
        $("#{{ parameters.group }} .ajax").colorbox.close();
    }
</script>