{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Fitxa tècnica - Títol{% endblock %}

{% block tLegend %}Títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tGuardar %}Guardar{% endblock %}