{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Pàgina Principal{% endblock %}

{% block tBorrado %}S'ha borrat la pàgina principal{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar la pàgina principal{% endblock %}
{% block tCrear %}Crear Pàgina Principal{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tAcciones %}Accions{% endblock %}