{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Página Principal{% endblock %}

{% block tBorrado %}Se ha borrado la página principal{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar la página principal{% endblock %}
{% block tCrear %}Crear Página Principal{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tAcciones %}Acciones{% endblock %}