{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Pàgina{% endblock %}

{% block tBorrado %}S'ha borrat la pàgina{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar la pàgina{% endblock %}
{% block tCreado %}S'ha produït un error al crear la pàgina{% endblock %}
{% block tCrear %}Crear Pàgina{% endblock %}
{% block tTitulo %}Títol{% endblock %}
{% block tDescripcionAmigable %}Descripció amigable{% endblock %}
{% block tUltimaModificacion %}Última modificació{% endblock %}
{% block tAcciones %}Accions{% endblock %}