{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Configuration - Role{% endblock %}

{% block tLegend %}Role{% endblock %}
{% block tRol %}Role{% endblock %}
{% block tPRol %}Write role{% endblock %}
{% block tGuardar %}Save{% endblock %}