{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Família{% endblock %}

{% block tLegend %}Família{% endblock %}
{% block tModificado %}S'ha modificat la família{% endblock %}
{% block tInsertado %}S'ha insertat la família{% endblock %}
{% block tFamiliaRaiz %}Família Arrel{% endblock %}
{% block tFamiliaRaizSelect %}Família Arrel{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tImagen %}Imatge{% endblock %}