{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Configuración - Usuario{% endblock %}

{% block tLegend %}Usuario{% endblock %}
{% block tUsuario %}Usuario{% endblock %}
{% block tPUsuario %}Escribe el usuario{% endblock %}
{% block tApellidos %}Apellidos{% endblock %}
{% block tPApellidos %}Escribe los apellidos{% endblock %}
{% block tRolPrincipal %}Rol principal{% endblock %}
{% block tEmail %}Email{% endblock %}
{% block tPEmail %}Escribe el email{% endblock %}
{% block tPassword %}Password{% endblock %}
{% block tPPasswordCrear %}Escribe el password{% endblock %}
{% block tPPasswordModificar %}Si lo dejas en blanco se mantendrá el que ya tenía.{% endblock %}
{% block tActivo %}Activo{% endblock %}
{% block tCookie %}Cookie{% endblock %}
{% block tPCookie %}Escribe la cookie{% endblock %}
{% block tRoles %}Roles{% endblock %}
{% block tNombre %}Nombre{% endblock %}
{% block tSeleccion %}Selección{% endblock %}
{% block tGuardar %}Guardar{% endblock %}