{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {% autoescape 'html' %}{{ parameters.proveidor.descripcio|raw }}{% endautoescape %}</legend>
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tModificado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-success">
                {% block tInsertado %}{% endblock %}
            </div>
        {% endif %}
        <dl class="dl-horizontal">
            <dt>{% block tDescripcion %}{% endblock %}</dt>
            <dd>
                {% autoescape 'html' %}
                    {{ parameters.proveidor.descripcio|raw }}
                {% endautoescape %}
            </dd>
            <dt>{% block tPlazoEntrega %}{% endblock %}</dt>
            <dd>
                {{ parameters.proveidor.plac }}
            </dd>
        </dl>
        {% set id = parameters.proveidor.id_proveidor %}
        {% set nameId = 'id_proveidor' %}
        {% set moduleEliminar = 'proveidor/eliminar' %}
        {% set moduleIndex = 'proveidor/index' %}
        {% set moduleForm = 'proveidor/form' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}