{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Configuració - Usuari{% endblock %}

{% block tLegend %}Usuari{% endblock %}
{% block tModificado %}S'ha modificat l'usuari{% endblock %}
{% block tInsertado %}S'ha insertat l'usuari{% endblock %}
{% block tUsuario %}Usuari{% endblock %}
{% block tApellios %}Cognoms{% endblock %}
{% block tRol %}Rol principal{% endblock %}
{% block tEmail %}Email{% endblock %}
{% block tPassword %}Contrasenya{% endblock %}
{% block tPPassword %}Encriptada per la protecció de dades{% endblock %}
{% block tCookie %}Cookie{% endblock %}
{% block tActivo %}Actiu{% endblock %}
{% block tRoles %}Rols{% endblock %}