{%  extends parameters.baseModuleTemplate %}

{% block headStyles %}
    <meta name="robots" content="NOINDEX,NOFOLLOW">
{% endblock %}

{% block headTitle %}Página no encontrada{% endblock %}

{% block bodyTitle %}Página no encontrada{% endblock %}