{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Manufacturer{% endblock %}

{% block tLegend %}Manufacturer{% endblock %}
{% block tModificado %}Manufacturer updated{% endblock %}
{% block tInsertado %}Manufacturer inserted{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tImagen %}Image{% endblock %}