{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Widget - Image{% endblock %}

{% block tLegend %}Image{% endblock %}
{% block tModificado %}Image updated{% endblock %}
{% block tInsertado %}Image inserted{% endblock %}
{% block tImagen %}Image{% endblock %}
{% block tUrl %}tUrl{% endblock %}