{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {% autoescape 'html' %}{{ parameters.proveidor.descripcio|raw }}{% endautoescape %}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/proveidor/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_proveidor" value="{% if parameters.proveidor.id_proveidor == '' %}-1{% else %}{{ parameters.proveidor.id_proveidor }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputTexto">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <textarea name="descripcio">{{ parameters.proveidor.descripcio }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputPlac">{% block tPlazoEntrega %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="plac" type="text" value="{{ parameters.proveidor.plac }}" id="inputPlac"
                           class="form-control input-sm" placeholder="{% block tPPlazoEntrega %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.proveidor.id_proveidor != '' %}
            {% set id = parameters.proveidor.id_proveidor %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_proveidor' %}
        {% set moduleEliminar = 'proveidor/eliminar' %}
        {% set moduleIndex = 'proveidor/index' %}
        {% set moduleVista = 'proveidor/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}