{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Fitxa tècnica - Títol{% endblock %}

{% block tLegend %}Títol{% endblock %}
{% block tModificado %}S'ha modificat el títol{% endblock %}
{% block tInsertado %}S'ha insertat el títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}