{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Configuració - Rol{% endblock %}

{% block tLegend %}Rol{% endblock %}
{% block tRol %}Rol{% endblock %}
{% block tPRol %}Escriu el rol{% endblock %}
{% block tGuardar %}Guardar{% endblock %}