@import 'variable';

body{
  //background: url(@backgroungBody);
  background-color: #f3f0e2;
  font-family: @fuentePrincipal;

  .navbar-nav .linkMenu{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #capa-carrito{

    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
      padding: 0;
    }

    #capa-resumen-carrito{
      padding: 0 15px 0;
    }

    #boton-carrito{
      font-size: 10pt;
    }

    .imagen-articulo-carrito-resumen{
      width: 100%;
      max-width: 100px;
    }

    .link-carrito-resumen{
      font-size: 12pt;
    }

    .navbar-collapse{
      max-height: none;
    }
  }


  .container{
    padding: 0;

    .row{
      margin: 0;
    }

    .containerRow{
      padding: 10px 0 10px;
      background: url(@backgroungBodyContent) top;
    }
  }

  #beforeLayer{
    background-color: @colorPrincipal;
    height: 4px;
    width: 100%;
  }

  #topLayer{
    margin-top: 7px;
  }

  .carousel{
    position: relative;
  }

  #mainLayer{
    border: 1px #FFFFFF solid;
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .navbar-brand{
    padding: 5px 0px 5px;
  }

  #headerRow{
    background: url(@backgroungBodyCabecera) top no-repeat #FFFFFF;

    #navPrincipal{
      background: none;
      position: relative;
      padding: 10px 0 5px;
      margin-bottom: 0;
      border: none;

      a{
        color:@colorPrincipal;
        text-decoration:none;
      }
      a:hover,a:focus{
        color:@colorPrincipalFuerte;
      }

      .dropdown-menu{

        a{
          color:black;
        }
        a:hover,a:focus{
          color:white;
        }
      }
    }

    #facebookIcon a{
      color: #3b5998;
      font-size: 16pt;
    }
  }

  #footerRow{
    color: #FFFFFF;
    padding: 20px 0;
    height: auto;
    min-height: 280px;
    background: @colorPrincipal;

    #lineaDivisoria {
      height: 35px;
    }
    #logosPago {
      margin: 10px 0;
    }

    #copyright{
      margin: 0 5px 0 0;
    }

    img {
      margin: 0 0 0 5px;
    }

    a {
      color: #FFFFFF;

      :hover{
        text-decoration: underline;
      }
    }

    span {
      font-size: 8pt;
    }

     #layer4 span {
      font-size: 12pt;
       margin-right: 12px;
    }

    h4 {
      padding: 0 0 0 20px;
      color: #FFFFFF;
    }

    ul{
      padding: 0 0 0 20px;

      li{
        list-style: none;
        height: 30px;
      }
    }
  }

  h1, h2, h3, h4, h5{
    color: @colorPrincipal;
    font-family: @fuenteTitulo;
  }
  h2{
    font-size: 18pt;
  }

  h3{
    font-size: 14pt;
  }
}