@colorPrincipal: #5fae5a;
@colorPrincipalFuerte: #427e3e;
@fuentePrincipal: "'News Cycle', sans-serif";
@fuenteTitulo: "'News Cycle', sans-serif";
@pathIMG: '../img/';
@backgroungBody: '@{pathIMG}fons.jpg';
@backgroungBodyCabecera: '@{pathIMG}cabecera.png';
@backgroungBodyContent: '@{pathIMG}cuerpo.png';
@backgroungBodyFooter: '@{pathIMG}footer.png';