{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - IVA{% endblock %}

{% block tLegend %}IVA{% endblock %}
{% block tModificado %}Se ha modificado el IVA{% endblock %}
{% block tInsertado %}Se ha insertado el IVA{% endblock %}
{% block tIVA %}IVA{% endblock %}