{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Widget - Texto{% endblock %}

{% block tBorrado %}Se ha borrado el texto{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el texto{% endblock %}
{% block tCrear %}Crear Texto{% endblock %}
{% block tIntroduccion %}Introducción{% endblock %}
{% block tAcciones %}Acciones{% endblock %}