{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {% autoescape 'html' %}{{ parameters.titol.descripcio|raw }}{% endautoescape %}</legend>
            <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/guardarTitol.html" class="form-horizontal">
                <input type="hidden" name="id_fitxatecnicatitol" value="{% if parameters.titol.id_fitxatecnicatitol == '' %}-1{% else %}{{ parameters.titol.id_fitxatecnicatitol }}{% endif %}" />
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputTexto">{% block tDescripcion %}{% endblock %}</label>
                    <div class="col-md-7">
                        <textarea name="descripcio">{{ parameters.titol.descripcio }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <center>
                        <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                    </center>
                </div>
            </form>
            {% if parameters.titol.id_fitxatecnicatitol != '' %}
                {% set id = parameters.titol.id_fitxatecnicatitol %}
            {% else %}
                {% set id = '-1' %}
            {% endif %}
            {% set nameId = 'id_fitxatecnicatitol' %}
            {% set moduleEliminar = 'fitxaTecnica/eliminarTitol' %}
            {% set moduleIndex = 'fitxaTecnica/index' %}
            {% set moduleVista = 'fitxaTecnica/vistaTitol' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}