{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Nivell{% endblock %}

{% block tLegend %}Nivell{% endblock %}
{% block tModificado %}S'ha modificat el nivell{% endblock %}
{% block tInsertado %}S'ha insertat el nivell{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tTipo %}Tipus{% endblock %}
{% block tAdicional %}Adicional{% endblock %}