{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Widget - Image{% endblock %}

{% block tLegend %}Image{% endblock %}
{% block tImatge %}Image{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Choose the image{% endblock %}
{% block tSeleccionar %}Gallery{% endblock %}
{% block tGuardar %}Save{% endblock %}