{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Fabricant{% endblock %}

{% block tLegend %}Fabricant{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPDescripcion %}Escriu la descripció{% endblock %}
{% block tImagen %}Imatge{% endblock %}
{% block tPImagen %}Tria la imatge{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tSeleccionar %}Galeria{% endblock %}