{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Technical - Description{% endblock %}

{% block tLegend %}Description{% endblock %}
{% block tModificado %}Description updated{% endblock %}
{% block tInsertado %}Description inserted{% endblock %}
{% block tTitol %}Title{% endblock %}
{% block tDescripcion %}Description{% endblock %}