{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Nivel{% endblock %}

{% block tLegend %}Nivel{% endblock %}
{% block tModificado %}Se ha modificado el nivel{% endblock %}
{% block tInsertado %}Se ha insertado el nivel{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tTipo %}Tipo{% endblock %}
{% block tAdicional %}Adicional{% endblock %}