{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {{ parameters.especial.descripcio }}</legend>
            {% if parameters.success == 1 %}
                <div class="alert alert-success">
                    {% block tModificado %}{% endblock %}
                </div>
            {% endif %}
            {% if parameters.success == 2 %}
                <div class="alert alert-success">
                    {% block tInsertado %}{% endblock %}
                </div>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>{% block tDescripcion %}{% endblock %}</dt>
                <dd>
                    {{ parameters.especial.descripcio }}
                </dd>
            </dl>
            {% set id = parameters.especial.id_especial %}
            {% set nameId = 'id_especial' %}
            {% set moduleEliminar = 'especial/eliminar' %}
            {% set moduleIndex = 'especial/index' %}
            {% set moduleForm = 'especial/form' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}