{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Entrar{% endblock %}

{% block labelUsername %}Usuario:{% endblock %}
{% block valueUsername %}Administrador{% endblock %}
{% block labelPassword %}Contraseña{% endblock %}
{% block labelForgotPassword %}¿Has olvidado tu constraseña?{% endblock %}
{% block labelKeep %}Guardar mi sesión{% endblock %}
{% block labelLogin %}Entrar{% endblock %}