{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Widget - Texto{% endblock %}

{% block tLegend %}Texto{% endblock %}
{% block tModificado %}Se ha modificado el texto{% endblock %}
{% block tInsertado %}Se ha insertado el texto{% endblock %}
{% block tTexto %}Texto{% endblock %}