{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Contingut{% endblock %}

{% block tLegend %}Contingut{% endblock %}

{% block tTitulo %}Títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tImagen %}Imatge{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tModificado %}S'ha modificat el contingut{% endblock %}
{% block tInsertado %}S'ha insertat el contingut{% endblock %}