{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Contenido{% endblock %}

{% block tBorrado %}Se ha borrado el contenido{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el contenido{% endblock %}
{% block tCrear %}Crear Contenido{% endblock %}
{% block tTitulo %}Título{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tAcciones %}Acciones{% endblock %}