{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Promoció{% endblock %}

{% block tLegend %}Promoció{% endblock %}
{% block tTipoWidget %}Tipus de widget{% endblock %}
{% block tIdTipoWidget %}Widget{% endblock %}
{% block tPIdTipoWidget %}Escull el widget{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPDescripcion %}Escriu la descripció{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tLegendIndex %}Promoció - Índex{% endblock %}
{% block tInfoEliminado %}<b>Informació</b> Element eliminat{% endblock %}
{% block tInfoCreado %}<b>Informació</b> Element creat{% endblock %}
{% block tCheck %}Selecció{% endblock %}
{% block tPagina %}Pàgina{% endblock %}