{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Contingut{% endblock %}

{% block tLegend %}Contingut{% endblock %}
{% block tTitulo %}Títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tImagen %}Imatge{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tSeleccionar %}Galeria{% endblock %}
{% block tPTitulo %}Escriu el títol del contingut{% endblock %}
{% block tPAlta %}Escull una data. Per defecte és avui{% endblock %}
{% block tPImatge %}Escull una imatge{% endblock %}