@import '../../general/css/variable';

body{
  .container{
    #capaTodaInformacion{
      padding: 15px;
      background: white;
      border: 1px @colorPrincipal solid;
      text-align: center;
      margin-bottom: 0;

      #foto-article{
        max-width: 234px;
      }

      #foto-fabricant{
        max-width: 94px;
      }

      #descripcio{
        height: 100px;
        overflow: hidden;
      }

      h1{
        font-weight: bold;
        color: @colorPrincipal;
        font-size: 20pt;
        margin: 5px 0 5px;
      }

      #grupo-precio{
        color: grey;
        font-size: 14pt;
        text-align: left;

        #precio{
          font-size: 16pt;
          color: red;
        }
      }

      #grupo-comprar{
        padding: 0 0  0;
        margin: 0;
        text-align: left;
        border: 1px @colorPrincipal solid;

        #capa-input-cantidad
        {
          margin-top: 9px;
          margin-bottom: 9px;

          #input-cantidad
          {
            text-align: center;
          }
        }

        #capa-boto-anadir
        {
          padding: 0;
          text-align: center;

          #boto-anadir
          {
            font-size: 17pt;
          }
        }
      }

      #grupo-adicional{
        font-size: 10pt;
      }

      #grupo-redes-sociales{
        font-size: 10pt;

        #logoFacebook{
          font-size: 12pt;
          color: #3b5998;
        }

        #redTwitter{
          margin: 8px 0;
        }

        #redGoogle{
          margin: 8px 0;
        }
      }
    }

    #preCapaInformacionAdicional{

      .containerRow{
        padding-right: 7px;
      }
    }

    #capaInformacionAdicional{
      text-align: center;
      padding: 15px;
    }

    .containerRow{
      padding: 5px 0 5px;
    }

    #capaMasInformacion{
      padding: 15px;
      background: white;
      border: 1px @colorPrincipal solid;
      font-size: 12pt;
      line-height: 20px;
      margin-top: -1px;
      margin-bottom: 0px;

      h2{
        font-size: 14pt;
        font-weight: bold;
        margin-top: 0;
      }
    }
  }
}