body .container #capaTodaInformacion {
  padding: 15px;
  background: white;
  border: 1px #5fae5a solid;
  text-align: center;
  margin-bottom: 0;
}
body .container #capaTodaInformacion #foto-article {
  max-width: 234px;
}
body .container #capaTodaInformacion #foto-fabricant {
  max-width: 94px;
}
body .container #capaTodaInformacion #descripcio {
  height: 100px;
  overflow: hidden;
}
body .container #capaTodaInformacion h1 {
  font-weight: bold;
  color: #5fae5a;
  font-size: 20pt;
  margin: 5px 0 5px;
}
body .container #capaTodaInformacion #grupo-precio {
  color: grey;
  font-size: 14pt;
  text-align: left;
}
body .container #capaTodaInformacion #grupo-precio #precio {
  font-size: 16pt;
  color: red;
}
body .container #capaTodaInformacion #grupo-comprar {
  padding: 0 0  0;
  margin: 0;
  text-align: left;
  border: 1px #5fae5a solid;
}
body .container #capaTodaInformacion #grupo-comprar #capa-input-cantidad {
  margin-top: 9px;
  margin-bottom: 9px;
}
body .container #capaTodaInformacion #grupo-comprar #capa-input-cantidad #input-cantidad {
  text-align: center;
}
body .container #capaTodaInformacion #grupo-comprar #capa-boto-anadir {
  padding: 0;
  text-align: center;
}
body .container #capaTodaInformacion #grupo-comprar #capa-boto-anadir #boto-anadir {
  font-size: 17pt;
}
body .container #capaTodaInformacion #grupo-adicional {
  font-size: 10pt;
}
body .container #capaTodaInformacion #grupo-redes-sociales {
  font-size: 10pt;
}
body .container #capaTodaInformacion #grupo-redes-sociales #logoFacebook {
  font-size: 12pt;
  color: #3b5998;
}
body .container #capaTodaInformacion #grupo-redes-sociales #redTwitter {
  margin: 8px 0;
}
body .container #capaTodaInformacion #grupo-redes-sociales #redGoogle {
  margin: 8px 0;
}
body .container #preCapaInformacionAdicional .containerRow {
  padding-right: 7px;
}
body .container #capaInformacionAdicional {
  text-align: center;
  padding: 15px;
}
body .container .containerRow {
  padding: 5px 0 5px;
}
body .container #capaMasInformacion {
  padding: 15px;
  background: white;
  border: 1px #5fae5a solid;
  font-size: 12pt;
  line-height: 20px;
  margin-top: -1px;
  margin-bottom: 0px;
}
body .container #capaMasInformacion h2 {
  font-size: 14pt;
  font-weight: bold;
  margin-top: 0;
}
