{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Especial{% endblock %}

{% block tBorrado %}Se ha borrado el especial{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el especial{% endblock %}
{% block tCrear %}Crear Especial{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tAcciones %}Acciones{% endblock %}