{%  extends parameters.baseTemplateTolanguage %}

{% block tHeadTitle %}Marxa Administrator{% endblock %}
{% block tHeadDescription %}Marxa Administrator{% endblock %}
{% block tHeadKeywords %}marxa, administrator{% endblock %}
{% block tAplicationName %}Marxa Administrator{% endblock %}

{% block tBienvenida %}Welcome to Marxa administrator!{% endblock %}
{% block tAyuda %}HELP{% endblock %}
{% block tBanderaCataluna %}Catalan{% endblock %}
{% block tBanderaCataluna2 %}Catalan{% endblock %}
{% block tBanderaCataluna3 %}Catalan{% endblock %}
{% block tBanderaEspana %}Spanish{% endblock %}
{% block tBanderaEspana2 %}Spanish{% endblock %}
{% block tBanderaEspana3 %}Spanish{% endblock %}
{% block tBanderaEnglish %}English{% endblock %}
{% block tBanderaEnglish2 %}English{% endblock %}
{% block tBanderaEnglish3 %}English{% endblock %}