{%  extends parameters.buttonsViewTemplate %}

{% block volverIndice %}Back to index{% endblock %}

{% block messageConfirm %}Are you sure you want to delete?{% endblock %}

{% block eliminar %}Delete{% endblock %}

{% block modificar %}Update{% endblock %}