{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Artículo{% endblock %}

{% block tLegend %}Item{% endblock %}
{% block tNivel %}Level{% endblock %}
{% block tFabricante %}Manufacturer{% endblock %}
{% block tProveedor %}Provider{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPDescripcion %}Write description{% endblock %}
{% block tPlazo %}Delivery{% endblock %}
{% block tPPlazo %}Write delivery{% endblock %}
{% block tImagen %}Image{% endblock %}
{% block tPImagen %}Choose Image{% endblock %}
{% block tPrecio %}Price{% endblock %}
{% block tPPrecio %}Write price{% endblock %}
{% block tReferenciaPropia %}Own reference{% endblock %}
{% block tPReferenciaPropia %}Write own reference{% endblock %}
{% block tReferenciaProveedor %}Provider reference{% endblock %}
{% block tPReferenciaProveedor %}Write provider reference{% endblock %}
{% block tOfertaDesde %}Offer from{% endblock %}
{% block tPOfertaDesde %}Choose a date{% endblock %}
{% block tOfertaHasta %}Offer to{% endblock %}
{% block tPOfertaHasta %}Choose a date{% endblock %}
{% block tOfertaPrecio %}Price offer{% endblock %}
{% block tPOfertaPrecio %}Write price offer{% endblock %}
{% block tStock %}Stock{% endblock %}
{% block tPStock %}Write stock{% endblock %}
{% block tAlta %}Creation{% endblock %}
{% block tPAlta %}Choose a date. By default is now{% endblock %}
{% block tActualizacion %}Update{% endblock %}
{% block tPActualizacion %}Choose a date. By default is now{% endblock %}
{% block tInformacion %}Information{% endblock %}
{% block tGuardar %}Save{% endblock %}
{% block tFamilia %}Family{% endblock %}
{% block tSeleccionar %}Galery{% endblock %}