{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Contenido{% endblock %}

{% block tLegend %}Contenido{% endblock %}

{% block tTitulo %}Título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tImagen %}Imagen{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tModificado %}Se ha modificado el contenido{% endblock %}
{% block tInsertado %}Se ha insertado el contenido{% endblock %}