{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Promotion{% endblock %}

{% block tBorrado %}Deleted promotion{% endblock %}
{% block tErrorBorrado %}Error to delete promotion{% endblock %}
{% block tCrear %}Create Promotion{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tAcciones %}Actions{% endblock %}