{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Especial{% endblock %}

{% block tBorrado %}S'ha borrat l'especial{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar l'especial{% endblock %}
{% block tCrear %}Crear Especial{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tAcciones %}Accions{% endblock %}