{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Manufacturer{% endblock %}

{% block tLegend %}Manufacturer{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPDescripcion %}Write description{% endblock %}
{% block tImagen %}Image{% endblock %}
{% block tPImagen %}Choose image{% endblock %}
{% block tGuardar %}Save{% endblock %}
{% block tSeleccionar %}Galery{% endblock %}