{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
<link href="{{ parameters.path }}/src/lib/datatables/media/css/demo_table.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}</legend>
        <form method="POST" id="formularioPrincipal" action="{{ parameters.path }}/{{ parameters.language }}/administrador/promocio/guardar.html" onsubmit="return false;" class="form-horizontal">
            <input type="hidden" name="id_promocio" value="{% if parameters.promocio.id_promocio == '' %}-1{% else %}{{ parameters.promocio.id_promocio }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputIdPagina">{% block tTipoWidget %}{% endblock %}</label>
                <div class="col-md-7">
                    {% set defaultModule = parameters.widgets[0].module %}
                    {% set defaultModuleView = parameters.widgets[0].moduleView %}
                    {% set defaultModuleViewIndex = parameters.widgets[0].moduleViewIndex %}
                    <select class="form-control input-sm" onchange="changeSelect('formularioPrincipal', this)" name="tipus">
                    {% for widget in parameters.widgets %}
                        <option value="{{ widget.name }}"
                        {% if parameters.promocio.tipus == widget.name %}
                            {% set defaultModule = widget.module %}
                            {% set defaultModuleView = widget.moduleView %}
                            {% set defaultModuleViewIndex = widget.moduleViewIndex %}
                            selected
                        {% endif %}
                        >{{ widget.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputIdPagina">{% block tIdTipoWidget %}{% endblock %}</label>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="id_tipus" value="{{ parameters.promocio.id_tipus }}"
                           placeholder="{% block tPIdTipoWidget %}{% endblock %}"/>
                </div>
                <div class="col-md-1">
                    <a class='ajax' href="{{ parameters.path }}/{{ parameters.language }}/{{ defaultModule }}/indexExterno.html">
                        <span class="foundicon-general-page"></span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcion">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="descripcio" type="text" value="{{ parameters.promocio.descripcio }}" id="inputDescripcion"
                           class="form-control input-sm" placeholder="{% block tPDescripcion %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <center>
                    <input type="hidden" class="module" name="module" value="{{ defaultModule }}" />
                    <input type="hidden" class="moduleView" name="moduleView" value="{{ defaultModuleView }}" />
                    <input type="hidden" class="moduleViewIndex" name="moduleViewIndex" value="{{ defaultModuleViewIndex }}" />
                    <button type="submit" onclick="guardar(this);" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
    </fieldset>
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset id="indexPromocio" {% if parameters.promocio.id_promocio == '' %}class="hide"{% endif %}>
        <legend>{% block tLegendIndex %}{% endblock %}</legend>
        <div class="alert alert-info hide" id="elementoEliminado">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {% block tInfoEliminado %}{% endblock %}
        </div>
        <div class="alert alert-info hide" id="elementoCreado">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {% block tInfoCreado %}{% endblock %}
        </div>
        <table id="table_id" class="table table-striped">
            <thead>
            <tr>
                <th>{% block tCheck %}{% endblock %}</th>
                <th>{% block tPagina %}{% endblock %}</th>
            </tr>
            </thead>
            <tbody>
            {% for element in parameters.pagines %}
                <tr id="formElement{{ parameters.promocio.id_promocio }}-{{ element.id_pagina }}">
                    <td>
                        {% set checkedLabel = '' %}
                        {% for elementPromocio in parameters.promocio.index %}
                            {% if elementPromocio.id_pagina == element.id_pagina %}
                                {% set checkedLabel = 'checked' %}
                            {% endif %}
                        {% endfor %}
                        <input type="checkbox" {{ checkedLabel }} class="checkActive" onclick="guardarElement('formElement{{ parameters.promocio.id_promocio }}-{{ element.id_pagina }}')" name="checkActive" />
                    </td>
                    <td>
                        <input type="hidden" class="id_pagina" name="id_pagina" value="{{ element.id_pagina }}" />
                        {{ element.descripcio_amigable }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript" charset="utf-8" src="{{ parameters.path }}/src/lib/datatables/media/js/{{ parameters.language }}/jquery.dataTables.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $("#formularioPrincipal .ajax").colorbox({
            height: '75%',
            onComplete:function(){ $('#cboxLoadedContent')[0].style.overflowX = 'hidden'; }
        });
        $('#table_id').dataTable({
            "aoColumnDefs": [
                { "sClass": "col-md-1", "bSortable": false, "aTargets": [ 0 ] },                    //Check
                { "sClass": "col-md-11", "bSortable": false, "aTargets": [ 1 ] }                     //Página
            ]
        });
        //$('#table_id').show();
    });

    var guardar = function ()
    {
        var formPaginaPrincipal = $('#formularioPrincipal')[0];
        var dataObject = new Object();
        dataObject.id_promocio = formPaginaPrincipal.id_promocio.value;
        dataObject.id_tipus = formPaginaPrincipal.id_tipus.value;
        dataObject.tipus = formPaginaPrincipal.tipus.value;
        dataObject.descripcio = formPaginaPrincipal.descripcio.value;
        $.ajax({
            type: "JSON",
            async: false,
            url: "{{ parameters.path }}/{{ parameters.language }}/administrador/promocio/guardar.html",
            data: JSON.stringify(dataObject)
        }).done(function( htmlContent ) {
                    var formPaginaPrincipal = $('#formularioPrincipal')[0];
                    $('#indexPromocio').removeClass('hide');
                    formPaginaPrincipal.id_promocio.value = htmlContent;
                });
    }

    var guardarElement = function (formId)
    {
        window.oldFormId = formId;
        var dataObject = new Object();
        var formPaginaPrincipal = $('#formularioPrincipal')[0];
        dataObject.id_promocio = formPaginaPrincipal.id_promocio.value;
        dataObject.id_pagina = $('#'+formId+' .id_pagina')[0].value;
        if($('#'+formId+' .checkActive')[0].checked == true)
        {
            var module = 'guardarElement';
        }else{
            var module = 'eliminarElement';
        }
        $('#elementoEliminado').hide();
        $('#elementoCreado').hide();
        $.ajax({
            type: "JSON",
            async: false,
            url: "{{ parameters.path }}/{{ parameters.language }}/administrador/promocio/"+module+".html",
            data: JSON.stringify(dataObject)
        }).done(function( content ) {
                    content = JSON.parse(content);

                    if(content.info == 'Elemento creado')
                    {
                        $('#elementoCreado').show();
                    }

                    if(content.info == 'Elemento eliminado')
                    {
                        $('#elementoEliminado').show();
                    }
                });
    }

    var changeSelect = function(id_form, newSelect)
    {
        var inputToClear = $('#'+id_form+' .id_tipus')[0];
        inputToClear.value = '';

        var typeElement = '';
        var typeElementView = '';
        var typeElementViewIndex = '';
        {% for widget in parameters.widgets %}
            if(newSelect.value == '{{ widget.name }}')
            {
                typeElement = '{{ widget.module }}';
                typeElementView = '{{ widget.moduleView }}';
                typeElementViewIndex = '{{ widget.moduleViewIndex }}';
            }

        {% endfor %}
        var linkToChange = $('#'+id_form+' .ajax')[0];
        var moduleToChange = $('#'+id_form+' .module')[0];
        var moduleViewToChange = $('#'+id_form+' .moduleView')[0];
        var moduleViewIndexToChange = $('#'+id_form+' .moduleViewIndex')[0];
        linkToChange.href = '{{ parameters.path }}/{{ parameters.language }}/'+typeElement+'/indexExterno.html/id_tipus/'+id_form;
        moduleToChange.value = typeElement;
        moduleViewToChange.value = typeElementView;
        moduleViewIndexToChange.value = typeElementViewIndex;
    }
</script>
{% endblock %}