{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Fabricante{% endblock %}

{% block tLegend %}Fabricante{% endblock %}
{% block tModificado %}Se ha modificado el fabricante{% endblock %}
{% block tInsertado %}Se ha insertado el fabricante{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tImagen %}Imagen{% endblock %}