{% extends parameters.baseTemplate %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        {% block tNoEncontrado %}{% endblock %}
    </div>
</div>
{% endblock %}