{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Level{% endblock %}

{% block tBorrado %}Deleted level{% endblock %}
{% block tErrorBorrado %}Error to delete level{% endblock %}
{% block tCrear %}Create Level{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tAcciones %}Actions{% endblock %}