{%  extends parameters.baseTemplate %}

{% block headStyles %}
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.rol.rol }}</legend>
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tModificado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-success">
                {% block tInsertado %}{% endblock %}
            </div>
        {% endif %}
        <dl class="dl-horizontal">
            <dt>{% block tRol %}{% endblock %}</dt>
            <dd>
                {{ parameters.rol.rol }}
            </dd>
            <dt>{% block tUsuarios %}{% endblock %}</dt>
            <dd>
                {% for usuario in parameters.rol.usuarios %}
                    {{ usuario.usuario }}<br/>
                {% endfor %}
            </dd>
        </dl>
        {% set id = parameters.rol.id_rol %}
        {% set nameId = 'id_rol' %}
        {% set moduleEliminar = 'rol/eliminar' %}
        {% set moduleIndex = 'rol/index' %}
        {% set moduleForm = 'rol/form' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}