{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Ficha técnica - Descripción{% endblock %}

{% block tLegend %}Descripción{% endblock %}
{% block tModificado %}Se ha modificado la descripción{% endblock %}
{% block tInsertado %}Se ha insertado la descripción{% endblock %}
{% block tTitol %}Título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}