{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Pàgina{% endblock %}

{% block tLegend %}Pàgina{% endblock %}
{% block tTitulo %}Títol{% endblock %}
{% block tPTitulo %}Escriu el títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tDescripcionAmigable %}Descripció amigable{% endblock %}
{% block tPDescripcionAmigable %}Escriu la descripció amigable{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Escriu la url{% endblock %}
{% block tUltimaModifiacion %}Última modificació{% endblock %}
{% block tPUltimaModifiacion %}Escriu la última modificació. Per defecte és ara{% endblock %}
{% block tKeywords %}Keywords{% endblock %}
{% block tGuardar %}Guardar{% endblock %}