{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Text{% endblock %}

{% block tBorrado %}S'ha borrat el text{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el text{% endblock %}
{% block tCrear %}Crear Text{% endblock %}
{% block tIntroduccion %}Introducció{% endblock %}
{% block tAcciones %}Accions{% endblock %}