{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Ficha técnica{% endblock %}

{% block tBorrado %}Se ha borrado el elemento de la ficha técnica{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el elemento de la ficha técnica{% endblock %}
{% block tLegendTitulos %}Títulos{% endblock %}
{% block tCrearTitulo %}Crear Título{% endblock %}
{% block tTitulo %}Título{% endblock %}
{% block tAcciones %}Acciones{% endblock %}
{% block tLegendDescripciones %}Descripciones{% endblock %}
{% block tCrearDescripcion %}Crear Descripción{% endblock %}
{% block tTitulo2 %}Título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tAcciones2 %}Acciones{% endblock %}