{%  extends parameters.baseTemplateTolanguage %}

{% block tHeadTitle %}Administrador Marxa{% endblock %}
{% block tHeadDescription %}Administrador Marxa{% endblock %}
{% block tHeadKeywords %}administrador, marxa{% endblock %}
{% block tAplicationName %}Administrador Marxa{% endblock %}

{% block tBienvenida %}Bienvenida/o al administrador de Marxa!{% endblock %}
{% block tAyuda %}AYUDA{% endblock %}
{% block tBanderaCataluna %}Catalán{% endblock %}
{% block tBanderaCataluna2 %}Catalán{% endblock %}
{% block tBanderaCataluna3 %}Catalán{% endblock %}
{% block tBanderaEspana %}Español{% endblock %}
{% block tBanderaEspana2 %}Español{% endblock %}
{% block tBanderaEspana3 %}Español{% endblock %}
{% block tBanderaEnglish %}Inglés{% endblock %}
{% block tBanderaEnglish2 %}Inglés{% endblock %}
{% block tBanderaEnglish3 %}Inglés{% endblock %}