{%  extends parameters.buttonsFormTemplate %}

{% block volverIndice %}Volver al índice{% endblock %}

{% block messageConfirm %}¿Estás seguro que lo quieres eliminar?{% endblock %}

{% block eliminar %}Eliminar{% endblock %}

{% block vista %}Vista{% endblock %}