{%  extends parameters.buttonsViewTemplate %}

{% block volverIndice %}Volver al índice{% endblock %}

{% block messageConfirm %}¿Estás seguro que lo quieres eliminar?{% endblock %}

{% block eliminar %}Eliminar{% endblock %}

{% block modificar %}Modificar{% endblock %}