{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Proveïdor{% endblock %}

{% block tLegend %}Proveïdor{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPlazoEntrega %}Plaç d'entrega{% endblock %}
{% block tPPlazoEntrega %}Escriu el plaç d'entrega{% endblock %}
{% block tGuardar %}Guardar{% endblock %}