{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Configuración - Módulo{% endblock %}

{% block tBorrado %}Se ha borrado el módulo{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el módulo{% endblock %}
{% block tErrorGuardar %}Se ha producido un error al guardar el módulo{% endblock %}
{% block tCrear %}Crear Módulo{% endblock %}
{% block tNombre %}Nombre{% endblock %}
{% block tAcciones %}Acciones{% endblock %}