{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Familia{% endblock %}

{% block tLegend %}Familia{% endblock %}
{% block tModificado %}Se ha modificado la familia{% endblock %}
{% block tInsertado %}Se ha insertado la familia{% endblock %}
{% block tFamiliaRaiz %}Familia raiz{% endblock %}
{% block tFamiliaRaizSelect %}Familia raiz{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tImagen %}Imagen{% endblock %}