#table_id_length {
  float: left;
}
#table_id_filter {
  float: right;
}
#table_id {
  margin-top: 10px;
}
.buttonNormal {
  margin-right: 2px;
  padding: 4px 10px;
  margin-bottom: 0px;
  position: relative;
  float: left;
}
.buttonNormalFirst {
  margin-bottom: 0px;
  position: relative;
  float: left;
}
