{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Entrar{% endblock %}

{% block labelUsername %}Usuari:{% endblock %}
{% block valueUsername %}Administrador{% endblock %}
{% block labelPassword %}Password{% endblock %}
{% block labelForgotPassword %}Has oblidat el password?{% endblock %}
{% block labelKeep %}Guardar la sessió{% endblock %}
{% block labelLogin %}Entrar{% endblock %}