{%  extends parameters.baseTemplate %}

{% block headStyles %}
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.usuario.usuario }}</legend>
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tModificado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-success">
                {% block tInsertado %}{% endblock %}
            </div>
        {% endif %}
        <dl class="dl-horizontal">
            <dt>{% block tUsuario %}{% endblock %}</dt>
            <dd>
                {{ parameters.usuario.usuario }}
            </dd>
            <dt>{% block tApellios %}{% endblock %}</dt>
            <dd>
                {{ parameters.usuario.apellidos }}
            </dd>
            <dt>{% block tRol %}{% endblock %}</dt>
            <dd>
                {{ parameters.usuario.rol }}
            </dd>
            <dt>{% block tEmail %}{% endblock %}</dt>
            <dd>
                {{ parameters.usuario.email }}
            </dd>
            <dt>{% block tPassword %}{% endblock %}</dt>
            <dd>
                {% block tPPassword %}{% endblock %}
            </dd>
            <dt>{% block tCookie %}{% endblock %}</dt>
            <dd>
                {{ parameters.usuario.cookie }}
            </dd>
            <dt>{% block tActivo %}{% endblock %}</dt>
            <dd>
                {% if parameters.usuario.activo == true %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </dd>
            <dt>{% block tRoles %}{% endblock %}</dt>
            <dd>
                {% for rol in parameters.usuario.roles %}
                    {{ rol.rol }}<br/>
                {% endfor %}
            </dd>
        </dl>
        {% set id = parameters.usuario.id_usuario %}
        {% set nameId = 'id_usuario' %}
        {% set moduleEliminar = 'usuario/eliminar' %}
        {% set moduleIndex = 'usuario/index' %}
        {% set moduleForm = 'usuario/form' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}