{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ parameters.path }}/src/lib/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.imatge.url }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/imagen/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_imatge" value="{% if parameters.imatge.id_imatge == '' %}-1{% else %}{{ parameters.imatge.id_imatge }}{% endif %}" />
            <input type="hidden" name="id_indexpaginaprincipal" value="{% if parameters.imatge.id_indexpaginaprincipal != '' %}{{ parameters.imatge.id_indexpaginaprincipal }}{% endif %}" />
            <input type="hidden" name="id_promocio" value="{% if parameters.imatge.id_promocio != '' %}{{ parameters.imatge.id_promocio }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputImatge">{% block tImatge %}{% endblock %}</label>
                <div class="col-md-7">
                    <center>
                        <img src="{{ parameters.imatge.url }}" />
                    </center>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputUrl">{% block tUrl %}{% endblock %}</label>
                <div class="col-md-6">
                    <input type="text" name="url" value="{{ parameters.imatge.url }}" id="inputUrl"
                           class="form-control input-sm" placeholder="{% block tPUrl %}{% endblock %}"/>
                </div>
                <div class="col-md-1 text-right">
                    <a href="{{ parameters.path }}/src/lib/tinymce/plugins/responsivefilemanager/dialog.php?type=1&amp;subfolder=&amp;editor=mce_0&amp;field_id=inputUrl" class="btn btn-default iframe-btn" type="button">
                        {% block tSeleccionar %}{% endblock %}
                    </a>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.imatge.id_imatge != '' %}
            {% set id = parameters.imatge.id_imatge %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_imatge' %}
        {% set moduleEliminar = 'imagen/eliminar' %}
        {% set moduleIndex = 'imagen/index' %}
        {% set moduleVista = 'imagen/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
    <script type="text/javascript" src="{{ parameters.path }}/src/lib/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript">
        $('.iframe-btn').fancybox({
            'width'	 : 900,
            'height'	: 600,
            'type'	 : 'iframe',
            'autoScale' : false,
            'onComplete' : function() {
            }
        });
    </script>
{% endblock %}