{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Familia{% endblock %}

{% block tLegend %}Familia{% endblock %}
{% block tFamiliaRaiz %}Familia raiz{% endblock %}
{% block tFamiliaRaizSelect %}Familia raiz{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPDescripcion %}Escribe la descripción{% endblock %}
{% block tOrden %}Orden{% endblock %}
{% block tPOrden %}Escribe el orden{% endblock %}
{% block tGuardar %}Guardar{% endblock %}