{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Especial{% endblock %}

{% block tLegend %}Especial{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPDescripcion %}Escriu la descripció{% endblock %}
{% block tGuardar %}Guardar{% endblock %}