{%  extends parameters.baseTemplate %}

{% block headStyles %}
{% endblock %}

{% block bodyContent %}
    <div class="row containerRow">
        <div class="col-md-12">
            {% autoescape %}
                {{ parameters.paginaContenido.descripcio|raw }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}