{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Fabricante{% endblock %}

{% block tBorrado %}Se ha borrado el fabricante{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el fabricante{% endblock %}
{% block tCrear %}Crear Fabricante{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tAcciones %}Acciones{% endblock %}