{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índex - Fitxa tècnica{% endblock %}

{% block tBorrado %}S'ha esborrat l'element de la fitxa tècnica{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al esborrar l'element de la fitxa tècnica{% endblock %}
{% block tLegendTitulos %}Títols{% endblock %}
{% block tCrearTitulo %}Crear Títol{% endblock %}
{% block tTitulo %}Títol{% endblock %}
{% block tAcciones %}Accions{% endblock %}
{% block tLegendDescripciones %}Descripcions{% endblock %}
{% block tCrearDescripcion %}Crear Descripció{% endblock %}
{% block tTitulo2 %}Títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tAcciones2 %}Accions{% endblock %}