{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Item{% endblock %}

{% block tLegend %}Item{% endblock %}
{% block tModificado %}Item updated{% endblock %}
{% block tInsertado %}Item inserted{% endblock %}
{% block tFamilia %}Family{% endblock %}
{% block tNivel %}Level{% endblock %}
{% block tPagina %}Page{% endblock %}
{% block tFabricante %}Manufacturer{% endblock %}
{% block tProveedor %}Provider{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPEntrega %}Delivery{% endblock %}
{% block tImagen %}Image{% endblock %}
{% block tPrecio %}Price{% endblock %}
{% block tRPropia %}Own reference{% endblock %}
{% block tRProveedor %}Provider reference{% endblock %}
{% block tODesde %}Offer from{% endblock %}
{% block tOHasta %}Offer to{% endblock %}
{% block tOPrecio %}Price offer{% endblock %}
{% block tStock %}Stock{% endblock %}
{% block tAlta %}Creation date{% endblock %}
{% block tActualizacion %}Update{% endblock %}
{% block tInformacion %}Information{% endblock %}
