{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Proveedor{% endblock %}

{% block tBorrado %}Se ha borrado el proveedor{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el proveedor{% endblock %}
{% block tCrear %}Crear Proveedor{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tAcciones %}Acciones{% endblock %}