<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navPrincipal">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">{% block tNavegacion %}{% endblock %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ parameters.path }}/{{ parameters.language }}/administrador/home.html"><img src="http://www.marxa.es/disc_dur/documents/imatges_botiga/logo.jpg" width="70%" alt="Marxa"></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% for item in parameters.menu %}
            {% set numSubItems = item.subfamilia|length %}
            <li {% if numSubItems > 0 %}class="dropdown"{% endif %}>
                <a href="{% if item.module.value != '' %}{{ parameters.path }}/{{ parameters.language }}/{{ item.module.value }}.html{% else %}#{% endif %}"{% if numSubItems > 0 %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
                    {{ item.descripcion.value }} {% if numSubItems > 0 %}<b class="caret">{% endif %}</b>
                </a>
                {% if numSubItems > 0 %}
                    {{ include('src/module/administrador/general/view/base-menu-subfamilies.html.twig', {item: item, numSubItems: numSubItems}) }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>