<!DOCTYPE html>
<html lang="{{ parameters.language }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block headTitle %}{% endblock %}{{ parameters.title }} - {% block tHeadTitle %}{% endblock %}</title>
    <meta name="author" content="Valentí Gàmez" />
    <meta name="description" content="{% block headDescription %}{% endblock %} - {% block tHeadDescription %}{% endblock %}" />
    <meta name="keywords" content="{% block headKeywords %}{% endblock %}, {% block tHeadKeywords %}{% endblock %}" />
    <meta name="application-name" content="{% block tAplicationName %}{% endblock %}" />
    <meta name="robots" content="NOINDEX,NOFOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block headMetas %}{% endblock %}

    <!-- Styles -->
    <link href="{{ parameters.path }}/src/lib/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/module/administrador/general/css/general.css?v={{ parameters.version }}" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/jquery/ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/jquery/minicolors/jquery.minicolors.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/jquery/uploadify/uploadify.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/jquery/colorbox/example5/colorbox.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_general/stylesheets/general_foundicons.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_social/stylesheets/social_foundicons.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_accessibility/stylesheets/accessibility_foundicons.css" rel="stylesheet">

    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>-->

    {% block headStyles %}{% endblock %}

    <link rel="shortcut icon" href="{{ parameters.path }}/src/module/administrador/general/ico/favicon.ico" />
</head>
<body>
<div id="beforeLayer">
    &nbsp;
</div>
<div class="container" id="topLayer">
    <div class="row">
        <div class="col-md-5">
            <div class="pull-left">
                <span class="foundicon-general-phone"></span>&nbsp;&nbsp; 932 502 710
            </div>
        </div>
        <div class="col-md-2 text-center" id="linksBanderas">
            <a href="{{ parameters.path }}/ca/administrador/home.html" title="{% block tBanderaCataluna %}{% endblock %}">
                <img src="{{ parameters.path }}/src/module/administrador/general/img/ico_cataluna.jpg" title="{% block tBanderaCataluna2 %}{% endblock %}" alt="{% block tBanderaCataluna3 %}{% endblock %}"/>
            </a>
            &nbsp;
            <a href="{{ parameters.path }}/es/administrador/home.html" title="{% block tBanderaEspana %}{% endblock %}">
                <img src="{{ parameters.path }}/src/module/administrador/general/img/ico_espana.jpg" title="{% block tBanderaEspana2 %}{% endblock %}" alt="{% block tBanderaEspana3 %}{% endblock %}"/>
            </a>
            &nbsp;
            <a href="{{ parameters.path }}/en/administrador/home.html" title="{% block tBanderaEnglish %}{% endblock %}">
                <img src="{{ parameters.path }}/src/module/administrador/general/img/ico_en.jpg" title="{% block tBanderaEnglish2 %}{% endblock %}" alt="{% block tBanderaEnglish3 %}{% endblock %}"/>
            </a>
        </div>
        <div class="col-md-5">
            <div class="pull-right">
                {% block tBienvenida %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="container" id="mainLayer">
    <div class="row" id="headerRow">
        <div class="col-md-12">
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/menu.html.twig') }}
        </div>
    </div>
    {% block bodyContent %}{% endblock %}
    <div class="row" id="footerRow">
        <div class="row">
            <div class="col-md-12" id="layer4">
                <h4>
                    <b>{% block tAyuda %}{% endblock %}</b>
                </h4>
                <ul>
                    <li>
                        <span class="foundicon-general-phone"></span> 932 502 710
                    </li>
                    <li>
                        <span class="foundicon-general-mail"></span> marxa@marxa.es
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="lineaDivisoria">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right text-right" id="copyright">
                    Powered By <a href="#" title="Open Dominik Agency">Open Dominik Agency</a><br/>
                    Marxa &copy; {{ "now"|date('Y') }} | Design By <a href="#" title="Open Dominik Agency">Open Dominik Agency</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ parameters.path }}/src/lib/jquery/js/jquery.js"></script>
<script src="{{ parameters.path }}/src/lib/jquery/colorbox/jquery.colorbox.js"></script>
<script src="{{ parameters.path }}/src/lib/jquery/uploadify/jquery.uploadify.js"></script>
<script src="{{ parameters.path }}/src/lib/jquery/ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="{{ parameters.path }}/src/lib/jquery/minicolors/jquery.minicolors.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/bootstrap.min.js"></script>
<!--<script src="{{ parameters.path }}/src/lib/bootstrap3/js/transition.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/alert.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/modal.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/dropdown.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/scrollspy.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/tab.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/tooltip.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/popover.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/button.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/collapse.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/carousel.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/affix.js"></script>-->
<script type="text/javascript" src="{{ parameters.path }}/src/lib/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: ["advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen layer hr textcolor",
            "insertdatetime media table contextmenu paste responsivefilemanager"],
        toolbar1: "| undo redo | bullist numlist outdent indent | link media image | hr | preview code",
        toolbar2: "fontselect fontsizeselect | styleselect | forecolor backcolor | bold italic | alignleft aligncenter alignright alignjustify | removeformat",
        autosave_ask_before_unload: false,
        convert_urls: false,
        external_filemanager_path:"{{ parameters.path }}/src/lib/tinymce/plugins/responsivefilemanager/",
        filemanager_title:"Administrador de archivos",
        external_plugins: { "filemanager" : "{{ parameters.path }}/src/lib/tinymce/plugins/responsivefilemanager/plugin.min.js"}
    });
    var dateNow = new Date();
    var dateToDatePicker = dateNow.getFullYear() + 10;
    $(function() {
        $( ".date" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1920:'+dateToDatePicker,
            dateFormat: 'dd-mm-yy'
        });
        $( ".colorPicker").minicolors();
    });
    $('.dropdown-toggle').dropdown();
</script>
{% block scriptsjs %}{% endblock %}
</body>
</html>