{# parameters.path, parameters.language, moduleIndex, moduleEliminar, moduleVista, nameId and id are required.
nameIdSecundario and idSecundario are optional #}
<div class="row well">
    <div class="col-md-6 text-left">
        <a href="{{ parameters.path }}/{{ parameters.language }}/administrador/{{ moduleIndex }}.html" class="btn btn-default">
            {% block volverIndice %}{% endblock %}
        </a>
    </div>
    <div class="col-md-6 text-right">
        <div class="row">
            <div class="col-md-9 text-right">
                <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/{{ moduleEliminar }}.html"
                      onsubmit="return confirm('{% block messageConfirm %}{% endblock %}');" method="POST">
                    <input type="hidden" name="{{ nameId }}" value="{{ id }}" />
                    {% if nameIdSecundario != '' and idSecundario != '' %}
                        <input type="hidden" name="{{ nameIdSecundario }}" value="{{ idSecundario }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-danger">{% block eliminar %}{% endblock %}</button>
                </form>
            </div>
            <div class="col-md-3 text-right">
                <form action="{{ parameters.path }}/{{ parameters.language }}/administrador/{{ moduleForm }}.html" method="POST">
                    <input type="hidden" name="{{ nameId }}" value="{{ id }}" />
                    {% if nameIdSecundario != '' and idSecundario != '' %}
                        <input type="hidden" name="{{ nameIdSecundario }}" value="{{ idSecundario }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-success">{% block modificar %}{% endblock %}</button>
                </form>
            </div>
        </div>
    </div>
</div>