{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Technical - Title{% endblock %}

{% block tLegend %}Title{% endblock %}
{% block tModificado %}Title updated{% endblock %}
{% block tInsertado %}Title inserted{% endblock %}
{% block tDescripcion %}Description{% endblock %}