{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Widget - Text{% endblock %}

{% block tLegend %}Text{% endblock %}
{% block tTexto %}Text{% endblock %}
{% block tGuardar %}Guardar{% endblock %}