{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Content{% endblock %}

{% block tLegend %}Content{% endblock %}
{% block tTitulo %}Title{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tImagen %}Image{% endblock %}
{% block tAlta %}Creation{% endblock %}
{% block tGuardar %}Save{% endblock %}
{% block tSeleccionar %}Galery{% endblock %}
{% block tPTitulo %}Write the title of content{% endblock %}
{% block tPAlta %}Choose a date. By default is now{% endblock %}
{% block tPImatge %}Choose an image{% endblock %}