{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Level{% endblock %}

{% block tLegend %}Level{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPDescripcion %}Write description{% endblock %}
{% block tTipo %}Type{% endblock %}
{% block tPTipo %}Write type{% endblock %}
{% block tAdicional %}Aditional{% endblock %}
{% block tPAdicional %}Write aditional text{% endblock %}
{% block tGuardar %}Save{% endblock %}