{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Proveedor{% endblock %}

{% block tLegend %}Proveedor{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPlazoEntrega %}Plazo de entrega{% endblock %}
{% block tPPlazoEntrega %}Escribe el plazo de entrega{% endblock %}
{% block tGuardar %}Guardar{% endblock %}