{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Manufacturer{% endblock %}

{% block tBorrado %}Deleted manufacturer{% endblock %}
{% block tErrorBorrado %}Error to delete manufacturer{% endblock %}
{% block tCrear %}Create Manufacturer{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tAcciones %}Actions{% endblock %}