{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Configuració - Mòdul{% endblock %}

{% block tLegend %}Mòdul{% endblock %}
{% block tModule %}Mòdul{% endblock %}
{% block tPModule %}Escriu el mòdul{% endblock %}
{% block tRol %}Rol{% endblock %}
{% block tUsuario %}Usuari{% endblock %}
{% block tPermisos %}Permissos{% endblock %}
{% block tPPermisos %}Escriu els permissos{% endblock %}
{% block tGuardar %}Guardar{% endblock %}