{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Technical{% endblock %}

{% block tBorrado %}Deleted the element of technical{% endblock %}
{% block tErrorBorrado %}Error to deleted the element of technical{% endblock %}
{% block tLegendTitulos %}Titles{% endblock %}
{% block tCrearTitulo %}Create Title{% endblock %}
{% block tTitulo %}Title{% endblock %}
{% block tAcciones %}Actions{% endblock %}
{% block tLegendDescripciones %}Descriptions{% endblock %}
{% block tCrearDescripcion %}Create Description{% endblock %}
{% block tTitulo2 %}Title{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tAcciones2 %}Actions{% endblock %}