@import '../../general/css/variable';

body{
  .container{
    h1{
      margin-top: 0px;
    }

    h2{
      font-size: 36px;
    }

    #imagen-soporte{
      width: 100%;
    }

    .capaInformacion{
      padding: 15px;
      background: white;
      border: 1px @colorPrincipal solid;
      margin-bottom: 0;
      line-height: 25px;
      font-size: 12pt;

      .alert{
        font-size: 12pt;
      }

      hr{
        margin: 0;
      }

      .row{
        padding: 5px 0;
      }

      .text-error{
        font-size: 12pt;
      }

      #total{
        background: #ddddff;
        font-size: 16pt;
      }
    }

    .imagen-articulo-carrito{
      width: 100%;
      max-width: 150px;
    }

    .icon-carrito{
      font-size: 10pt;
    }
    .containerElementRow{
      margin: 0;
    }
  }
}