body .container h1 {
  margin-top: 0px;
}
body .container h2 {
  font-size: 36px;
}
body .container #imagen-soporte {
  width: 100%;
}
body .container .capaInformacion {
  padding: 15px;
  background: white;
  border: 1px #5fae5a solid;
  margin-bottom: 0;
  line-height: 25px;
  font-size: 12pt;
}
body .container .capaInformacion .alert {
  font-size: 12pt;
}
body .container .capaInformacion hr {
  margin: 0;
}
body .container .capaInformacion .row {
  padding: 5px 0;
}
body .container .capaInformacion .text-error {
  font-size: 12pt;
}
body .container .capaInformacion #total {
  background: #ddddff;
  font-size: 16pt;
}
body .container .imagen-articulo-carrito {
  width: 100%;
  max-width: 150px;
}
body .container .icon-carrito {
  font-size: 10pt;
}
body .container .containerElementRow {
  margin: 0;
}
