{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Widget - Imagen{% endblock %}

{% block tLegend %}Imagen{% endblock %}
{% block tImatge %}Imagen{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Escoje la imagen{% endblock %}
{% block tSeleccionar %}Galería{% endblock %}
{% block tGuardar %}Guardar{% endblock %}