{%  extends parameters.baseTemplate %}

{% block headStyles %}
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.module.module }}</legend>
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tModificado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-success">
                {% block tInsertado %}{% endblock %}
            </div>
        {% endif %}
        <dl class="dl-horizontal">
            <dt>{% block tModule %}{% endblock %}</dt>
            <dd>
                {{ parameters.module.module }}
            </dd>
            <dt>{% block tUsuario %}{% endblock %}</dt>
            <dd>
                {{ parameters.module.usuario }}
            </dd>
            <dt>{% block tRol %}{% endblock %}</dt>
            <dd>
                {{ parameters.module.rol }}
            </dd>
            <dt>{% block tPermisos %}{% endblock %}</dt>
            <dd>
                {{ parameters.module.permissions }}
            </dd>
        </dl>
        {% set id = parameters.module.id_module %}
        {% set nameId = 'id_module' %}
        {% set moduleEliminar = 'module/eliminar' %}
        {% set moduleIndex = 'module/index' %}
        {% set moduleForm = 'module/form' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}