{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Widget - Slide{% endblock %}

{% block tLegend %}Slide{% endblock %}
{% block tLegendNuevaImagen %}Nueva Imagen{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Escribe la url{% endblock %}
{% block tLink %}Link{% endblock %}
{% block tPLink %}Escribe el link{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tGuardar %}Guardar{% endblock %}