<!DOCTYPE html>
<html lang="{{ parameters.language }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block headTitle %}{% endblock %}{{ parameters.title }} - Administrador Marxa</title>
    <meta name="author" content="Valentí Gàmez" />
    <meta name="description" content="{% block headDescription %}{% endblock %} - Administrador Marxa" />
    <meta name="keywords" content="{% block headKeywords %}{% endblock %}, administrador, marxa" />
    <meta name="application-name" content="Administrador Marxa" />
    <meta name="robots" content="NOINDEX,NOFOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block headMetas %}{% endblock %}

    <!-- Styles -->
    <link href="{{ parameters.path }}/src/lib/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/module/administrador/general/css/general.css?v={{ parameters.version }}" rel="stylesheet">
    <link href="{{ parameters.pathModule }}/css/login.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_general/stylesheets/general_foundicons.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_social/stylesheets/social_foundicons.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_accessibility/stylesheets/accessibility_foundicons.css" rel="stylesheet">

    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>-->

    {% block headStyles %}{% endblock %}

    <link rel="shortcut icon" href="{{ parameters.path }}/src/module/administrador/general/ico/favicon.ico" />
</head>
<body>
<div id="beforeLayer">
    &nbsp;
</div>
<div class="container" id="topLayer">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <span class="foundicon-general-phone"></span>&nbsp;&nbsp; 932 502 710
            </div>
            <div class="pull-right">
                Bienvenida/o al administrador de Marxa!
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="navbar-brand" href="{{ parameters.path }}/{{ parameters.language }}/administrador/login.html"><img src="http://www.marxa.es/disc_dur/documents/imatges_botiga/logo.jpg" width="70%" alt="Marxa"></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="loginContainer">
                <form role="form" method="POST" action="{{ parameters.login_action }}" id="loginForm" novalidate="novalidate">
                    <div class="form-group" id="username-row">
                        <label for="username">
                            {% block labelUsername %}{% endblock %}
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="foundicon-social-torso"></i></span>
                            <input class="form-control input-group-lg" id="username" type="text" name="username" value="{% block valueUsername %}{% endblock %}">
                        </div>
                    </div>

                    <div class="form-group" id="password-row">
                        <label for="password">
                            {% block labelPassword %}{% endblock %}
                        </label>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="pull-right"><a href="#" id="forgot-link">{% block labelForgotPassword %}{% endblock %}</a></span>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="foundicon-general-lock"></i></span>
                            <input class="form-control input-group-lg" id="password" type="password" name="password" value="somepass">
                        </div>
                    </div>

                    <div class="row" id="actions-row">
                        <div class="form-actions" id="actions-container">
                            <div class="col-md-12 controls">
                                <input type="checkbox" value="Value" class="pull-left" name="logged">&nbsp;&nbsp;{% block labelKeep %}{% endblock %}
                                <button type="submit" class="btn btn-info right pull-right" id="loginBtn"><span class="icon-chevron-right"></span> {% block labelLogin %}{% endblock %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container" id="mainLayer">
    <div class="row" id="footerRow">
        <div class="row">
            <div class="col-md-12" id="layer4">
                <h4>
                    <b>AYUDA</b>
                </h4>
                <ul>
                    <li>
                        <span class="foundicon-general-phone"></span> 932 502 710
                    </li>
                    <li>
                        <span class="foundicon-general-mail"></span> marxa@marxa.es
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="lineaDivisoria">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right text-right" id="copyright">
                    Powered By <a href="#" title="Open Dominik Agency">Open Dominik Agency</a><br/>
                    Marxa &copy; {{ "now"|date('Y') }} | Design By <a href="#" title="Open Dominik Agency">Open Dominik Agency</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ parameters.path }}/src/lib/jquery/js/jquery.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/bootstrap.min.js"></script>
{% block scriptsjs %}{% endblock %}
</body>
</html>