{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Widget - Text{% endblock %}

{% block tLegend %}Text{% endblock %}
{% block tModificado %}S'ha modificat el text{% endblock %}
{% block tInsertado %}S'ha insertat el text{% endblock %}
{% block tTexto %}Text{% endblock %}