{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Provider{% endblock %}

{% block tBorrado %}Deleted provider{% endblock %}
{% block tErrorBorrado %}Error to delete provider{% endblock %}
{% block tCrear %}Create Provider{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tAcciones %}Actions{% endblock %}