{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Text{% endblock %}

{% block tBorrado %}Deleted text{% endblock %}
{% block tErrorBorrado %}Error to delete text{% endblock %}
{% block tCrear %}Create Text{% endblock %}
{% block tIntroduccion %}Introduction{% endblock %}
{% block tAcciones %}Actions{% endblock %}