{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Article{% endblock %}

{% block tLegend %}Article{% endblock %}
{% block tModificado %}S'ha modificat l'article{% endblock %}
{% block tInsertado %}S'ha insertat l'article{% endblock %}
{% block tFamilia %}Família{% endblock %}
{% block tNivel %}Nivell{% endblock %}
{% block tPagina %}Pàgina{% endblock %}
{% block tFabricante %}Fabricant{% endblock %}
{% block tProveedor %}Proveïdor{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPEntrega %}Plaç d'entrega{% endblock %}
{% block tImagen %}Imatge{% endblock %}
{% block tPrecio %}Preu{% endblock %}
{% block tRPropia %}Referència pròpia{% endblock %}
{% block tRProveedor %}Referència proveïdor{% endblock %}
{% block tODesde %}Oferta desde{% endblock %}
{% block tOHasta %}Oferta fins{% endblock %}
{% block tOPrecio %}Preu oferta{% endblock %}
{% block tStock %}Stock{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tActualizacion %}Actualització{% endblock %}
{% block tInformacion %}Informació{% endblock %}
