{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.rol.rol }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/rol/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_rol" value="{% if parameters.rol.id_rol == '' %}-1{% else %}{{ parameters.rol.id_rol }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputRol">{% block tRol %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="rol" type="text" value="{{ parameters.rol.rol }}" id="inputRol"
                           class="form-control input-sm" placeholder="{% block tPRol %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.rol.id_rol != '' %}
            {% set id = parameters.rol.id_rol %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_rol' %}
        {% set moduleEliminar = 'rol/eliminar' %}
        {% set moduleIndex = 'rol/index' %}
        {% set moduleVista = 'rol/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}