{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Configuration - Module{% endblock %}

{% block tBorrado %}Deleted module{% endblock %}
{% block tErrorBorrado %}Error to delete module{% endblock %}
{% block tErrorGuardar %}Error to save module{% endblock %}
{% block tCrear %}Create Module{% endblock %}
{% block tNombre %}Name{% endblock %}
{% block tAcciones %}Actions{% endblock %}