<div class="col-md-12 capa-article-extendido">
    <div class="row">
        <div class="col-md-3 capa-imatge">
            <a href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                <img src="{{ article.imatge }}" style="margin-top: {{ article.imatge_marginTop }}px;"
                     class="imatge" title="{{ article.descripcio }}" />
            </a>
        </div>
        <div class="col-md-9 capa-totaInformacio">
            <div class="row containerRow">
                <div class="col-md-9">
                    <div class="row containerRow">
                        <div class="capa-titulo">
                            <div class="col-md-12">
                                <a href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                                    {{ article.descripcio }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row containerRow">
                        <div class="capa-descripcion">
                            <div class="col-md-12">
                                {{ article.informacio }}
                            </div>
                        </div>
                    </div>
                    <div class="row containerRow">
                        <div class="capa-masInfo">
                            <div class="col-md-12">
                                (
                                <a href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                                    Más información
                                </a>
                                )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row containerRow">
                        <div class="capa-preu">
                            <div class="col-md-12">
                                <b>{{ article.precio }}&euro;</b>
                            </div>
                        </div>
                    </div>
                    <div class="row containerRow">
                        <div class="capa-carrito">
                            <div class="col-md-12">
                                <a href="javascript:$('#carrito{{ article.id_article }}')[0].submit()" class="btn btn-success" title="Comprar {{ article.descripcio }}">
                                    <span class="foundicon-general-cart"></span> Añadir al carrito
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
