<div class="col-md-3 text-center capa-article">
    <div class="row containerRow">
        <div class="capa-imatge">
            <div class="col-md-12">
                <a href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                    <img src="{{ article.imatge }}" style="margin-top: {{ article.imatge_marginTop }}px;"
                         class="imatge" title="{{ article.descripcio }}" />
                </a>
            </div>
        </div>
    </div>
    <div class="row containerRow capa-descripcio-pre">
        <div class="capa-descripcio">
            <div class="col-md-12">
                <a href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                    {{ article.descripcio }}
                </a>
            </div>
        </div>
    </div>
    <div class="row containerRow capa-masInfo">
        <div class="col-md-12">
            (
            <a href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                Más información
            </a>
            )
        </div>
    </div>
    <div class="row text-primary text-left">
        <div class="capa-preu">
            <div class="col-md-12">
                <div class="pull-left">
                    <b>{{ article.precio }}&euro;</b>
                </div>
                <div class="pull-right">
                    <a href="javascript:$('#carrito{{ article.id_article }}')[0].submit()" title="Comprar {{ article.descripcio }}">
                        <span class="foundicon-general-cart"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>