{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% if parameters.noindex == true %}
    <meta name="robots" content="NOINDEX,NOFOLLOW">
{% else %}
    <meta name="robots" content="INDEX,FOLLOW">
{% endif %}
<meta property="og:image" content="http://www.marxa.es/disc_dur/documents/imatges_botiga/logo.jpg">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-2">
        {{ include('/src/module/tienda/catalogo/view/filtros-catalogo.html.twig') }}
        {{ include('/src/module/tienda/catalogo/view/filtros-familia.html.twig') }}
    </div>
    <div class="col-md-10">
        {% set num_paginador = 1 %}
        {{ include('/src/module/tienda/catalogo/view/navegador.html.twig') }}
        {{ include('/src/module/tienda/catalogo/view/filtros-eliminar.html.twig') }}
        {{ include('/src/module/tienda/catalogo/view/paginador.html.twig') }}
        <div class="row text-center containerRow">
            <div class="col-md-12">
                <h1>
                    {{ parameters.title }}
                </h1>
            </div>
        </div>
        {% set numCols = 0 %}
        <div class="row containerRow">
        {% if parameters.tipoArticulo == 'contraido' %}
            {% set numColsToSum = 3 %}
            {% set numColsToRow = 12 %}
        {% else %}
            {% set numColsToSum = 1 %}
            {% set numColsToRow = 1 %}
        {% endif %}
        {% for article in parameters.articles %}
            {% set numCols = numCols + numColsToSum %}
            {% if numCols > numColsToRow %}
                {% set numCols = numColsToSum %}
                </div>
                <div class="row containerRow">
            {% endif %}

            <form action="{{ parameters.path }}/{{ parameters.language }}/carrito.html" id="carrito{{ article.id_article }}" method="POST">
                <input type="hidden" name="id_article" value="{{ article.id_article }}" />
                <input type="hidden" name="quantitat" value="1" />
                <input type="hidden" name="url_anterior[]" value="{{ parameters.currentFamily.descripcion.value }};{{ parameters.currentFamily.module.value }}" />
                {% if parameters.currentSubfamily.descripcion.value != '' %}
                    <input type="hidden" name="url_anterior[]" value="{{ parameters.currentSubfamily.descripcion.value }};{{ parameters.currentSubfamily.module.value }}" />
                {% endif %}
            </form>
            {{ include('/src/module/tienda/catalogo/view/articulo-'~parameters.tipoArticulo~'.html.twig') }}
        {% endfor %}
        </div>
        {% set num_paginador = 2 %}
        {{ include('/src/module/tienda/catalogo/view/paginador.html.twig') }}
        {{ include('/src/module/tienda/catalogo/view/filtros-eliminar.html.twig') }}
        {{ include('/src/module/tienda/catalogo/view/navegador.html.twig') }}
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript">
    var changeDireccion = function(num_paginador)
    {
        $('#ordenDireccion'+num_paginador)[0].value = '{% if parameters.params.orden.direccion == 'DESC' %}ASC{% else %}DESC{% endif %}';
    }
    var changeTipo = function(num_paginador)
    {
        $('#tipo'+num_paginador)[0].value = '{% if parameters.tipoArticulo == 'contraido' %}extendido{% else %}contraido{% endif %}';
    }
    var changeNuevo = function()
    {
        $('#filtrosNuevo')[0].value = '{% if parameters.params.nuevo == '1' %}0{% else %}1{% endif %}';
    }
    var changeActualizado = function()
    {
        $('#filtrosActualizado')[0].value = '{% if parameters.params.actualizado == '1' %}0{% else %}1{% endif %}';
    }
    var restartPrecio = function()
    {
        $( "#amount-start" )[0].innerHTML = {{ parameters.filtres.minPrecio }};
        $( "#amount-end" )[0].innerHTML = {{ parameters.filtres.maxPrecio }};
    }
    var redireccion = function(num_paginador)
    {
        var tipoArticulo;
        if($('#tipo'+num_paginador)[0].value != 'contraido')
        {
            tipoArticulo = 'tipo/'+$('#tipo'+num_paginador)[0].value+'/';
        }else{
            tipoArticulo = '';
        }
        var amountStart = $( "#amount-start" )[0].innerHTML;
        var amountEnd = $( "#amount-end" )[0].innerHTML;
        window.location.href = '{{ parameters.path }}/{{ parameters.language }}/orden/'+
                $('#ordenDescripcion'+num_paginador)[0].value+'-'+$('#ordenDireccion'+num_paginador)[0].value+'/limite/'+
                $('#limite'+num_paginador)[0].value+'/'+
                'precioRango/'+amountStart+'-'+amountEnd+'/'+
                'nuevo/'+$('#filtrosNuevo')[0].value+'/'+
                'actualizado/'+$('#filtrosActualizado')[0].value+'/'+
                tipoArticulo+'{{ parameters.descripcio_amigable }}.html';
    }
    $(document).ready(function() {
        $( "#slider-range" ).slider({
            range: true,
            min: {{ parameters.filtres.minPrecio }},
            max: {{ parameters.filtres.maxPrecio }},
            values: [ {{ parameters.params.precioRango.min }}, {{ parameters.params.precioRango.max }} ],
            slide: function( event, ui ) {
                var totalArticulosPrecio = 0;
                {% for element in parameters.filtres.precio %}
                    if({{ element.precio }} >= ui.values[0]&&{{ element.precio }} <= ui.values[1])
                    {
                        totalArticulosPrecio += {{ element.count }};
                    }
                {% endfor %}
                $( "#totalArticulosPrecio" )[0].innerHTML = totalArticulosPrecio;
                var totalArticulosNovedad = 0;
                {% for element in parameters.filtres.precioNovedad %}
                if({{ element.precio }} >= ui.values[0]&&{{ element.precio }} <= ui.values[1])
                {
                    totalArticulosNovedad += {{ element.count }};
                }
                {% endfor %}
                $( "#totalArticulosNovedad" )[0].innerHTML = totalArticulosNovedad;
                var totalArticulosActualizacion = 0;
                {% for element in parameters.filtres.precioActualizacion %}
                if({{ element.precio }} >= ui.values[0]&&{{ element.precio }} <= ui.values[1])
                {
                    totalArticulosActualizacion += {{ element.count }};
                }
                {% endfor %}
                $( "#totalArticulosActualizacion" )[0].innerHTML = totalArticulosActualizacion;

                $( "#amount-start" )[0].innerHTML = ui.values[0];
                $( "#amount-end" )[0].innerHTML = ui.values[1];
            }
        });
        $( "#amount-start" )[0].innerHTML = $( "#slider-range" ).slider( "values", 0 );
        $( "#amount-end" )[0].innerHTML = $( "#slider-range" ).slider( "values", 1 );
    });

</script>
{% endblock %}