{% if parameters.params.nuevo == '1' or parameters.params.actualizado == '1' or (parameters.params.precioRango.min != parameters.filtres.minPrecio and parameters.params.precioRango.max != parameters.filtres.maxPrecio) %}
<div class="navbar navbar-default filtros-eliminar">
    <ul class="nav navbar-nav">
        {% if parameters.params.nuevo == '1' %}
            <li>
                <a href="javascript:changeNuevo();redireccion(1);" title="Eliminar filtro 'Últimas novedades'">
                    <span class="close">&times;</span> Últimas novedades
                </a>
            </li>
        {% endif %}
        {% if parameters.params.actualizado == '1' %}
            <li>
                <a href="javascript:changeActualizado();redireccion(1);" title="Eliminar filtro 'Últimos productos actualizados'">
                    <span class="close">&times;</span> Últimos productos actualizados
                </a>
            </li>
        {% endif %}
        {% if parameters.params.precioRango.min != parameters.filtres.minPrecio and parameters.params.precioRango.max != parameters.filtres.maxPrecio %}
            <li>
                <a href="javascript:restartPrecio();redireccion(1);" title="Eliminar filtro 'Precio'">
                    <span class="close">&times;</span> Precio de {{ parameters.params.precioRango.min }}€ a {{ parameters.params.precioRango.max }}€
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
