{% set numSubElements = parameters.currentFamily.subfamilia|length %}
<div class="bs-sidebar hidden-print filtros-familia" role="complementary">
    <ul class="nav navbar bs-sidenav navbar-default">
        <li>
            <a>
                <div class="pull-left">
                    <b>Precio</b>
                </div>
                <div class="pull-right">
                    <span id="amount-start">&nbsp;</span>€&nbsp;-&nbsp;<span id="amount-end">&nbsp;</span >€
                </div>
                <div class="clear">
                    &nbsp;
                </div>
            </a>
            <hr/>
            <ul class="nav">
                <li id="filtro-precio">
                    <div id="slider-range"></div>
                </li>
                <li>
                    <a href="javascript:redireccion(1);" title="Aplicar filtro de precio">
                        Aplicar(<span id="totalArticulosPrecio">{{ parameters.productosTotal }}</span>)
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a>
                <b>Novedad</b>
            </a>
            <hr/>
            <ul class="nav">
                <li>
                    <input type="hidden" name="filtrosNuevo" id="filtrosNuevo" value="{{ parameters.params.nuevo }}"/>
                    <a href="javascript:changeNuevo();redireccion(1);" title="Últimos productos">
                        Nuevo(<span id="totalArticulosNovedad">{{ parameters.filtres.novedad }}</span>)
                    </a>
                </li>
                <li>
                    <input type="hidden" name="filtrosActualizado" id="filtrosActualizado" value="{{ parameters.params.actualizado }}"/>
                    <a href="javascript:changeActualizado();redireccion(1);" title="Últimos productos actualizados">
                        Actualizado(<span id="totalArticulosActualizacion">{{ parameters.filtres.actualizacion }}</span>)
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>