{% set numSubElements = parameters.currentFamily.subfamilia|length %}
<div class="bs-sidebar hidden-print filtros-familia" role="complementary">
    <ul class="nav navbar bs-sidenav navbar-default">
        <li>
            <a href="{{ parameters.path }}/{{ parameters.language }}/{{ parameters.currentFamily.module.value }}.html">
                <b>{{ parameters.currentFamily.descripcion.value }}({{ parameters.filtres.familia.familiaMadre }})</b>
            </a>
            <hr/>
            {% if numSubElements> 0 %}
            <ul class="nav">
                {% for element in parameters.currentFamily.subfamilia %}
                    <li>
                        <a href="{{ parameters.path }}/{{ parameters.language }}/{{ element.module.value }}.html">
                            {{ element.descripcion.value }}({{ attribute(parameters.filtres.familia, element.id_familia) }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    </ul>
</div>