<div class="row containerRow">
    <div class="col-md-12">
        <a href="{{ parameters.path }}/{{ parameters.language }}/home.html">Inicio</a>&nbsp;>&nbsp;
        <a href="{{ parameters.path }}/{{ parameters.language }}/{{ parameters.currentFamily.module.value }}.html"
           title="{{ parameters.currentFamily.descripcion.value }}"
                >
            {{ parameters.currentFamily.descripcion.value }}
        </a>
        {% if parameters.currentSubfamily.descripcion.value != '' %}
            &nbsp;>&nbsp;
            <a href="{{ parameters.path }}/{{ parameters.language }}/{{ parameters.currentSubfamily.module.value }}.html"
               title="{{ parameters.currentSubfamily.descripcion.value }}"
                    >
                {{ parameters.currentSubfamily.descripcion.value }}
            </a>
        {% endif %}
    </div>
</div>