<div class="row text-center containerRow">
    <div class="views">
        <div class="col-md-1 text-right">
            Ordenado:&nbsp;
        </div>
        <div class="col-md-2">
            <select name="ordenDescripcion" id="ordenDescripcion{{ num_paginador }}" class="form-control input-sm" onchange="redireccion({{ num_paginador }})">
                <option value="descripcio" {% if parameters.params.orden.descripcion == 'descripcio' %}selected{% endif %}>Descripción</option>
                <option value="precio" {% if parameters.params.orden.descripcion == 'precio' %}selected{% endif %}>Precio</option>
            </select>
        </div>
        <div class="col-md-1 text-left">
            &nbsp;
            <input type="hidden" name="ordenDireccion" id="ordenDireccion{{ num_paginador }}" value=
            "{{ parameters.params.orden.direccion }}" />
            <a href="javascript:changeDireccion({{ num_paginador }});redireccion({{ num_paginador }})">
                <span title="{% if parameters.params.orden.direccion == 'DESC' %}De menos a más{% else %}De más a menos{% endif %}" class="foundicon-general-{% if parameters.params.orden.direccion == 'DESC' %}up{% else %}down{% endif %}-arrow"></span>
            </a>
        </div>
        <div class="col-md-4">
            Ver como:&nbsp;
            <input type="hidden" name="tipo" id="tipo{{ num_paginador }}" value=
            "{{ parameters.tipoArticulo }}" />
            <a href="javascript:changeTipo({{ num_paginador }});redireccion({{ num_paginador }})">
                <span class="foundicon-accessibility-view-mode"></span>
            </a>
        </div>
        <div class="col-md-2 text-right">
            Mostrar:&nbsp;
        </div>
        <div class="col-md-1">
            <select name="limite" id="limite{{ num_paginador }}" class="form-control input-sm" onchange="redireccion({{ num_paginador }})">
                <option value="16" {% if parameters.params.limite == '16' %}selected{% endif %}>16</option>
                <option value="32" {% if parameters.params.limite == '32' %}selected{% endif %}>32</option>
                <option value="52" {% if parameters.params.limite == '52' %}selected{% endif %}>52</option>
            </select>
        </div>
        <div class="col-md-1 text-left">
            &nbsp;por página
        </div>
    </div>
</div>
<div class="row lineaDivisoria">
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-5">
        Mostrando del producto {{ parameters.productosInicio }} al {{ parameters.productosFin }} de un total de {{ parameters.productosTotal }}
    </div>
    <div class="col-md-7">
        <ul class="pagination pull-right pagination-sm paginacion">
            <li {% if parameters.numeroPaginaActual == 1 %}class="disabled"{% endif %}>
                <a
                        href="{{ parameters.paginaAnterior }}"
                        title="{{ parameters.title }}{% if parameters.numeroPaginaActual != 1 and parameters.numeroPaginaActual != 2 %} - Página {{ parameters.numeroPaginaAnterior }}{% endif %}"
                        >
                    &laquo;
                </a>
            </li>
            <li {% if parameters.numeroPaginaActual == 1 %}class="active"{% endif %}>
                <a
                        href="{{ parameters.primeraPagina }}"
                        title="{{ parameters.title }}"
                        >
                    1
                </a>
            </li>
            {% if parameters.numeroPrimeraPaginaDelPaginador != 2 %}
            <li class="disabled">
                <a href="#">
                    ...
                </a>
            </li>
            {% endif %}
            {% set paginas = parameters.numeroPrimeraPaginaDelPaginador %}
            {% for pagina in parameters.paginas %}
                <li {% if parameters.numeroPaginaActual == paginas %}class="active"{% endif %}>
                    <a
                            href="{{ pagina }}"
                            title="{{ parameters.title }} - Página {{ paginas }}"
                            >
                        {{ paginas }}
                    </a>
                </li>
                {% set paginas = paginas + 1 %}
            {% endfor %}
            {% if parameters.numeroUltimaPaginaDelPaginador != parameters.numeroPaginaUltima - 1 %}
                <li class="disabled">
                    <a href="#">
                        ...
                    </a>
                </li>
            {% endif %}
            {% if parameters.numeroPaginaUltima != 1 %}
                <li {% if parameters.numeroPaginaActual == parameters.numeroPaginaUltima %}class="active"{% endif %}>
                    <a
                            href="{{ parameters.ultimaPagina }}"
                            title="{{ parameters.title }} - Página {{ parameters.numeroPaginaUltima }}"
                            >
                        {{ parameters.numeroPaginaUltima }}
                    </a>
                </li>
            {% endif %}
            <li {% if parameters.numeroPaginaUltima == parameters.numeroPaginaActual %}class="disabled"{% endif %}>
                <a
                        href="{{ parameters.paginaSiguiente }}"
                        title="{{ parameters.title }}{% if parameters.numeroPaginaActual != parameters.numeroPaginaUltima %} - Página {{ parameters.numeroPaginaSiguiente }}{% endif %}"
                        >
                    &raquo;
                </a>
            </li>
        </ul>
    </div>
</div>