{%  extends parameters.baseTemplateTolanguage %}

{% block tHeadTitle %}Administrador Marxa{% endblock %}
{% block tHeadDescription %}Administrador Marxa{% endblock %}
{% block tHeadKeywords %}administrador, marxa{% endblock %}
{% block tAplicationName %}Administrador Marxa{% endblock %}

{% block tBienvenida %}Benvinguda/t al administrador de Marxa!{% endblock %}
{% block tAyuda %}AJUDA{% endblock %}
{% block tBanderaCataluna %}Català{% endblock %}
{% block tBanderaCataluna2 %}Català{% endblock %}
{% block tBanderaCataluna3 %}Català{% endblock %}
{% block tBanderaEspana %}Espanyol{% endblock %}
{% block tBanderaEspana2 %}Espanyol{% endblock %}
{% block tBanderaEspana3 %}Espanyol{% endblock %}
{% block tBanderaEnglish %}Anglès{% endblock %}
{% block tBanderaEnglish2 %}Anglès{% endblock %}
{% block tBanderaEnglish3 %}Anglès{% endblock %}