{%  extends parameters.buttonsFormTemplate %}

{% block volverIndice %}Tornar al índex{% endblock %}

{% block messageConfirm %}Estas segur que el vols eliminar?{% endblock %}

{% block eliminar %}Eliminar{% endblock %}

{% block vista %}Vista{% endblock %}