{%  extends parameters.baseTemplate %}

{% block headStyles %}
    <link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <h1>
            Únete a Marxa
        </h1>
    </div>
</div>
<div class="row containerRow">
<div class="col-md-12">
<div class="row containerRow">
    <div class="col-md-12 jumbotron capaInformacion">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="nombre">
                        <a name="link_nombre">Nombre</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="nombre" value="" placeholder="Escribe tu nombre" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="apellidos">
                        <a name="link_apellidos">Apellidos</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="apellidos" value="" placeholder="Escribe tus apellidos" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="email">
                        <a name="link_email">Email</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="email" value="" placeholder="Escribe tu email" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="password">
                        <a name="link_password">Contraseña</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="password" value="" placeholder="Escribe tu password" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="cpassword">
                        <a name="link_cpassword">Confirmar contraseña</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="require form-control input-sm" name="cpassword" value="" placeholder="Confirma tu contraseña" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" class="requireCheck form-control input-sm" name="politica" />
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                Acepto las <a href="#">condiciones generales</a> y las <a href="#">políticas de privacidad</a> de Marxa.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="submit" class="btn btn-success btn-large" value="REGISTRARSE" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}