{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Login{% endblock %}

{% block labelUsername %}Username:{% endblock %}
{% block valueUsername %}Administrador{% endblock %}
{% block labelPassword %}Password{% endblock %}
{% block labelForgotPassword %}Forgot your password?{% endblock %}
{% block labelKeep %}Keep me logged in{% endblock %}
{% block labelLogin %}Login{% endblock %}