{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.nivell.descripcio }}</legend>
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tModificado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-success">
                {% block tInsertado %}{% endblock %}
            </div>
        {% endif %}
        <dl class="dl-horizontal">
            <dt>{% block tDescripcion %}{% endblock %}</dt>
            <dd>
                {{ parameters.nivell.descripcio }}
            </dd>
            <dt>{% block tTipo %}{% endblock %}</dt>
            <dd>
                {{ parameters.nivell.tipus }}
            </dd>
            <dt>{% block tAdicional %}{% endblock %}</dt>
            <dd>
                {{ parameters.nivell.adicional }}
            </dd>
        </dl>
        {% set id = parameters.nivell.id_nivell %}
        {% set nameId = 'id_nivell' %}
        {% set moduleEliminar = 'nivell/eliminar' %}
        {% set moduleIndex = 'nivell/index' %}
        {% set moduleForm = 'nivell/form' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}