{%  extends parameters.baseTemplate %}

{% block headStyles %}
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {{ parameters.article.descripcio }}</legend>
            {% if parameters.success == 1 %}
                <div class="alert alert-success">
                    {% block tModificado %}{% endblock %}
                </div>
            {% endif %}
            {% if parameters.success == 2 %}
                <div class="alert alert-success">
                    {% block tInsertado %}{% endblock %}
                </div>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>{% block tFamilia %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.familia }}
                </dd>
                <dt>{% block tNivel %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.nivell }}
                </dd>
                <dt>{% block tPagina %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.pagina }}
                </dd>
                <dt>{% block tFabricante %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.fabricant }}
                </dd>
                <dt>{% block tProveedor %}{% endblock %}</dt>
                <dd>
                    {% autoescape 'html' %}
                        {{ parameters.article.proveidor|raw }}
                    {% endautoescape %}
                </dd>
                <dt>{% block tIVA %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.iva }}
                </dd>
                <dt>{% block tDescripcion %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.descripcio }}
                </dd>
                <dt>{% block tPEntrega %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.plac }}
                </dd>
                <dt>{% block tImagen %}{% endblock %}</dt>
                <dd>
                    <img src="{{ parameters.article.imatge }}" />
                </dd>
                <dt>{% block tPrecio %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.precio }}
                </dd>
                <dt>{% block tRPropia %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.referencia_propia }}
                </dd>
                <dt>{% block tRProveedor %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.referencia_proveidor }}
                </dd>
                <dt>{% block tODesde %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.oferta_desde }}
                </dd>
                <dt>{% block tOHasta %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.oferta_fins }}
                </dd>
                <dt>{% block tOPrecio %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.preu_oferta }}
                </dd>
                <dt>{% block tStock %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.stock }}
                </dd>
                <dt>{% block tAlta %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.alta }}
                </dd>
                <dt>{% block tActualizacion %}{% endblock %}</dt>
                <dd>
                    {{ parameters.article.actualitzacio }}
                </dd>
                <dt>{% block tInformacion %}{% endblock %}</dt>
                <dd>
                    {% autoescape 'html' %}
                        {{ parameters.article.informacio|raw }}
                    {% endautoescape %}
                </dd>
            </dl>
            {% set id = parameters.article.id_article %}
            {% set nameId = 'id_article' %}
            {% set moduleEliminar = 'article/eliminar' %}
            {% set moduleIndex = 'article/index' %}
            {% set moduleForm = 'article/form' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}