{%  extends parameters.baseTemplate %}

{% block headStyles %}
    <meta name="robots" content="NOINDEX,NOFOLLOW">
    <link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        {{ include('/src/module/tienda/carrito/view/navegador.html.twig') }}
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-5">
        <h1>
            Carro de la compra
        </h1>
        Para terminar tu compra, haz click en el botón Realizar pedido.
    </div>
    <div class="col-md-7 text-center">
        <img src="{{ parameters.pathModule }}/img/header_carrito.png" id="imagen-soporte">
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-12">
        <div class="row containerRow">
            <div class="col-md-12 jumbotron capaInformacion">
                <div class="row">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-2 capa-totaInformacio">
                        <div class="row containerRow">
                            <div class="col-md-6">
                                Descripción del artículo
                            </div>
                            <div class="col-md-2 text-center">
                                Cantidad
                            </div>
                            <div class="col-md-2 text-center">
                                Precio
                            </div>
                            <div class="col-md-2 text-center">
                                Subtotal
                            </div>
                        </div>
                    </div>
                </div>
                {% if  parameters.factura.index == '' %}
                    <span class="text-error">No hay artículos en el carrito</span>
                {% endif %}
                {% for article in parameters.factura.index %}
                <div class="row">
                    <div class="col-md-2 capa-imatge text-center">
                        <a href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                            <img class="imagen-articulo-carrito" src="{{ article.imatge }}" title="{{ article.descripcio }}" />
                        </a>
                    </div>
                    <div class="col-md-10 capa-totaInformacio">
                        <div class="row containerRow">
                            <div class="col-md-6">
                                <div class="row containerRow">
                                    <div class="capa-titulo">
                                        <div class="col-md-12">
                                            <a href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                                                {{ article.descripcio }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                <form action="{{ parameters.path }}/{{ parameters.language }}/carrito.html" id="carrito{{ article.id_article }}" method="POST">
                                    <input type="hidden" name="id_facturestemparticle" value="{{ article.id_facturestemparticle }}" />
                                    <input type="hidden" id="modificar{{ article.id_article }}" name="accion" value="modificar" />
                                    <input type="hidden" name="id_article" value="{{ article.id_article }}" />
                                    <div class="row containerElementRow">
                                        <div class="col-md-12">
                                            <input type="text" name="quantitat" value="{{ article.quantitat }}" class="form-control input-sm text-center" />
                                        </div>
                                    </div>
                                    <div class="row containerElementRow">
                                        <div class="col-md-12">
                                            <a href="javascript:$('#carrito{{ article.id_article }}')[0].submit()" class="btn btn-success btn-sm" title="Editar {{ article.descripcio }}">
                                                <span class="foundicon-general-edit icon-carrito"></span> Editar
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row containerElementRow">
                                        <div class="col-md-12">
                                            <a href="javascript:$('#modificar{{ article.id_article }}')[0].value='eliminar';$('#carrito{{ article.id_article }}')[0].submit()" class="btn btn-success btn-sm" title="Eliminar {{ article.descripcio }}">
                                                <span class="foundicon-general-trash icon-carrito"></span> Eliminar
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2 text-center">
                                <div class="row containerRow">
                                    <div class="capa-preu">
                                        <div class="col-md-12">
                                            {{ article.preu }}&euro;
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                <div class="row containerRow">
                                    <div class="capa-preu">
                                        <div class="col-md-12">
                                            <b>{{ article.subtotal }}&euro;</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-10 text-right">
                        Subtotal
                    </div>
                    <div class="col-md-12 text-right">
                        {{ parameters.factura.total }}&euro;
                    </div>
                </div>
                <div class="row" id="total">
                    <div class="col-md-10 text-right">
                        <b>Total</b>
                    </div>
                    <div class="col-md-12 text-right">
                        <b>{{ parameters.factura.total }}&euro;</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if parameters.usuario.email != '' %}
    <form action="{{ parameters.path }}/{{ parameters.language }}/carritoComprovacion.html" id="carritoComprovacion" onsubmit="return comprovaciones()" method="POST">
    <div class="row containerRow">
    <div class="col-md-12">
    <div class="row containerRow">
    <div class="col-md-12 jumbotron capaInformacion">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Datos de envío
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    ¿Los datos de facturación son distintos?
                </div>
                <div class="col-md-2">
                    <input type="checkbox"
                           class="form-control input-sm"
                           id="activar_facturacion"
                           name="activar_facturacion"
                           onchange="change_visibility()"
                            />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12" id="descripcio_primer_pedido">
                            <a name="link_primer_pedido">¿Es tu primer pedido en Marxa?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            SI
                        </div>
                        <div class="col-md-4">
                            <input type="radio" class="form-control input-sm" name="primer_pedido" value="true" />
                        </div>
                        <div class="col-md-2">
                            NO
                        </div>
                        <div class="col-md-4">
                            <input type="radio" checked class="form-control input-sm" name="primer_pedido" value="false" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12" id="descripcio_num_cliente">
                            <a name="link_num_cliente">Núm. cliente</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" onkeyup="igualar_text(this)" class="envio form-control input-sm" name="num_cliente" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12" id="descripcio_nombre_completo">
                            <a name="link_nombre_completo">Nombre completo *</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" onkeyup="igualar_text(this)" class="envio require form-control input-sm" name="nombre_completo" value="" />
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12" id="descripcio_dni">
                            <a name="link_dni">DNI *</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" onkeyup="igualar_text(this)" class="envio require form-control input-sm" name="dni" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12" id="descripcio_direccion">
                    <a name="link_direccion">Dirección *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio require form-control input-sm" name="direccion" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_num">
                    <a name="link_num">Nº</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio form-control input-sm" name="num" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_escalera">
                    <a name="link_escalera">Escalera</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio form-control input-sm" name="escalera" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_piso">
                    <a name="link_piso">Piso</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio form-control input-sm" name="piso" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_puerta">
                    <a name="link_puerta">Puerta</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio form-control input-sm" name="puerta" value="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" id="descripcio_localidad">
                    <a name="link_localidad">Localidad *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio require form-control input-sm" name="localidad" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" id="descripcio_codigo_postal">
                    <a name="link_codigo_postal">Código Postal *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio require form-control input-sm" name="codigo_postal" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" id="descripcio_provincia">
                    <a name="link_provincia">Provincia *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio require form-control input-sm" name="provincia" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" id="descripcio_pais">
                    <a name="link_pais">País *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <select class="form-control input-sm" name="pais">
                        <option value="España">España</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_telefono">
                    <a name="link_telefono">Teléfono *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio require form-control input-sm" name="telefono" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12" id="descripcio_email">
                    <a name="link_email">E-mail *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" onkeyup="igualar_text(this)" class="envio require form-control input-sm" id="email" name="email" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12" id="descripcio_r_email">
                    <a name="link_r_email">Repita el e-mail *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control input-sm" id="r_email" name="r_email" value="" />
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row containerRow" id="capaFacturacion">
    <div class="col-md-12">
    <div class="row containerRow">
    <div class="col-md-12 jumbotron capaInformacion">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Datos de facturación
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12" id="descripcio_f_nombre_completo">
                            <a name="link_f_nombre_completo">Nombre completo *</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" id="f_nombre_completo" class="form-control require input-sm" name="f_nombre_completo" value="" />
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12" id="descripcio_f_dni">
                            <a name="link_f_dni">DNI *</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="f_dni" class="form-control require input-sm" name="f_dni" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_direccion">
                    <a name="link_f_direccion">Dirección *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_direccion" class="form-control require input-sm" name="f_direccion" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_num">
                    <a name="link_f_num">Nº</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_num" class="form-control input-sm" name="f_num" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_escalera">
                    <a name="link_f_escalera">Escalera</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_escalera" class="form-control input-sm" name="f_escalera" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_piso">
                    <a name="link_f_piso">Piso</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_piso" class="form-control input-sm" name="f_piso" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_puerta">
                    <a name="link_f_puerta">Puerta</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_puerta" class="form-control input-sm" name="f_puerta" value="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_localidad">
                    <a name="link_f_localidad">Localidad *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_localidad" class="form-control require input-sm" name="f_localidad" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_codigo_postal">
                    <a name="link_f_codigo_postal">Código Postal *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_codigo_postal" class="form-control require input-sm" name="f_codigo_postal" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_provincia">
                    <a name="link_f_provincia">Provincia *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_provincia" class="form-control require input-sm" name="f_provincia" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_pais">
                    <a name="link_f_pais">País *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <select class="form-control input-sm" name="f_pais">
                        <option value="España">España</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_telefono">
                    <a name="link_f_telefono">Teléfono *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="f_telefono" class="form-control require input-sm" name="f_telefono" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12" id="descripcio_f_email">
                    <a name="link_f_email">E-mail *</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" id="f_email" class="form-control require input-sm" name="f_email" value="" />
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row containerRow">
        <div class="col-md-12">
            <div class="row containerRow">
                <div class="col-md-12 jumbotron capaInformacion">
                    <div class="row" id="descripcio_forma_pagament">
                        <h2>
                            Método de pago
                        </h2>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input type="radio" name="forma_pagament" value="transferencia" /> Transferencia
                        </div>
                        <div class="col-md-8">
                            Al hacer click en realizar pedido te facilitaremos nuestros datos bancarios para realizar la transferencia.
                        </div>
                        <div class="col-md-2">
                            Sin gastos adicionales
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row containerRow">
        <div class="col-md-12">
            <div class="row containerRow">
                <div class="col-md-12 jumbotron capaInformacion">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" name="condiciones" /> Acepto las <a href="{{ parameters.path }}/{{ parameters.language }}/condiciones_venta.html" title="Condiciones generales" target="_blank">condiciones generales</a> y la <a href="{{ parameters.path }}/{{ parameters.language }}/politicas_de_privacidad_de_datos.html" title="Política de privacidad" target="_blank">política de privacidad</a> de Marxa.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Realizar pedido" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
{% else %}
    <div class="row containerRow">
    <div class="col-md-12">
    <div class="row containerRow">
    <div class="col-md-12 jumbotron capaInformacion">
    <div class="row">
    <div class="col-md-12">
        Para realizar el pedido debes <a href="{{ parameters.path }}/{{ parameters.language }}/login.html" title="Login - Marxa">entrar</a> en Marxa o <a href="{{ parameters.path }}/{{ parameters.language }}/registro.html" title="Registrarse - Marxa">regitrarte</a>.
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endif %}
    <div class="row containerRow">
    <div class="col-md-12">
        {{ include('/src/module/tienda/carrito/view/navegador.html.twig') }}
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#capaFacturacion').hide();
    });
    window.modificar_datos = true;
    var change_visibility = function()
    {
        if($('#activar_facturacion')[0].checked == true)
        {
            $('#capaFacturacion').show();
            window.modificar_datos = false;
        }else{
            $('#capaFacturacion').hide();
            $('#carritoComprovacion .envio').each(function(inputNumber){
                var element = $('#carritoComprovacion .envio')[inputNumber];
                if(element.value != undefined&&$('#f_'+element.name)[0] != undefined)
                {
                    $('#f_'+element.name)[0].value = element.value;
                }
            });
            window.modificar_datos = true;
        }
    }
    var igualar_text = function(element)
    {
        if($('#f_'+element.name)[0] != undefined&&window.modificar_datos == true)
        {
            $('#f_'+element.name)[0].value = element.value;
        }
    }
    var comprovaciones = function()
    {
        window.tagToMove = '';
        $('#carritoComprovacion .require').each(function(inputNumber){
            var element = $('#carritoComprovacion .require')[inputNumber];
            if($('#descripcio_'+element.name+' .label')[0] != undefined)
            {
                $('#descripcio_'+element.name+' .label')[0].remove();
            }
            if(element.value == ''||element.value == 0)
            {
                if(window.tagToMove == '')
                {
                    window.tagToMove = element.name;
                }

                $('#descripcio_'+element.name)[0].innerHTML =
                        '<span class="label label-danger">Error</span>' + $('#descripcio_'+element.name)[0].innerHTML;
            }
        });
        if($('#descripcio_r_email .label')[0] != undefined)
        {
            $('#descripcio_r_email .label')[0].remove();
        }
        if($('#email')[0].value != $('#r_email')[0].value)
        {
            if(window.tagToMove == '')
            {
                window.tagToMove = 'r_email';
            }
            $('#descripcio_r_email')[0].innerHTML = '<span class="label label-danger">Error</span>' + $('#descripcio_r_email')[0].innerHTML;
        }
        if(window.tagToMove != '')
        {
            window.location.hash='link_'+window.tagToMove;
            return false;
        }

        return false;
    }
</script>
{% endblock %}