<div class="row containerRow">
    <div class="col-md-12">
        <a href="{{ parameters.path }}/{{ parameters.language }}/home.html">Inicio</a>
        {% if parameters.urlAnterior != '' %}
            {% for url in parameters.urlAnterior %}
                &nbsp;>&nbsp;
                <a href="{{ parameters.path }}/{{ parameters.language }}/{{ url.url }}.html"
                   title="{{ url.descripcion }}"
                        >
                    {{ url.descripcion }}
                </a>
            {% endfor %}
        {% endif %}
        &nbsp;>&nbsp;
        <a href="{{ parameters.path }}/{{ parameters.language }}/carrito.html" title="Carrito de la compra">
            Carrito de la compra
        </a>
    </div>
</div>