{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Proveïdor{% endblock %}

{% block tBorrado %}S'ha borrat el proveïdor{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el proveïdor{% endblock %}
{% block tCrear %}Crear Proveïdor{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tAcciones %}Accions{% endblock %}