{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - IVA{% endblock %}

{% block tLegend %}IVA{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tPIVA %}Escribe el IVA{% endblock %}
{% block tGuardar %}Guardar{% endblock %}