{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Especial{% endblock %}

{% block tLegend %}Especial{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPDescripcion %}Escribe la descripción{% endblock %}
{% block tGuardar %}Guardar{% endblock %}