{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Familia{% endblock %}

{% block tBorrado %}Se ha borrado la familia{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar la familia{% endblock %}
{% block tCrear %}Crear Familia{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tOrden %}Orden{% endblock %}
{% block tAcciones %}Acciones{% endblock %}