{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.iva.iva }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/iva/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_iva" value="{% if parameters.iva.id_iva == '' %}-1{% else %}{{ parameters.iva.id_iva }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputIVA">{% block tIVA %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="iva" type="text" value="{{ parameters.iva.iva }}" id="inputIVA"
                           class="form-control input-sm" placeholder="{% block tPIVA %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.iva.id_iva != '' %}
            {% set id = parameters.iva.id_iva %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_iva' %}
        {% set moduleEliminar = 'iva/eliminar' %}
        {% set moduleIndex = 'iva/index' %}
        {% set moduleVista = 'iva/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
{% endblock %}

{% block scriptsjs %}
{% endblock %}