{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Widget - Slide{% endblock %}

{% block tBorrado %}Se ha borrado el slide{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el slide{% endblock %}
{% block tErrorCreado %}Se ha producido un error al crear el slide{% endblock %}
{% block tCrear %}Crear Slide{% endblock %}
{% block tImagenes %}Imágenes{% endblock %}
{% block tAcciones %}Acciones{% endblock %}