{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ parameters.path }}/src/lib/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.fabricant.descripcio }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/fabricant/guardar.html"
              class="form-horizontal" role="form">
            <input type="hidden" name="id_fabricant" value="{% if parameters.fabricant.id_fabricant == '' %}-1{% else %}{{ parameters.fabricant.id_fabricant }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcio">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="descripcio" class="form-control input-sm" type="text" value="{{ parameters.fabricant.descripcio }}" id="inputDescripcio"
                           placeholder="{% block tPDescripcion %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputImatge">{% block tImagen %}{% endblock %}</label>
                <div class="col-md-6">
                    <input name="imatge" class="form-control input-sm" type="text" value="{{ parameters.fabricant.imatge }}" id="inputImatge"
                           placeholder="{% block tPImagen %}{% endblock %}">
                </div>
                <div class="col-md-1 text-right">
                    <a href="{{ parameters.path }}/src/lib/tinymce/plugins/responsivefilemanager/dialog.php?type=1&amp;subfolder=&amp;editor=mce_0&amp;field_id=inputImatge" class="btn btn-default iframe-btn" type="button">
                        {% block tSeleccionar %}{% endblock %}
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </div>
            </div>
        </form>
        {% if parameters.fabricant.id_fabricant != '' %}
            {% set id = parameters.fabricant.id_fabricant %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_fabricant' %}
        {% set moduleEliminar = 'fabricant/eliminar' %}
        {% set moduleIndex = 'fabricant/index' %}
        {% set moduleVista = 'fabricant/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
{% endblock %}

{% block scriptsjs %}
    <script type="text/javascript" src="{{ parameters.path }}/src/lib/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript">
        $('.iframe-btn').fancybox({
            'width'	 : 900,
            'height'	: 600,
            'type'	 : 'iframe',
            'autoScale' : false,
            'onComplete' : function() {
            }
        });
    </script>
{% endblock %}