{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Widget - Text{% endblock %}

{% block tLegend %}Text{% endblock %}
{% block tTexto %}Text{% endblock %}
{% block tGuardar %}Save{% endblock %}