{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.nivell.descripcio }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/nivell/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_nivell" value="{% if parameters.nivell.id_nivell == '' %}-1{% else %}{{ parameters.nivell.id_nivell }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcio">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="descripcio" type="text" value="{{ parameters.nivell.descripcio }}" id="inputDescripcio"
                           class="form-control input-sm" placeholder="{% block tPDescripcion %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputTipus">{% block tTipo %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="tipus" type="text" value="{{ parameters.nivell.tipus }}" id="inputTipus"
                           class="form-control input-sm" placeholder="{% block tPTipo %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputAdicional">{% block tAdicional %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="adicional" type="text" value="{{ parameters.nivell.adicional }}" id="inputAdicional"
                           class="form-control input-sm" placeholder="{% block tPAdicional %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.nivell.id_nivell != '' %}
            {% set id = parameters.nivell.id_nivell %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_nivell' %}
        {% set moduleEliminar = 'nivell/eliminar' %}
        {% set moduleIndex = 'nivell/index' %}
        {% set moduleVista = 'nivell/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}