{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}</legend>
        <div id="slideShow">
            <div id="id_slideFromCarrusel">&nbsp;</div>
            {% autoescape 'html' %}
                {{ parameters.slide.slideshow|raw }}
            {% endautoescape %}
        </div>
    </fieldset>
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend><a id="TOC" name="TOC"><span id="titleForm">{% block tLegendNuevaImagen %}{% endblock %}</span></a>
            <a class="icon-plus pull-right" onclick="return returnToNewImg();"></a></legend>
        <form method="POST" class="form-horizontal" onsubmit="return false;">
            <input type="hidden" name="id_slide" id="id_slide" value="{% if parameters.slide.id_slide == '' %}-1{% else %}{{ parameters.slide.id_slide }}{% endif %}" />
            <input type="hidden" name="num_slideimatge" id="num_slideimatge" value="NULL" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputUrl">{% block tUrl %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="url" type="text" value="" id="inputUrl"
                           class="form-control input-sm" placeholder="{% block tPUrl %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputLink">{% block tLink %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="link" type="text" value="" id="inputLink"
                           class="form-control input-sm" placeholder="{% block tPLink %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcion">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <textarea name="descripcio" id="inputDescripcion"></textarea>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="button" onclick="newImg(this);" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript">
    var newImg = function(imatge)
    {
        var dataObject = new Object();
        dataObject.id_slide = this.id_slide.value;
        dataObject.url = this.inputUrl.value;
        dataObject.link = this.inputLink.value;
        dataObject.descripcio = tinyMCE.get('inputDescripcion').getContent({format : 'raw'});
        dataObject.num_slideimatge = this.num_slideimatge.value;
        $.ajax({
            type: "JSON",
            async: false,
            url: "{{ parameters.path }}/{{ parameters.language }}/administrador/slideImatge.html",
            data: JSON.stringify(dataObject)
        }).done(function( htmlContent ) {
            $('#titleForm')[0].innerHTML = 'Nueva Imagen';
            $('#slideShow')[0].innerHTML = htmlContent;
            $('#id_slide')[0].value = $('#id_slideFromCarrusel')[0].innerHTML;
            $('#inputUrl')[0].value = '';
            $('#inputLink')[0].value = '';
            $('#num_slideimatge')[0].value = 'NULL';
            tinyMCE.get('inputDescripcion').setContent('');
        });

        return false;
    }
    var deleteImg =  function(num_slideimatge)
    {
        $.ajax({
            type: "POST",
            async: false,
            url: "{{ parameters.path }}/{{ parameters.language }}/administrador/slideImatge.html",
            data: { id_slide: this.id_slide.value,
                accio: 'eliminar',
                num_slideimatge: num_slideimatge }
        }).done(function( htmlContent ) {
                    $('#titleForm')[0].innerHTML = 'Nueva Imagen';
                    $('#slideShow')[0].innerHTML = htmlContent;
                    $('#id_slide')[0].value = $('#id_slideFromCarrusel')[0].innerHTML;
                    $('#inputUrl')[0].value = '';
                    $('#inputLink')[0].value = '';
                    $('#num_slideimatge')[0].value = 'NULL';
                    tinyMCE.get('inputDescripcion').setContent('');
                });

        return false;
    }
    var editImg = function(num_slideimatge, url, link)
    {
        $('#titleForm')[0].innerHTML = 'Editar Imagen';
        $('#inputUrl')[0].value = url;
        $('#inputLink')[0].value = link;
        $('#num_slideimatge')[0].value = num_slideimatge;
        tinyMCE.get('inputDescripcion').setContent($('#descripcio_carousel_'+num_slideimatge)[0].innerHTML); // .replace("^\"|\"$", ""

        return true;
    }
    var returnToNewImg = function()
    {
        $('#titleForm')[0].innerHTML = 'Nueva Imagen';
        $('#inputUrl')[0].value = '';
        $('#inputLink')[0].value = '';
        $('#num_slideimatge')[0].value = 'NULL';
        tinyMCE.get('inputDescripcion').setContent('');
    }
</script>
{% endblock %}