{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Ficha técnica - Título{% endblock %}

{% block tLegend %}Título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tGuardar %}Guardar{% endblock %}