{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Promotion{% endblock %}

{% block tLegend %}Promotion{% endblock %}
{% block tTipoWidget %}Type of widget{% endblock %}
{% block tIdTipoWidget %}Widget{% endblock %}
{% block tPIdTipoWidget %}Choose the widget{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPDescripcion %}Write description{% endblock %}
{% block tGuardar %}Save{% endblock %}
{% block tLegendIndex %}Promotion - Index{% endblock %}
{% block tInfoEliminado %}<b>Information</b> Element deleted{% endblock %}
{% block tInfoCreado %}<b>Information</b> Element created{% endblock %}
{% block tCheck %}Select{% endblock %}
{% block tPagina %}Page{% endblock %}