{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Widget - Slide{% endblock %}

{% block tBorrado %}Deleted slide{% endblock %}
{% block tErrorBorrado %}Error to delete slide{% endblock %}
{% block tErrorCreado %}Error to create slide{% endblock %}
{% block tCrear %}Create Slide{% endblock %}
{% block tImagenes %}Images{% endblock %}
{% block tAcciones %}Actions{% endblock %}