{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Widget - Imatge{% endblock %}

{% block tLegend %}Imatge{% endblock %}
{% block tImatge %}Imatge{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Escull la imatge{% endblock %}
{% block tSeleccionar %}Galeria{% endblock %}
{% block tGuardar %}Guardar{% endblock %}