{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Página{% endblock %}

{% block tLegend %}Página{% endblock %}
{% block tModificado %}Se ha modificado la página{% endblock %}
{% block tInsertado %}Se ha insertado la página{% endblock %}
{% block tTitulo %}Título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tDescripcionAmigable %}Descripción amigable{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tUltimaModificacion %}Última modificación{% endblock %}
{% block tKeywords %}Keywords{% endblock %}