{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Promoción{% endblock %}

{% block tLegend %}Promoción{% endblock %}
{% block tTipoWidget %}Tipo de widget{% endblock %}
{% block tIdTipoWidget %}Widget{% endblock %}
{% block tPIdTipoWidget %}Escoje el widget{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPDescripcion %}Escribe la descripción{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tLegendIndex %}Promoción - Índice{% endblock %}
{% block tInfoEliminado %}<b>Información</b> Elemento eliminado{% endblock %}
{% block tInfoCreado %}<b>Información</b> Elemento creado{% endblock %}
{% block tCheck %}Selección{% endblock %}
{% block tPagina %}Página{% endblock %}