{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Widget - Slide{% endblock %}

{% block tBorrado %}S'ha borrat el slide{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el slide{% endblock %}
{% block tErrorCreado %}S'ha produït un error al crear el slide{% endblock %}
{% block tCrear %}Crear Slide{% endblock %}
{% block tImagenes %}Imatges{% endblock %}
{% block tAcciones %}Accions{% endblock %}