{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Page{% endblock %}

{% block tLegend %}Page{% endblock %}
{% block tModificado %}Page updated{% endblock %}
{% block tInsertado %}Page inserted{% endblock %}
{% block tTitulo %}Title{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tDescripcionAmigable %}Driendly description{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tUltimaModificacion %}Last update{% endblock %}
{% block tKeywords %}Keywords{% endblock %}