{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {{ parameters.imatge.url }}</legend>
            {% if parameters.success == 1 %}
                <div class="alert alert-success">
                    {% block tModificado %}{% endblock %}
                </div>
            {% endif %}
            {% if parameters.success == 2 %}
                <div class="alert alert-success">
                    {% block tInsertado %}{% endblock %}
                </div>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>{% block tImagen %}{% endblock %}</dt>
                <dd>
                    <img src="{{ parameters.imatge.url }}" />
                </dd>
                <dt>{% block tUrl %}{% endblock %}</dt>
                <dd>
                    {{ parameters.imatge.url }}
                </dd>
            </dl>
            {% set id = parameters.imatge.id_imatge %}
            {% set nameId = 'id_imatge' %}
            {% set moduleEliminar = 'imagen/eliminar' %}
            {% set moduleIndex = 'imagen/index' %}
            {% set moduleForm = 'imagen/form' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}