{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - IVA{% endblock %}

{% block tLegend %}IVA{% endblock %}
{% block tModificado %}IVA updated{% endblock %}
{% block tInsertado %}IVA inserted{% endblock %}
{% block tIVA %}IVA{% endblock %}