<!DOCTYPE html>
<html lang="{{ parameters.language }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block headTitle %}{% endblock %}{{ parameters.title }} - Marxa</title>
    <meta name="author" content="Valentí Gàmez" />
    <meta name="description" content="{% block headDescription %}{% endblock %} - Marxa" />
    <meta name="keywords" content="{% block headKeywords %}{% endblock %}, marxa" />
    <meta name="application-name" content="Marxa" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block headMetas %}{% endblock %}

    <!-- Styles -->
    <link href="{{ parameters.path }}/src/lib/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/module/tienda/general/css/general.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/jquery/ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/jquery/minicolors/jquery.minicolors.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/jquery/uploadify/uploadify.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/jquery/colorbox/example5/colorbox.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_general/stylesheets/general_foundicons.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_social/stylesheets/social_foundicons.css" rel="stylesheet">
    <link href="{{ parameters.path }}/src/lib/icons/foundation_icons_all/foundation_icons_accessibility/stylesheets/accessibility_foundicons.css" rel="stylesheet">

    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>-->

    {% block headStyles %}{% endblock %}

    <link rel="shortcut icon" href="{{ parameters.path }}/src/module/tienda/general/ico/favicon.ico" />
</head>
<body>
<div id="beforeLayer">
    &nbsp;
</div>
<div class="container" id="topLayer">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <span class="foundicon-general-phone"></span>&nbsp;&nbsp; 932 502 710
                {% if parameters.usuario.email != '' %}
                    &nbsp;&nbsp;&nbsp;<a href="{{ parameters.path }}/{{ parameters.language }}/cerrar.html" title="Cerrar sesión - Marxa">Cerrar sesión</a>
                {% else %}
                    &nbsp;&nbsp;&nbsp;<a href="{{ parameters.path }}/{{ parameters.language }}/login.html" title="Login - Marxa">Login</a>
                    &nbsp;&nbsp;&nbsp;<a href="{{ parameters.path }}/{{ parameters.language }}/registro.html" title="Registrarse - Marxa">Registrarse</a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;<a href="mailto:marxa@marxa.es?subject=Contacte web" target="_blank" title="Contacto - Marxa">Contacto</a>
                &nbsp;&nbsp;&nbsp;<a href="{{ parameters.path }}/{{ parameters.language }}/condiciones_venta.html" title="Condiciones de venta - Marxa">Condiciones de venta</a>
            </div>
            <div class="pull-right">
                Bienvenida/o a Marxa!
            </div>
        </div>
    </div>
</div>

<div class="container" id="mainLayer">
    <div class="row" id="headerRow">
        <div class="col-md-12">
            {{ include('/src/module/tienda/general/view/'~parameters.language~'/menu.html.twig') }}
        </div>
    </div>
    {% if parameters.factura.index|length > 0 and parameters.descripcio_amigable != 'carrito' %}
    <div class="row containerRow" id="capa-carrito">
        <div class="col-md-2" id="capa-resumen-carrito">
            <div class="row">
                <div class="col-md-12">
                    Total: {{ parameters.factura.total }}&euro;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ parameters.path }}/{{ parameters.language }}/carrito.html" class="btn btn-success" id="boton-carrito" title="Ir al carrito">
                        Ir al carrito
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="collapse navbar-collapse">
                <div class="row">
                    {% set numColsToSum = 4 %}
                    {% set numColsToRow = 12 %}
                    {% for article in parameters.factura.index %}
                    {% set numCols = numCols + numColsToSum %}
                    {% if numCols > numColsToRow %}
                    {% set numCols = numColsToSum %}
                    <div class="clear"></div>
                </div>
                <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="imagen-articulo-carrito-resumen" src="{{ article.imatge }}" title="{{ article.descripcio }}" />
                            </div>
                            <div class="col-md-7">
                                <a class="link-carrito-resumen" href="{{ parameters.path }}/{{ parameters.language }}/{{ article.url_article }}.html" title="{{ article.descripcio }}">
                                    {{ article.descripcio }}
                                </a>
                            </div>
                            <div class="col-md-2 text-center">
                                x{{ article.quantitat }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% set numCols = 0 %}
                </div>
            </div>

        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    {% endif %}
    {% block bodyContent %}{% endblock %}
    <div class="row" id="footerRow">
        <div class="row">
            <div class="col-md-3">
                <h4>
                    <b>INFORMACIÓN</b>
                </h4>
                <ul>
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="http://marxa.es/index.php?pagina=qui_som" title="Sobre nosotros">Sobre nosotros</a>
                    </li>
                    <!--<li>
                        <span class="foundicon-general-minus"></span> <a href="#" title="Información de envío">Información de envío</a>
                    </li>-->
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="{{ parameters.path }}/{{ parameters.language }}/politicas_de_privacidad_de_datos.html" title="Políticas de privacidad">Políticas de privacidad</a>
                    </li>
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="{{ parameters.path }}/{{ parameters.language }}/condiciones_venta.html" title="Términos y condiciones">Términos y condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>
                    <b>ATENCIÓN AL CLIENTE</b>
                </h4>
                <ul>
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="mailto:marxa@marxa.es?subject=Contacte web" target="_blank" title="Contáctanos">Contáctanos</a>
                    </li>
                    <!--<li>
                        <span class="foundicon-general-minus"></span> <a href="#" title="Devoluciones">Devoluciones</a>
                    </li>
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="#" title="Mapa del sitio">Mapa del sitio</a>
                    </li>-->
                </ul>
            </div>
            <div class="col-md-3">
                <!--<h4>
                    <b>MI CUENTA EN MARXA</b>
                </h4>
                <ul>
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="#" title="Mi cuenta">Mi cuenta</a>
                    </li>
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="#" title="Historial de pedidos">Historial de pedidos</a>
                    </li>
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="#" title="Lista de deseos">Lista de deseos</a>
                    </li>
                    <li>
                        <span class="foundicon-general-minus"></span> <a href="#" title="Newsletters">Newsletters</a>
                    </li>
                </ul>-->
            </div>
            <div class="col-md-3" id="layer4">
                <h4>
                    <b>CONTÁCTENOS</b>
                </h4>
                <ul>
                    <li>
                        <span class="foundicon-general-phone"></span> 932 502 710
                    </li>
                    <li>
                        <span class="foundicon-general-mail"></span> marxa@marxa.es
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="lineaDivisoria">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="logosPago">
                <!--<img src="{{ parameters.path }}/src/module/tienda/general/img/paypal.png" title="Paypal" />
                <img src="{{ parameters.path }}/src/module/tienda/general/img/moneybookers.png" title="Moneybookers" />
                <img src="{{ parameters.path }}/src/module/tienda/general/img/visa-electron.png" title="Visa Electrón" />
                <img src="{{ parameters.path }}/src/module/tienda/general/img/american-express.png" title="American Express" />
                <img src="{{ parameters.path }}/src/module/tienda/general/img/mastercard.png" title="Mastercard" />-->
            </div>
            <div class="col-md-6">
                <div class="pull-right text-right" id="copyright">
                    Powered By <a href="#" title="Open Dominik Agency">Open Dominik Agency</a><br/>
                    Marxa &copy; {{ "now"|date('Y') }} | Design By <a href="#" title="Open Dominik Agency">Open Dominik Agency</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ parameters.path }}/src/lib/jquery/js/jquery.js"></script>
<script src="{{ parameters.path }}/src/lib/jquery/colorbox/jquery.colorbox.js"></script>
<script src="{{ parameters.path }}/src/lib/jquery/uploadify/jquery.uploadify.js"></script>
<script src="{{ parameters.path }}/src/lib/jquery/ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="{{ parameters.path }}/src/lib/jquery/minicolors/jquery.minicolors.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/bootstrap.min.js"></script>
<!--<script src="{{ parameters.path }}/src/lib/bootstrap3/js/transition.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/alert.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/modal.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/dropdown.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/scrollspy.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/tab.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/tooltip.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/popover.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/button.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/collapse.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/carousel.js"></script>
<script src="{{ parameters.path }}/src/lib/bootstrap3/js/affix.js"></script>-->
<script type="text/javascript">
    var dateNow = new Date();
    var dateToDatePicker = dateNow.getFullYear() + 10;
    $(function() {
        $( ".date" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1920:'+dateToDatePicker,
            dateFormat: 'dd-mm-yy'
        });
        $( ".colorPicker").minicolors();
    });
    $('.dropdown-toggle').dropdown();
</script>
{% block scriptsjs %}{% endblock %}
</body>
</html>