<ul class="dropdown-menu">
{% for element in item.subfamilia %}
    {% set numSubElements = element.subfamilia|length %}
    <li {% if numSubElements> 0 %}class="dropdown"{% endif %}>
        <a href="{% if element.module.value != '' %}{{ parameters.path }}/{{ parameters.language }}/{{ element.module.value }}.html{% else %}#{% endif %}">{{ element.descripcion.value }}</a>
        {% if numSubElements> 0 %}
            {{ include('/src/module/tienda/general/view/base-menu-subfamilies.html.twig', {item: element, numSubItems: numSubElements}) }}
        {% endif %}
    </li>
{% endfor %}
<li class="divider"></li>
<li>
    <a href="{% if item.module.value != '' %}{{ parameters.path }}/{{ parameters.language }}/{{ item.module.value }}.html{% else %}#{% endif %}">
        Ver todo
    </a>
</li>
</ul>