<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navPrincipal">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ parameters.path }}/{{ parameters.language }}/home.html"><img src="http://www.marxa.es/disc_dur/documents/imatges_botiga/logo.jpg" width="70%" alt="Marxa"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% for item in parameters.menu %}
                {% set numSubItems = item.subfamilia|length %}
                <li class="{% if numSubItems > 0 %}dropdown{% endif %} {% if item.active == true %}active{% endif %}">
                    <a
                      href="{% if item.module.value != '' %}{{ parameters.path }}/{{ parameters.language }}/{{ item.module.value }}.html{% else %}#{% endif %}"
                      class="linkMenu {% if numSubItems > 0 %}dropdown-toggle{% endif %}"
                      {% if numSubItems > 0 %}data-toggle="dropdown"{% endif %}
                    >
                        <b>{{ item.descripcion.value }}</b><br />
                        {{ item.descripcion.optional }}{% if numSubItems > 0 %}<b class="caret">{% endif %}</b>
                    </a>
                    {% if numSubItems > 0 %}
                        {{ include('/src/module/tienda/general/view/base-menu-subfamilies.html.twig', {item: item, numSubItems: numSubItems}) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right" id="facebookIcon">
            <li><a target="_blank" href="https://www.facebook.com/serveismarxa"><span class="foundicon-social-facebook"></span></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>