{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - IVA{% endblock %}

{% block tBorrado %}S'ha borrat el IVA{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el IVA{% endblock %}
{% block tCrear %}Crear IVA{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tAcciones %}Accions{% endblock %}