{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Special{% endblock %}

{% block tLegend %}Special{% endblock %}
{% block tModificado %}Special updated{% endblock %}
{% block tInsertado %}Special inserted{% endblock %}
{% block tDescripcion %}Description{% endblock %}