{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Widget - Imatge{% endblock %}

{% block tLegend %}Imatge{% endblock %}
{% block tModificado %}S'ha modificat la imatge{% endblock %}
{% block tInsertado %}S'ha insertat la imatge{% endblock %}
{% block tImagen %}Imatge{% endblock %}
{% block tUrl %}Url{% endblock %}