{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.module.module }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/module/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_module" value="{% if parameters.module.id_module == '' %}-1{% else %}{{ parameters.module.id_module }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputModule">{% block tModule %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="module" type="text" value="{{ parameters.module.module }}" id="inputModule"
                           class="form-control input-sm" placeholder="{% block tPModule %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputRol">{% block tRol %}{% endblock %}</label>
                <div class="col-md-7">
                    <select class="form-control input-sm" id="inputRol" name="id_rol">
                        {% for rol in parameters.roles %}
                            <option value="{{ rol.id_rol }}"
                                    {% if parameters.module.id_rol == rol.id_rol %}
                                        selected
                                    {% endif %}
                                    >
                                {{ rol.rol }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputUsuario">{% block tUsuario %}{% endblock %}</label>
                <div class="col-md-7">
                    <select class="form-control input-sm" id="inputUsuario" name="id_usuario">
                        {% for usuario in parameters.usuarios %}
                            <option value="{{ usuario.id_usuario }}"
                                    {% if parameters.module.id_usuario == usuario.id_usuario %}
                                        selected
                                    {% endif %}
                                    >
                                {{ usuario.email }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputPermisos">{% block tPermisos %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="permissions" type="text" value="{{ parameters.module.permissions }}" id="inputPermisos"
                           class="form-control input-sm" placeholder="{% block tPPermisos %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.module.id_module != '' %}
            {% set id = parameters.module.id_module %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_module' %}
        {% set moduleEliminar = 'module/eliminar' %}
        {% set moduleIndex = 'module/index' %}
        {% set moduleVista = 'module/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}