h1 {
  font-weight: bold;
}
body .container .paginacion {
  margin: 0;
}
body .container .filtros-familia {
  font-size: 10pt;
}
body .container .filtros-familia hr {
  margin: 0 0 5px;
}
body .container .filtros-eliminar .close {
  margin-left: 8px;
}
body .container .filtros-eliminar .close:hover {
  color: red;
}
body .container .filtros-eliminar a {
  color: #5fae5a;
}
body .container .filtros-eliminar a:hover {
  color: #427e3e;
}
body .container .filtros-eliminar a:hover .close {
  color: red;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
body .container #filtro-precio {
  width: 130px;
  margin-left: 14px;
}
body .container .views .col-md-1,
body .container .views .col-md-2 {
  padding-left: 0;
  padding-right: 0;
}
body .container .lineaDivisoria {
  height: 1px;
}
body .container .lineaDivisoria hr {
  margin: 0;
}
body .container .capa-article {
  border: white 2px solid;
}
body .container .capa-article a {
  color: black;
  text-decoration: underline;
}
body .container .capa-article a:hover {
  text-decoration: none;
}
body .container .capa-article .capa-imatge {
  height: 200px;
  overflow: hidden;
}
body .container .capa-article .capa-imatge .imatge {
  max-width: 150px;
}
body .container .capa-article .capa-descripcio-pre {
  padding: 5px 0 0px;
}
body .container .capa-article .capa-descripcio-pre .capa-descripcio {
  border: #5fae5a 1px solid;
  height: 73px;
  padding: 5px 0 5px;
  font-weight: bold;
}
body .container .capa-article .capa-masInfo {
  padding: 0;
  color: #5fae5a;
}
body .container .capa-article .capa-masInfo a {
  color: #5fae5a;
}
body .container .capa-article .capa-preu {
  font-size: 15pt;
}
body .container .capa-article .capa-preu a {
  text-decoration: none;
}
body .container .capa-article .capa-preu a:hover {
  color: #5fae5a;
}
body .container .capa-article:hover {
  border: #5fae5a 2px solid;
}
body .container .capa-article-extendido {
  border: white 2px solid;
}
body .container .capa-article-extendido a {
  color: black;
  text-decoration: underline;
}
body .container .capa-article-extendido a:hover {
  text-decoration: none;
}
body .container .capa-article-extendido .capa-imatge {
  text-align: center;
  height: 200px;
  overflow: hidden;
}
body .container .capa-article-extendido .capa-imatge .imatge {
  max-width: 200px;
}
body .container .capa-article-extendido .capa-totaInformacio .capa-titulo {
  font-size: 15pt;
}
body .container .capa-article-extendido .capa-totaInformacio .capa-titulo a {
  text-decoration: none;
}
body .container .capa-article-extendido .capa-totaInformacio .capa-descripcion {
  font-size: 12pt;
}
body .container .capa-article-extendido .capa-totaInformacio .capa-masInfo {
  padding: 0;
  color: #5fae5a;
}
body .container .capa-article-extendido .capa-totaInformacio .capa-masInfo a {
  color: #5fae5a;
}
body .container .capa-article-extendido .capa-totaInformacio .capa-preu {
  font-size: 15pt;
  text-align: center;
  color: #5fae5a;
}
body .container .capa-article-extendido .capa-totaInformacio .capa-carrito {
  text-align: center;
}
body .container .capa-article-extendido .capa-totaInformacio .capa-carrito a {
  text-decoration: none;
}
body .container .capa-article-extendido:hover {
  border: #5fae5a 2px solid;
}
