@import '../../general/css/variable';

h1{
  font-weight: bold;
}

body{
  .container{
    .paginacion{
      margin: 0;
    }

    .filtros-familia{
      font-size: 10pt;

      hr{
        margin: 0 0 5px;
      }
    }

    .filtros-eliminar{

      .close{
        margin-left: 8px;
      }

      .close:hover {
        color: red;
      }

      a{
        color: @colorPrincipal;
      }

      a:hover{
        color: @colorPrincipalFuerte;

        .close{
          color: red;
          text-decoration: none;
          opacity: 0.5;
          filter: alpha(opacity=50);
        }
      }
    }

    #filtro-precio{
      width: 130px;
      margin-left: 14px;
    }

    .views{
      .col-md-1, .col-md-2{
        padding-left: 0;
        padding-right: 0;
      }
    }

    .lineaDivisoria {
      height: 1px;

      hr{
        margin: 0;
      }
    }

    .capa-article{
      border: white 2px solid;

      a{
        color: black;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: none;
      }

      .capa-imatge{
        height: 200px;
        overflow: hidden;

        .imatge{
          max-width:150px;
        }
      }

      .capa-descripcio-pre{
        padding: 5px 0 0px;

        .capa-descripcio{
          border: @colorPrincipal 1px solid;
          height: 73px;
          padding: 5px 0 5px;
          font-weight: bold;
        }
      }

      .capa-masInfo{
        padding: 0;
        color: @colorPrincipal;
        a{
          color: @colorPrincipal;
        }
      }

      .capa-preu{
        font-size: 15pt;

        a{
          text-decoration: none;
        }
        a:hover{
          color: @colorPrincipal;
        }
      }
    }
    .capa-article:hover{
      border: @colorPrincipal 2px solid;
    }

    .capa-article-extendido{
      border: white 2px solid;

      a{
        color: black;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: none;
      }

      .capa-imatge{
        text-align: center;
        height: 200px;
        overflow: hidden;

        .imatge{
          max-width:200px;
        }
      }

      .capa-totaInformacio{
        .capa-titulo{
          font-size: 15pt;

          a{
            text-decoration: none;
          }
        }

        .capa-descripcion{
          font-size: 12pt;
        }

        .capa-masInfo{
          padding: 0;
          color: @colorPrincipal;
          a{
            color: @colorPrincipal;
          }
        }

        .capa-preu{
          font-size: 15pt;
          text-align: center;
          color: @colorPrincipal;
        }

        .capa-carrito{
          text-align: center;

          a{
            text-decoration: none;
          }
        }
      }
    }
    .capa-article-extendido:hover{
      border: @colorPrincipal 2px solid;
    }
  }
}
