{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Articles{% endblock %}

{% block tBorrado %}S'ha borrat l'article{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar l'article{% endblock %}
{% block tCrear %}Crear Article{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tAcciones %}Accions{% endblock %}