{%  extends parameters.baseTemplate %}

{% block headStyles %}
    <meta name="robots" content="INDEX,FOLLOW">
    <meta property="og:image" content="{{ parameters.article.imatge }}">
    <link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        {{ include('/src/module/tienda/articulo/view/navegador.html.twig') }}
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-9">
        <div class="row containerRow">
            <div class="col-md-12 jumbotron" id="capaTodaInformacion">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ parameters.article.imatge }}">
                            <img src="{{ parameters.article.imatge }}"
                                 title="{{ parameters.article.descripcio }}"
                                 alt="{{ parameters.article.descripcio }}"
                                 id="foto-article" data-zoom-image="{{ parameters.article.imatge }}" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            {% if parameters.article.fabricant.imatge != '' %}
                                <div class="col-md-3">
                                    <img src="{{ parameters.article.fabricant.imatge }}"
                                         alt="{{ parameters.article.fabricant.descripcio }}"
                                         title="{{ parameters.article.fabricant.descripcio }}"
                                         id="foto-fabricant"/>
                                </div>
                                <div class="col-md-9" id="descripcio">
                                    <h1>
                                        {{ parameters.article.descripcio }}
                                    </h1>
                                </div>
                            {% else %}
                                <div class="col-md-12">
                                    <h1>
                                        {{ parameters.article.descripcio }}
                                    </h1>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="grupo-precio">
                                PVP: <span id="precio">{{ parameters.article.precio }}&euro; IVA incl.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 jumbotron" id="grupo-comprar">
                                <form action="{{ parameters.path }}/{{ parameters.language }}/carrito.html" id="carrito" method="POST">
                                    <input type="hidden" name="id_article" value="{{ parameters.article.id_article }}" />
                                    <input type="hidden" name="url_anterior[]" value="{{ parameters.currentFamily.descripcion.value }};{{ parameters.currentFamily.module.value }}" />
                                    {% if parameters.currentSubfamily.descripcion.value != '' %}
                                        <input type="hidden" name="url_anterior[]" value="{{ parameters.currentSubfamily.descripcion.value }};{{ parameters.currentSubfamily.module.value }}" />
                                    {% endif %}
                                    <input type="hidden" name="url_anterior[]" value="{{ parameters.article.descripcio }};{{ parameters.descripcio_amigable }}" />
                                    <div class="row">
                                        <div class="col-md-4">
                                            Cantidad
                                        </div>
                                        <div class="col-md-2 col-md-offset-1" id="capa-input-cantidad">
                                            <input type="text" name="quantitat" id="input-cantidad" value="1" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-5" id="capa-boto-anadir">
                                            <a href="javascript:$('#carrito')[0].submit()" class="btn btn-success" id="boto-anadir" title="Comprar {{ parameters.article.descripcio }}">
                                                <span class="foundicon-general-cart"></span> Añadir al carrito
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row" id="grupo-adicional">
                            <div class="col-md-12">
                                <div class="pull-left text-left">
                                    Precio mínimo garantizado
                                </div>
                                <div class="pull-right text-right">
                                    Envío de 24 a 48 horas
                                </div>
                                <div class="clear">&nbsp;</div>
                            </div>
                        </div>
                        <div class="row" id="grupo-redes-sociales">
                            <div class="col-md-2">
                                <div class="fb-like" data-href="{{ parameters.path }}/{{ parameters.language }}/{{ parameters.descripcio_amigable }}.html" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                            </div>
                            <div class="col-md-5">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ parameters.urlCodificada }}" target="_blank">
                                    Comparte en Facebook <span class="foundicon-social-facebook" id="logoFacebook"></span>
                                </a>
                            </div>
                            <div class="col-md-3" id="redTwitter">
                                <a href="{{ parameters.path }}/{{ parameters.language }}/{{ parameters.descripcio_amigable }}.html" class="twitter-share-button" data-lang="en">Tweet</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </div>
                            <div class="col-md-2" id="redGoogle">
                                <!-- Place this tag where you want the +1 button to render. -->
                                <div class="g-plusone" data-size="medium"></div>

                                <!-- Place this tag after the last +1 button tag. -->
                                <script type="text/javascript">
                                    window.___gcfg = {lang: 'es'};

                                    (function() {
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 jumbotron" id="capaMasInformacion">
                    <h2>
                        Descripción de {{ parameters.article.descripcio }}:
                    </h2>
                    {% autoescape 'html' %}
                        {{ parameters.article.informacio|raw }}
                    {% endautoescape %}
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="preCapaInformacionAdicional">
        <div class="row containerRow">
            <div class="col-md-12 jumbotron" id="capaInformacionAdicional">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ parameters.path }}/src/module/tienda/general/img/precio_minimo.png" title="Precio mínimo garantizado" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-12">
        {{ include('/src/module/tienda/articulo/view/navegador.html.twig') }}
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
    <script src="{{ parameters.path }}/src/lib/elevatezoom/jquery.elevateZoom-3.0.3.min.js"></script>
    <script type="text/javascript">
        $("#foto-article").elevateZoom({
            zoomWindowWidth: 200,
            zoomWindowHeight: 200
        });
    </script>
{% endblock %}