{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Configuración - Rol{% endblock %}

{% block tLegend %}Rol{% endblock %}
{% block tModificado %}Se ha modificado el rol{% endblock %}
{% block tInsertado %}Se ha insertado el rol{% endblock %}
{% block tRol %}Rol{% endblock %}
{% block tUsuarios %}Usuarios{% endblock %}