{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Main Page{% endblock %}

{% block tLegend %}Main Page{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPDescripcion %}Write description{% endblock %}
{% block tGuardar %}Save{% endblock %}
{% block tLegendIndex %}Main Page - Index{% endblock %}
{% block tInfoElementoModificado %}<b>Information</b> Element updated{% endblock %}
{% block tInfoElementoCreado %}<b>Information</b> Element created{% endblock %}
{% block tTipo %}Type{% endblock %}
{% block tIdTipo %}Type id{% endblock %}
{% block tWidth %}Width{% endblock %}
{% block tHeight %}Height{% endblock %}
{% block tOrden %}Order{% endblock %}
{% block tAcciones %}Actions{% endblock %}