{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Content{% endblock %}

{% block tLegend %}Content{% endblock %}

{% block tTitulo %}Title{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tImagen %}Image{% endblock %}
{% block tAlta %}Creation{% endblock %}
{% block tModificado %}Content updated{% endblock %}
{% block tInsertado %}Content inerted{% endblock %}