{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Configuració - Rol{% endblock %}

{% block tBorrado %}S'ha borrat el rol{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el rol{% endblock %}
{% block tErrorGuardar %}S'ha produït un error al guardar el rol{% endblock %}
{% block tCrear %}Crear Rol{% endblock %}
{% block tNombre %}Nom{% endblock %}
{% block tAcciones %}Accions{% endblock %}