{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.familia.descripcio }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/familia/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_familia" value="{% if parameters.familia.id_familia == '' %}-1{% else %}{{ parameters.familia.id_familia }}{% endif %}" />
            <input type="hidden" name="id_pagina" value="{{ parameters.familia.id_pagina }}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputFamiliaRaiz">{% block tFamiliaRaiz %}{% endblock %}</label>
                <div class="col-md-7">
                    <center>
                        <select name="de_familia" class="form-control input-sm" id="inputFamiliaRaiz">
                            <option value="NULL">{% block tFamiliaRaizSelect %}{% endblock %}</option>
                            {% for item in parameters.familias %}
                                <option value="{{ item.id_familia }}" {% if parameters.familia.de_familia == item.id_familia %}selected{% endif %}>
                                    {{ item.descripcio }}
                                </option>
                            {% endfor %}
                        </select>
                    </center>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcion">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <center>
                        <input name="descripcio" type="text" value="{{ parameters.familia.descripcio }}" id="inputDescripcion"
                               class="form-control input-sm" placeholder="{% block tPDescripcion %}{% endblock %}">
                    </center>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputOrden">{% block tOrden %}{% endblock %}</label>
                <div class="col-md-7">
                    <input type="text" name="ordre" value="{{ parameters.familia.ordre }}" id="inputOrden"
                           class="form-control input-sm" placeholder="{% block tPOrden %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.familia.id_familia != '' %}
            {% set id = parameters.familia.id_familia %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_familia' %}
        {% set moduleEliminar = 'familia/eliminar' %}
        {% set moduleIndex = 'familia/index' %}
        {% set moduleVista = 'familia/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}