{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Content{% endblock %}

{% block tBorrado %}Deleted Content{% endblock %}
{% block tErrorBorrado %}Error to delete content{% endblock %}
{% block tCrear %}Create Content{% endblock %}
{% block tTitulo %}Title{% endblock %}
{% block tAlta %}Creation{% endblock %}
{% block tAcciones %}Actions{% endblock %}