{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Widget - Imatge{% endblock %}

{% block tBorrado %}S'ha borrat la imatge{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar la imatge{% endblock %}
{% block tCrear %}Crear Imatge{% endblock %}
{% block tImgen %}Imatge{% endblock %}
{% block tUrl %}URL{% endblock %}
{% block tAcciones %}Accions{% endblock %}