{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Widget - Slide{% endblock %}

{% block tLegend %}Slide{% endblock %}
{% block tLegendNuevaImagen %}New Image{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Write url{% endblock %}
{% block tLink %}Link{% endblock %}
{% block tPLink %}Write link{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tGuardar %}Save{% endblock %}