{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Configuration - User{% endblock %}

{% block tLegend %}User{% endblock %}
{% block tUsuario %}User{% endblock %}
{% block tPUsuario %}Write user{% endblock %}
{% block tApellidos %}Surnames{% endblock %}
{% block tPApellidos %}Write surnames{% endblock %}
{% block tRolPrincipal %}Main role{% endblock %}
{% block tEmail %}Email{% endblock %}
{% block tPEmail %}Write email{% endblock %}
{% block tPassword %}Password{% endblock %}
{% block tPPasswordCrear %}Write password{% endblock %}
{% block tPPasswordModificar %}If left blank will keep the previous{% endblock %}
{% block tActivo %}Active{% endblock %}
{% block tCookie %}Cookie{% endblock %}
{% block tPCookie %}Write cookie{% endblock %}
{% block tRoles %}Roles{% endblock %}
{% block tNombre %}Name{% endblock %}
{% block tSeleccion %}Select{% endblock %}
{% block tGuardar %}Save{% endblock %}