{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Family{% endblock %}

{% block tLegend %}Family{% endblock %}
{% block tFamiliaRaiz %}Root family{% endblock %}
{% block tFamiliaRaizSelect %}Root family{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPDescripcion %}Write description{% endblock %}
{% block tOrden %}Order{% endblock %}
{% block tPOrden %}Write order{% endblock %}
{% block tGuardar %}Save{% endblock %}