{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Fabricante{% endblock %}

{% block tLegend %}Fabricante{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPDescripcion %}Escribe la descripción{% endblock %}
{% block tImagen %}Imagen{% endblock %}
{% block tPImagen %}Escoje la imagen{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tSeleccionar %}Galería{% endblock %}