{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - IVA{% endblock %}

{% block tLegend %}IVA{% endblock %}
{% block tModificado %}S'ha modificat el IVA{% endblock %}
{% block tInsertado %}S'ha insertat el IVA{% endblock %}
{% block tIVA %}IVA{% endblock %}