{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Page{% endblock %}

{% block tBorrado %}Deleted page{% endblock %}
{% block tErrorBorrado %}Error to delete page{% endblock %}
{% block tCreado %}Error to create page{% endblock %}
{% block tCrear %}Create Page{% endblock %}
{% block tTitulo %}Title{% endblock %}
{% block tDescripcionAmigable %}Friendly description{% endblock %}
{% block tUltimaModificacion %}Last update{% endblock %}
{% block tAcciones %}Actions{% endblock %}