{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
<link href="{{ parameters.path }}/src/lib/datatables/media/css/demo_table.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}</legend>
        <form method="POST" id="formularioPrincipal" action="{{ parameters.path }}/{{ parameters.language }}/administrador/paginaPrincipal/guardar.html" onsubmit="return false;" class="form-horizontal">
            <input type="hidden" name="id_indexpaginaprincipal" value="{% if parameters.index.id_indexpaginaprincipal == '' %}-1{% else %}{{ parameters.index.id_indexpaginaprincipal }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputIdPagina">{% block tPaginaRelacionada %}{% endblock %}</label>
                <div class="col-md-7">
                    <select name='id_pagina' class="form-control input-sm">
                        {% for pagina in parameters.pagines %}
                            <option {% if parameters.index.id_pagina == pagina.id_pagina %}selected{% endif %} value="{{ pagina.id_pagina }}">{{ pagina.descripcio_amigable }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcion">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="descripcio" type="text" value="{{ parameters.index.descripcio }}" id="inputDescripcion"
                           class="form-control input-sm" placeholder="{% block tPDescripcion %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" onclick="guardar(this);" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
    </fieldset>
    </div>
</div>
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset id="indexPaginaPrincipal" {% if parameters.index.id_indexpaginaprincipal == '' %}class="hide"{% endif %}>
        <legend>{% block tLegendIndex %}{% endblock %}</legend>
        <div class="alert alert-info hide" id="elementoModificado">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {% block tInfoElementoModificado %}{% endblock %}
        </div>
        <div class="alert alert-info hide" id="elementoCreado">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {% block tInfoElementoCreado %}{% endblock %}
        </div>
        <table id="table_id" class="table table-striped">
            <thead>
            <tr>
                <th>{% block tTipo %}{% endblock %}</th>
                <th>{% block tIdTipo %}{% endblock %}</th>
                <th>{% block tWidth %}{% endblock %}</th>
                <th>{% block tHeight %}{% endblock %}</th>
                <th>{% block tOrden %}{% endblock %}</th>
                <th>{% block tAcciones %}{% endblock %}</th>
            </tr>
            </thead>
            <tbody>
            {% for type in parameters.index.index %}
            {% for element in type %}
                {% set defaultModule = '' %}
                {% set defaultModuleView = '' %}
                {% set defaultModuleViewIndex = '' %}
                <tr id="formElement{{ parameters.index.id_indexpaginaprincipal }}-{{ element.tipus }}-{{ element.id_tipus }}">
                    <td>
                        {% for widget in parameters.widgets %}
                            {% if element.tipus == widget.name %}
                                {% set defaultModule = widget.module %}
                                {% set defaultModuleView = widget.moduleView %}
                                {% set defaultModuleViewIndex = widget.moduleViewIndex %}
                            {% endif %}
                        {% endfor %}
                        {{ element.tipus }}
                    </td>
                    <td>
                        {{ element.id_tipus }}
                    </td>
                    <td>
                        {{ element.width }}
                    </td>
                    <td>
                        {{ element.height }}
                    </td>
                    <td>
                        {{ element.ordre }}
                    </td>
                    <td>
                        <input type="hidden" class="module" name="module" value="{{ defaultModule }}" />
                        <input type="hidden" class="moduleView" name="moduleView" value="{{ defaultModuleView }}" />
                        <input type="hidden" class="moduleViewIndex" name="moduleViewIndex" value="{{ defaultModuleViewIndex }}" />
                        <input type="hidden" class="id_indexpaginaprincipal" name="id_indexpaginaprincipal" value="{{ parameters.index.id_indexpaginaprincipal }}" />
                        <a href="{{ parameters.path }}/{{ parameters.language }}/{{ defaultModuleView }}.html/{{ element.id_tipus }}/PaginaPrincipal" class="buttonNormal btn ajaxView"><span class="icon-eye-open"></span></a>
                        <button type="submit" onclick="constructForm('formElement{{ parameters.index.id_indexpaginaprincipal }}-{{ element.tipus }}-{{ element.id_tipus }}', '{{ defaultModule }}', '{{ element.tipus }}', '{{ element.id_tipus }}', '{{ element.width }}', '{{ element.height }}', '{{ element.ordre }}')"
                                class="buttonNormal buttonEdit btn">
                            <span class="foundicon-general-edit"></span>
                        </button>
                        <button type="submit" onclick="deleteElement('formElement{{ parameters.index.id_indexpaginaprincipal }}-{{ element.tipus }}-{{ element.id_tipus }}', '{{ parameters.index.id_indexpaginaprincipal }}', '{{ element.tipus }}', '{{ element.id_tipus }}')"
                                class="buttonNormal btn">
                            <span class="foundicon-general-trash"></span>
                        </button>
                        <button type="submit" onclick="guardarElement('formElement{{ parameters.index.id_indexpaginaprincipal }}-{{ element.tipus }}-{{ element.id_tipus }}')" disabled
                                class="buttonNormal buttonOk btn">
                            <span class="icon-ok"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            {% endfor %}
            <tr id="formElementNew">
                <td>
                    <select class="tipus input-medium" onchange="changeSelect('formElementNew', this)" name="tipus">
                        {% for widget in parameters.widgets %}
                            <option value="{{ widget.name }}">{{ widget.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="text" class="id_tipus input-mini" name="id_tipus" value="{{ element.id_tipus }}" />
                    <a class='ajax' href="{{ parameters.path }}/{{ parameters.language }}/{{ parameters.widgets[0].module }}/indexExterno.html/id_tipus/formElementNew"><span class="icon-list"></span></a>
                </td>
                <td>
                    <input type="text" class="width input-mini" name="width" value="{{ element.width }}" />
                </td>
                <td>
                    <input type="text" class="height input-mini" name="height" value="{{ element.height }}" />
                </td>
                <td>
                    <input type="text" class="ordre input-mini" name="ordre" value="{{ element.ordre }}" />
                </td>
                <td>
                    <input type="hidden" class="module" name="module" value="{{ parameters.widgets[0].module }}" />
                    <input type="hidden" class="moduleView" name="moduleView" value="{{ parameters.widgets[0].moduleView }}" />
                    <input type="hidden" class="moduleViewIndex" name="moduleViewIndex" value="{{ parameters.widgets[0].moduleViewIndex }}" />
                    <input type="hidden" class="id_indexpaginaprincipal" name="id_indexpaginaprincipal" value="{{ parameters.index.id_indexpaginaprincipal }}" />
                    <button type="submit" onclick="guardarElement('formElementNew');" class="btn"><span class="icon-ok"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript" charset="utf-8" src="{{ parameters.path }}/src/lib/datatables/media/js/{{ parameters.language }}/jquery.dataTables.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $("#formElementNew .ajax").colorbox({
            height: '75%',
            onComplete:function(){ $('#cboxLoadedContent')[0].style.overflowX = 'hidden'; }
        });
        {% for type in parameters.index.index %}
        {% for element in type %}
            $("#formElement{{ parameters.index.id_indexpaginaprincipal }}-{{ element.tipus }}-{{ element.id_tipus }} .ajaxView").colorbox({
                height: 'auto',
                maxHeight: '100%',
                maxWidth: '100%',
                onComplete:function(){ $('#cboxLoadedContent')[0].style.overflow = 'hidden'; }
            });
        {% endfor %}
        {% endfor %}
        $('#table_id').dataTable({
            "aoColumnDefs": [
                { "sClass": "span2 capa_tipus", "bSortable": false, "aTargets": [ 0 ] },                    //Tipus
                { "sClass": "span1 capa_id_tipus", "bSortable": false, "aTargets": [ 1 ] },                    //Id Tipus
                { "sClass": "span1 capa_width", "bSortable": false, "aTargets": [ 2 ] },                    //Width
                { "sClass": "span1 capa_height", "bSortable": false, "aTargets": [ 3 ] },                    //Height
                { "sClass": "span1 capa_ordre", "aTargets": [ 4 ] },                                        //Ordre
                { "sClass": "span2 capa_actions", "bSortable": false, "aTargets": [ 5 ] }                     //Accions
            ]
        });
        //$('#table_id').show();
    });

    var guardar = function ()
    {
        var formPaginaPrincipal = $('#formularioPrincipal')[0];
        var dataObject = new Object();
        dataObject.id_indexpaginaprincipal = formPaginaPrincipal.id_indexpaginaprincipal.value;
        dataObject.id_pagina = formPaginaPrincipal.id_pagina.value;
        dataObject.descripcio = formPaginaPrincipal.descripcio.value;
        $.ajax({
            type: "JSON",
            async: false,
            url: "{{ parameters.path }}/{{ parameters.language }}/administrador/paginaPrincipal/guardar.html",
            data: JSON.stringify(dataObject)
        }).done(function( htmlContent ) {
                    $('#formElementNew .id_indexpaginaprincipal')[0].value = htmlContent;
                    $('#indexPaginaPrincipal').removeClass('hide');
                });
    }

    var guardarElement = function (formId)
    {
        window.oldFormId = formId;
        var dataObject = new Object();
        dataObject.id_indexpaginaprincipal = $('#'+formId+' .id_indexpaginaprincipal')[0].value;
        dataObject.module = $('#'+formId+' .module')[0].value;
        dataObject.moduleView = $('#'+formId+' .moduleView')[0].value;
        dataObject.moduleViewIndex = $('#'+formId+' .moduleViewIndex')[0].value;
        dataObject.tipus = $('#'+formId+' .tipus')[0].value;
        dataObject.id_tipus = $('#'+formId+' .id_tipus')[0].value;
        $('#'+formId+' .id_tipus')[0].value = '';
        dataObject.width = $('#'+formId+' .width')[0].value;
        $('#'+formId+' .width')[0].value = '';
        dataObject.height = $('#'+formId+' .height')[0].value;
        $('#'+formId+' .height')[0].value = '';
        dataObject.ordre = $('#'+formId+' .ordre')[0].value;
        $('#'+formId+' .ordre')[0].value = '';
        $('#elementoModificado').hide();
        $('#elementoCreado').hide();
        $.ajax({
            type: "JSON",
            async: false,
            url: "{{ parameters.path }}/{{ parameters.language }}/administrador/paginaPrincipal/guardarElement.html",
            data: JSON.stringify(dataObject)
        }).done(function( content ) {
                    content = JSON.parse(content);
                    var formId = 'formElement' + content.id_indexpaginaprincipal + '-' + content.tipus + '-' + content.id_tipus;
                    var actions = '<input type="hidden" class="module" name="module" value="' + content.module + '" />' +
                            '<input type="hidden" class="moduleView" name="moduleView" value="' + content.moduleView + '" />' +
                            '<input type="hidden" class="moduleViewIndex" name="moduleViewIndex" value="' + content.moduleViewIndex + '" />' +
                            '<input type="hidden" class="id_indexpaginaprincipal" name="id_indexpaginaprincipal" value="' + content.id_indexpaginaprincipal + '" />' +
                            '<a href="{{ parameters.path }}/{{ parameters.language }}/' + content.moduleView + '.html/' + content.id_tipus + '/PaginaPrincipal" class="buttonNormal btn ajaxView"><span class="icon-eye-open"></span></a>' +
                            '<button type="submit" onclick="constructForm(\'formElement' + content.id_indexpaginaprincipal + '-' + content.tipus + '-' + content.id_tipus + '\', \'' + content.module + '\', \''+ content.tipus + '\', \'' + content.id_tipus + '\', \'' + content.width + '\', \'' + content.height + '\', \'' + content.ordre + '\')" class="buttonNormal buttonEdit btn"><span class="icon-edit"></span></button>' +
                            '<button type="submit" onclick="deleteElement(\''+formId+'\', \''+content.id_indexpaginaprincipal+'\', \''+content.tipus+'\', \''+content.id_tipus+'\')" class="buttonNormal btn"><span class="icon-trash"></span></button>' +
                            '<button type="submit" onclick="guardarElement(\'formElement' + content.id_indexpaginaprincipal + '-' + content.tipus + '-' + content.id_tipus + '\')" disabled class="buttonNormal buttonOk btn"><span class="icon-ok"></span></button>';

                    if(content.info == 'El elemento ya existe')
                    {
                        $('#elementoModificado').show();
                        $('#'+formId+' .capa_tipus')[0].innerHTML = content.tipus;
                        $('#'+formId+' .capa_id_tipus')[0].innerHTML = content.id_tipus;
                        $('#'+formId+' .capa_width')[0].innerHTML = content.width;
                        $('#'+formId+' .capa_height')[0].innerHTML = content.height;
                        $('#'+formId+' .capa_ordre')[0].innerHTML = content.ordre;
                        $('#'+formId+' .capa_actions')[0].innerHTML = actions;
                    }else{
                        if(window.oldFormId != 'formElementNew')
                        {
                            removeElement(window.oldFormId);
                        }
                        $('#elementoCreado').show();
                        var a = $('#table_id').dataTable().fnAddData( [
                            content.tipus,
                            content.id_tipus,
                            content.width,
                            content.height,
                            content.ordre,
                            actions] );
                        var nTr = $('#table_id').dataTable().fnSettings().aoData[ a[0] ].nTr;
                        nTr.id = formId;
                    }

                    $("#"+formId+" .ajaxView").colorbox({
                        height: 'auto',
                        maxHeight: '100%',
                        maxWidth: '100%',
                        onComplete:function(){ $('#cboxLoadedContent')[0].style.overflow = 'hidden'; }
                    });
                });
    }

    var changeSelect = function(id_form, newSelect)
    {
        var inputToClear = $('#'+id_form+' .id_tipus')[0];
        inputToClear.value = '';

        var typeElement = '';
        var typeElementView = '';
        var typeElementViewIndex = '';
        {% for widget in parameters.widgets %}
            if(newSelect.value == '{{ widget.name }}')
            {
                typeElement = '{{ widget.module }}';
                typeElementView = '{{ widget.moduleView }}';
                typeElementViewIndex = '{{ widget.moduleViewIndex }}';
            }

        {% endfor %}
        var linkToChange = $('#'+id_form+' .ajax')[0];
        var moduleToChange = $('#'+id_form+' .module')[0];
        var moduleViewToChange = $('#'+id_form+' .moduleView')[0];
        var moduleViewIndexToChange = $('#'+id_form+' .moduleViewIndex')[0];
        linkToChange.href = '{{ parameters.path }}/{{ parameters.language }}/'+typeElement+'/indexExterno.html/id_tipus/'+id_form;
        moduleToChange.value = typeElement;
        moduleViewToChange.value = typeElementView;
        moduleViewIndexToChange.value = typeElementViewIndex;
    }

    var constructForm = function(id_form, defaultModule, elementType, elementIdType, elementWidth, elementHeight, elementOrdre)
    {
        var contentSelect = '<select disabled onchange="changeSelect(\''+id_form+'\', this)" class="tipus input-medium" name="tipus">';
        {% for widget in parameters.widgets %}
            contentSelect = contentSelect + '<option ';
            if(elementType == '{{ widget.name }}')
            {
                contentSelect = contentSelect + 'selected';
            }
            contentSelect = contentSelect + ' value="{{ widget.name }}">{{ widget.name }}</option>';
        {% endfor %}
        contentSelect = contentSelect + '</select>';
        $('#'+id_form+' .capa_tipus')[0].innerHTML = contentSelect;

        var contentIdTipus = '<input disabled type="text" class="id_tipus input-mini" name="id_tipus" value="'+elementIdType+'" />';
        contentIdTipus = contentIdTipus + "<a class='ajax'><span class='icon-list'></span></a>"; // {{ parameters.path }}/{{ parameters.language }}/"+defaultModule+"/indexExterno.html/id_tipus/formElement{{ parameters.index.id_indexpaginaprincipal }}-"+elementType+"-"+elementIdType+"
        $('#'+id_form+' .capa_id_tipus')[0].innerHTML = contentIdTipus;
        /*$("#"+id_form+" .ajax").colorbox({
            height: '75%',
            onComplete:function(){ $('#cboxLoadedContent')[0].style.overflowX = 'hidden'; }
        });*/

        var contentWidth = '<input type="text" class="width input-mini" name="width" value="'+elementWidth+'" />';
        $('#'+id_form+' .capa_width')[0].innerHTML = contentWidth;

        var contentHeight = '<input type="text" class="height input-mini" name="height" value="'+elementHeight+'" />';
        $('#'+id_form+' .capa_height')[0].innerHTML = contentHeight;

        var contentOrdre = '<input type="text" class="ordre input-mini" name="ordre" value="'+elementOrdre+'" />';
        $('#'+id_form+' .capa_ordre')[0].innerHTML = contentOrdre;

        $('#'+id_form+' .buttonOk')[0].disabled = false;
    }

    var removeElement = function(idForm)
    {
        var nTrOld = $('#'+idForm)[0];
        $('#table_id').dataTable().fnDeleteRow( $('#table_id').dataTable().fnGetPosition( nTrOld ) ) ;
    }

    var deleteElement = function(idForm, id_indexpaginaprincipal, tipus, id_tipus)
    {
        window.oldFormId = idForm;

        $.ajax({
            type: "POST",
            async: false,
            url: "{{ parameters.path }}/{{ parameters.language }}/administrador/paginaPrincipal/eliminarElement.html",
            data: { "id_indexpaginaprincipal": id_indexpaginaprincipal, "tipus": tipus, "id_tipus": id_tipus }
        }).done(function( htmlContent ) {
                    removeElement(window.oldFormId);
                });
    }
</script>
{% endblock %}