{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Nivel{% endblock %}

{% block tBorrado %}Se ha borrado el nivel{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el nivel{% endblock %}
{% block tCrear %}Crear Nivel{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tAcciones %}Acciones{% endblock %}