{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Configuration - Role{% endblock %}

{% block tLegend %}Role{% endblock %}
{% block tModificado %}Role updated{% endblock %}
{% block tInsertado %}Role inserted{% endblock %}
{% block tRol %}Role{% endblock %}
{% block tUsuarios %}Users{% endblock %}