{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Configuration - User{% endblock %}

{% block tLegend %}User{% endblock %}
{% block tModificado %}User updated{% endblock %}
{% block tInsertado %}User inserted{% endblock %}
{% block tUsuario %}User{% endblock %}
{% block tApellios %}Surnames{% endblock %}
{% block tRol %}Main role{% endblock %}
{% block tEmail %}Email{% endblock %}
{% block tPassword %}Password{% endblock %}
{% block tPPassword %}Encryption for data protection{% endblock %}
{% block tCookie %}Cookie{% endblock %}
{% block tActivo %}Active{% endblock %}
{% block tRoles %}Roles{% endblock %}