{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Especial{% endblock %}

{% block tLegend %}Especial{% endblock %}
{% block tModificado %}S'ha modificat l'especial{% endblock %}
{% block tInsertado %}S'ha insertat l'especial{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}