{%  extends parameters.baseTemplate %}

{% block headStyles %}
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        Página no encontrada
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}