{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Artículos{% endblock %}

{% block tBorrado %}Se ha borrado el artículo{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el artículo{% endblock %}
{% block tCrear %}Crear Artículo{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tAcciones %}Acciones{% endblock %}