{%  extends parameters.baseTemplate %}

{% block headStyles %}
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        Test
    </div>
</div>
{% endblock %}