{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ parameters.path }}/src/lib/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {{ parameters.contingut.titol }}</legend>
            <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/contingut/guardar.html"
                  class="form-horizontal" role="form">
                <input type="hidden" name="id_contingut" value="{% if parameters.contingut.id_contingut == '' %}-1{% else %}{{ parameters.contingut.id_contingut }}{% endif %}" />
                <input type="hidden" name="id_pagina" value="{{ parameters.contingut.id_pagina }}" />
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputTitulo">{% block tTitulo %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input name="titol" class="form-control input-sm" type="text" value="{{ parameters.contingut.titol }}" id="inputTitulo" placeholder="{% block tPTitulo %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDescripcion">{% block tDescripcion %}{% endblock %}</label>
                    <div class="col-md-7">
                        <textarea name="descripcio">{{ parameters.contingut.descripcio }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputImatge">{% block tImagen %}{% endblock %}</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" name="imatge" value="{{ parameters.contingut.imatge }}" id="inputImatge" placeholder="{% block tPImatge %}{% endblock %}">
                    </div>

                    <div class="col-md-1 text-right">
                        <a href="{{ parameters.path }}/src/lib/tinymce/plugins/responsivefilemanager/dialog.php?type=1&amp;subfolder=&amp;editor=mce_0&amp;field_id=inputImatge" class="btn btn-default iframe-btn" type="button">
                            {% block tSeleccionar %}{% endblock %}
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputAlta">{% block tAlta %}{% endblock %}</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" name="alta" value="{{ parameters.contingut.alta }}" id="inputAlta" placeholder="{% block tPAlta %}{% endblock %}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                    </div>
                </div>
            </form>
            {% if parameters.contingut.id_contingut != '' %}
                {% set id = parameters.contingut.id_contingut %}
            {% else %}
                {% set id = '-1' %}
            {% endif %}
            {% set nameId = 'id_contingut' %}
            {% set moduleEliminar = 'contingut/eliminar' %}
            {% set moduleIndex = 'contingut/index' %}
            {% set moduleVista = 'contingut/vista' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript" src="{{ parameters.path }}/src/lib/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">
    $(function() {
        $( "#inputAlta" ).datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });

    $('.iframe-btn').fancybox({
        'width'	 : 900,
        'height'	: 600,
        'type'	 : 'iframe',
        'autoScale' : false,
        'onComplete' : function() {
            //$('#fancybox-wrap')[0].style.top = '10px';
        }
    });
</script>
{% endblock %}