{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Proveedor{% endblock %}

{% block tLegend %}Proveedor{% endblock %}
{% block tModificado %}Se ha modificado el proveedor{% endblock %}
{% block tInsertado %}Se ha insertado el proveedor{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPlazoEntrega %}Plazo de entrega{% endblock %}