{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Configuración - Usuario{% endblock %}

{% block tBorrado %}Se ha borrado el usuario{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el usuario{% endblock %}
{% block tErrorGuardar %}Se ha producido un error al guardar el usuario{% endblock %}
{% block tErrorGuardarNoRoles %}Error al guardar el usuario, no se han encontrado roles{% endblock %}
{% block tCrear %}Crear Usario{% endblock %}
{% block tNombre %}Nombre{% endblock %}
{% block tAcciones %}Acciones{% endblock %}