{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Pàgina{% endblock %}

{% block tLegend %}Pàgina{% endblock %}
{% block tModificado %}S'ha modificat la pàgina{% endblock %}
{% block tInsertado %}S'ha insertat la pàgina{% endblock %}
{% block tTitulo %}Títol{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tDescripcionAmigable %}Descripció amigable{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tUltimaModificacion %}Última modificació{% endblock %}
{% block tKeywords %}Keywords{% endblock %}