{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Special{% endblock %}

{% block tBorrado %}Deleted special{% endblock %}
{% block tErrorBorrado %}Error to delete special{% endblock %}
{% block tCrear %}Create Special{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tAcciones %}Actions{% endblock %}