{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ parameters.path }}/src/lib/tags/jquery.tagsinput.css" />
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.pagina.titol }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/pagina/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_pagina" value="{% if parameters.pagina.id_pagina == '' %}-1{% else %}{{ parameters.pagina.id_pagina }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputTitulo">{% block tTitulo %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="titol" type="text" value="{{ parameters.pagina.titol }}" id="inputTitulo"
                           class="form-control input-sm" placeholder="{% block tPTitulo %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcion">{% block tDescripcion %}{% endblock %}</label>
                <div class="col-md-7">
                    <textarea name="descripcio">{{ parameters.pagina.descripcio }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputDescripcioAmigable">{% block tDescripcionAmigable %}{% endblock %}</label>
                <div class="col-md-7">
                    <input type="text" name="descripcio_amigable" value="{{ parameters.pagina.descripcio_amigable }}"
                           class="form-control input-sm" id="inputDescripcioAmigable" placeholder="{% block tPDescripcionAmigable %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputURL">{% block tUrl %}{% endblock %}</label>
                <div class="col-md-7">
                    <input type="text" name="url" value="{{ parameters.pagina.url }}" id="inputURL"
                           class="form-control input-sm" placeholder="{% block tPUrl %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputUltimaModificación">{% block tUltimaModifiacion %}{% endblock %}</label>
                <div class="col-md-7">
                    <input type="text" name="ultima_modificacio" value="{{ parameters.pagina.ultima_modificacio }}"
                           class="form-control input-sm" id="inputUltimaModificación" placeholder="{% block tPUltimaModifiacion %}{% endblock %}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputKeywords">{% block tKeywords %}{% endblock %}</label>
                <div class="col-md-7">
                    <input type="text" name="keywords" value="{{ parameters.pagina.keywords }}"
                           class="form-control input-sm" id="inputKeywords"/>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.pagina.id_pagina != '' %}
            {% set id = parameters.pagina.id_pagina %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_pagina' %}
        {% set moduleEliminar = 'pagina/eliminar' %}
        {% set moduleIndex = 'pagina/index' %}
        {% set moduleVista = 'pagina/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript" src="{{ parameters.path }}/src/lib/tags/jquery.tagsinput.js"></script>
<script type="text/javascript">
    $('#inputKeywords').tagsInput({
        "width": "100%",
        "height": "auto",
        'defaultText':''
    });
    $('#inputKeywords_tagsinput')[0].style.height = 'auto';
    $(function() {
        $( "#inputUltimaModificación" ).datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
{% endblock %}