{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Widget - Slide{% endblock %}

{% block tLegend %}Slide{% endblock %}
{% block tLegendNuevaImagen %}Nova Imatge{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Escriu la url{% endblock %}
{% block tLink %}Link{% endblock %}
{% block tPLink %}Escriu el link{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tGuardar %}Guardar{% endblock %}