{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Items{% endblock %}

{% block tBorrado %}Deleted Item{% endblock %}
{% block tErrorBorrado %}Error to delete item{% endblock %}
{% block tCrear %}Create Item{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tAcciones %}Actions{% endblock %}