{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - IVA{% endblock %}

{% block tBorrado %}Se ha borrado el IVA{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el IVA{% endblock %}
{% block tCrear %}Crear IVA{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tAcciones %}Acciones{% endblock %}