{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Configuración - Rol{% endblock %}

{% block tLegend %}Rol{% endblock %}
{% block tRol %}Rol{% endblock %}
{% block tPRol %}Escribe el rol{% endblock %}
{% block tGuardar %}Guardar{% endblock %}