body h1 {
  margin-top: 0px;
}
body h2 {
  font-size: 36px;
}
body .capaInformacion {
  padding: 15px;
  background: white;
  border: 1px #5fae5a solid;
  margin-bottom: 0;
  line-height: 25px;
  font-size: 12pt;
}
body .capaInformacion .alert {
  font-size: 12pt;
}
body .capaInformacion hr {
  margin: 0;
}
body .capaInformacion .row {
  padding: 5px 0;
}
