{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Configuration - User{% endblock %}

{% block tBorrado %}Deleted user{% endblock %}
{% block tErrorBorrado %}Error to delete user{% endblock %}
{% block tErrorGuardar %}Error to save user{% endblock %}
{% block tErrorGuardarNoRoles %}Error to save user, roles not found{% endblock %}
{% block tCrear %}Create User{% endblock %}
{% block tNombre %}Name{% endblock %}
{% block tAcciones %}Actions{% endblock %}