{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Contenido{% endblock %}

{% block tLegend %}Contenido{% endblock %}
{% block tTitulo %}Título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tImagen %}Imagen{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tSeleccionar %}Galería{% endblock %}
{% block tPTitulo %}Escribe el título del contenido{% endblock %}
{% block tPAlta %}Escoje una fecha. Por defecto es hoy{% endblock %}
{% block tPImatge %}Escaje una imagen{% endblock %}