{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Artículo{% endblock %}

{% block tLegend %}Article{% endblock %}
{% block tNivel %}Nivell{% endblock %}
{% block tFabricante %}Fabricant{% endblock %}
{% block tProveedor %}Proveïdor{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPDescripcion %}Escriu la descripció{% endblock %}
{% block tPlazo %}Plaç d'entrega{% endblock %}
{% block tPPlazo %}Escriu el plaç d'entrega{% endblock %}
{% block tImagen %}Imatge{% endblock %}
{% block tPImagen %}Tria la imatge{% endblock %}
{% block tPrecio %}Preu{% endblock %}
{% block tPPrecio %}Escriu el preu{% endblock %}
{% block tReferenciaPropia %}Referència Pròpia{% endblock %}
{% block tPReferenciaPropia %}Escriu la referència pròpia{% endblock %}
{% block tReferenciaProveedor %}Referència Proveïdor{% endblock %}
{% block tPReferenciaProveedor %}Escriu la referència del proveïdor{% endblock %}
{% block tOfertaDesde %}Oferta desde{% endblock %}
{% block tPOfertaDesde %}Tria una data{% endblock %}
{% block tOfertaHasta %}Oferta fins{% endblock %}
{% block tPOfertaHasta %}Tria una data{% endblock %}
{% block tOfertaPrecio %}Preu d'oferta{% endblock %}
{% block tPOfertaPrecio %}Escriu el preu d'oferta{% endblock %}
{% block tStock %}Stock{% endblock %}
{% block tPStock %}Escriu el stock{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tPAlta %}Tria una data. Per defecte és avui{% endblock %}
{% block tActualizacion %}Actualització{% endblock %}
{% block tPActualizacion %}Tria una data. Per defecte és avui{% endblock %}
{% block tInformacion %}Informació{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tFamilia %}Família{% endblock %}
{% block tSeleccionar %}Galeria{% endblock %}