{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
<link href="{{ parameters.path }}/src/lib/datatables/media/css/demo_table.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.usuario.usuario }}</legend>
        <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/usuario/guardar.html" class="form-horizontal">
            <input type="hidden" name="id_usuario" value="{% if parameters.usuario.id_usuario == '' %}-1{% else %}{{ parameters.usuario.id_usuario }}{% endif %}" />
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputUsuario">{% block tUsuario %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="usuario" type="text" value="{{ parameters.usuario.usuario }}" id="inputUsuario"
                           class="form-control input-sm" placeholder="{% block tPUsuario %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputApellidos">{% block tApellidos %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="apellidos" type="text" value="{{ parameters.usuario.apellidos }}" id="inputApellidos"
                           class="form-control input-sm" placeholder="{% block tPApellidos %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputRolPrincipal">{% block tRolPrincipal %}{% endblock %}</label>
                <div class="col-md-7">
                    <select class="form-control input-sm" id="inputRolPrincipal" name="id_rol">
                        {% for rol in parameters.roles %}
                            <option value="{{ rol.id_rol }}"
                                    {% if parameters.usuario.id_rol == rol.id_rol %}
                                        selected
                                    {% endif %}
                                    >
                                {{ rol.rol }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputEmail">{% block tEmail %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="email" type="text" value="{{ parameters.usuario.email }}" id="inputEmail"
                           class="form-control input-sm" placeholder="{% block tPEmail %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputPassword">{% block tPassword %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="password" type="password" id="inputPassword"
                           class="form-control input-sm"
                           placeholder="{% if parameters.usuario.id_usuario == '-1' %}{% block tPPasswordCrear %}{% endblock %}{% else %}{% block tPPasswordModificar %}{% endblock %}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputCookie">{% block tCookie %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="cookie" type="text" value="{{ parameters.usuario.cookie }}" id="inputCookie"
                           class="form-control input-sm" placeholder="{% block tPCookie %}{% endblock %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputActivo">{% block tActivo %}{% endblock %}</label>
                <div class="col-md-7">
                    <input name="activo" type="checkbox" id="inputActivo"
                           class="form-control input-sm" {% if parameters.usuario.activo == true %}checked{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputCookie">{% block tRoles %}{% endblock %}</label>
                <div class="col-md-7">
                    <table id="table_id" class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% block tNombre %}{% endblock %}</th>
                            <th>{% block tSeleccion %}{% endblock %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rol in parameters.roles %}
                            <tr>
                                <td>
                                    {{ rol.rol }}
                                </td>
                                <td>
                                    <input type="hidden" name="roles[{{ rol.id_rol }}][id_rol]" value="{{ rol.id_rol }}"/>
                                    <input type="hidden" name="roles[{{ rol.id_rol }}][rol]" value="{{ rol.rol }}"/>
                                    <input type="checkbox" name="rolesToUser[{{ rol.id_rol }}]"
                                            {% for rolUsuario in parameters.usuario.roles %}
                                                {% if rol.id_rol == rolUsuario.id_rol %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                            />
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                </center>
            </div>
        </form>
        {% if parameters.usuario.id_usuario != '' %}
            {% set id = parameters.usuario.id_usuario %}
        {% else %}
            {% set id = '-1' %}
        {% endif %}
        {% set nameId = 'id_usuario' %}
        {% set moduleEliminar = 'usuario/eliminar' %}
        {% set moduleIndex = 'usuario/index' %}
        {% set moduleVista = 'usuario/vista' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript" charset="utf-8" src="{{ parameters.path }}/src/lib/datatables/media/js/{{ parameters.language }}/jquery.dataTables.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#table_id').dataTable({
            "aoColumnDefs": [
                { "sClass": "col-md-10",  "aTargets": [ 0 ] }, //rol
                { "sClass": "col-md-2", "bSortable": false, "aTargets": [ 1 ] } //check
            ]
        });
        //$('#table_id').show();
    });
</script>
{% endblock %}