{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Technical - Title{% endblock %}

{% block tLegend %}Title{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tGuardar %}Save{% endblock %}