@import '../../general/css/variable';

body{
  h1{
    margin-top: 0px;
  }

  h2{
    font-size: 36px;
  }

  .capaInformacion{
    padding: 15px;
    background: white;
    border: 1px @colorPrincipal solid;
    margin-bottom: 0;
    line-height: 25px;
    font-size: 12pt;

    .alert{
      font-size: 12pt;
    }

    hr{
      margin: 0;
    }

    .row{
      padding: 5px 0;
    }
  }
}