{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Family{% endblock %}

{% block tLegend %}Family{% endblock %}
{% block tModificado %}Family updated{% endblock %}
{% block tInsertado %}Family inserted{% endblock %}
{% block tFamiliaRaiz %}Root Family{% endblock %}
{% block tFamiliaRaizSelect %}Root Family{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tImagen %}Image{% endblock %}