{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Família{% endblock %}

{% block tBorrado %}S'ha borrat la família{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar la família{% endblock %}
{% block tCrear %}Crear Família{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tOrden %}Ordre{% endblock %}
{% block tAcciones %}Accions{% endblock %}