{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Configuración - Módulo{% endblock %}

{% block tLegend %}Módulo{% endblock %}
{% block tModule %}Módulo{% endblock %}
{% block tPModule %}Escribe el módulo{% endblock %}
{% block tRol %}Rol{% endblock %}
{% block tUsuario %}Usuario{% endblock %}
{% block tPermisos %}Permisos{% endblock %}
{% block tPPermisos %}Escribe los permisos{% endblock %}
{% block tGuardar %}Guardar{% endblock %}