{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}: {{ parameters.pagina.titol }}</legend>
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tModificado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-success">
                {% block tInsertado %}{% endblock %}
            </div>
        {% endif %}
        <dl class="dl-horizontal">
            <dt>{% block tTitulo %}{% endblock %}</dt>
            <dd>
                {{ parameters.pagina.titol }}
            </dd>
            <dt>{% block tDescripcion %}{% endblock %}</dt>
            <dd>
                {% autoescape 'html' %}
                    {{ parameters.pagina.descripcio|raw }}
                {% endautoescape %}
            </dd>
            <dt>{% block tDescripcionAmigable %}{% endblock %}</dt>
            <dd>
                {{ parameters.pagina.descripcio_amigable }}
            </dd>
            <dt>{% block tUrl %}{% endblock %}</dt>
            <dd>
                {{ parameters.pagina.url }}
            </dd>
            <dt>{% block tUltimaModificacion %}{% endblock %}</dt>
            <dd>
                {{ parameters.pagina.ultima_modificacio }}
            </dd>
            <dt>{% block tKeywords %}{% endblock %}</dt>
            <dd>
                {{ parameters.pagina.keywords }}
            </dd>
        </dl>
        {% set id = parameters.pagina.id_pagina %}
        {% set nameId = 'id_pagina' %}
        {% set moduleEliminar = 'pagina/eliminar' %}
        {% set moduleIndex = 'pagina/index' %}
        {% set moduleForm = 'pagina/form' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}