{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Family{% endblock %}

{% block tBorrado %}Deleted family{% endblock %}
{% block tErrorBorrado %}Error to delete family{% endblock %}
{% block tCrear %}Create Family{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tOrden %}Order{% endblock %}
{% block tAcciones %}Actions{% endblock %}