{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Fabricant{% endblock %}

{% block tBorrado %}S'ha borrat el fabricant{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el fabricant{% endblock %}
{% block tCrear %}Crear Fabricant{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tAcciones %}Accions{% endblock %}