{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - IVA{% endblock %}

{% block tBorrado %}Deleted IVA{% endblock %}
{% block tErrorBorrado %}Error to delete IVA{% endblock %}
{% block tCrear %}Create IVA{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tAcciones %}Actions{% endblock %}