{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {{ parameters.contingut.titol }}</legend>
            {% if parameters.success == 1 %}
                <div class="alert alert-success">
                    {% block tModificado %}{% endblock %}
                </div>
            {% endif %}
            {% if parameters.success == 2 %}
                <div class="alert alert-success">
                    {% block tInsertado %}{% endblock %}
                </div>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>{% block tTitulo %}{% endblock %}</dt>
                <dd>
                    {{ parameters.contingut.titol }}
                </dd>
                <dt>{% block tDescripcion %}{% endblock %}</dt>
                <dd>
                    {% autoescape 'html' %}
                        {{ parameters.contingut.descripcio|raw }}
                    {% endautoescape %}
                </dd>
                <dt>{% block tImagen %}{% endblock %}</dt>
                <dd>
                    <img src="{{ parameters.contingut.imatge }}" title="{{ parameters.contingut.titol }}"
                         alt="{{ parameters.contingut.titol }}" />
                </dd>
                <dt>{% block tAlta %}{% endblock %}</dt>
                <dd>
                    {{ parameters.contingut.alta }}
                </dd>
            </dl>
            {% set id = parameters.contingut.id_contingut %}
            {% set nameId = 'id_contingut' %}
            {% set moduleEliminar = 'contingut/eliminar' %}
            {% set moduleIndex = 'contingut/index' %}
            {% set moduleForm = 'contingut/form' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}