{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Technical - Description{% endblock %}

{% block tLegend %}Description{% endblock %}
{% block tTitulo %}Title{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tGuardar %}Save{% endblock %}