{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {% autoescape 'html' %}{{ parameters.descripcio.descripcio|raw }}{% endautoescape %}</legend>
            {% if parameters.success == 1 %}
                <div class="alert alert-success">
                    {% block tModificado %}{% endblock %}
                </div>
            {% endif %}
            {% if parameters.success == 2 %}
                <div class="alert alert-success">
                    {% block tInsertado %}{% endblock %}
                </div>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>{% block tTitol %}{% endblock %}</dt>
                <dd>
                    {% autoescape 'html' %}
                        {{ parameters.descripcio.titol|raw }}
                    {% endautoescape %}
                </dd>
                <dt>{% block tDescripcion %}{% endblock %}</dt>
                <dd>
                    {% autoescape 'html' %}
                        {{ parameters.descripcio.descripcio|raw }}
                    {% endautoescape %}
                </dd>
            </dl>
            {% set id = parameters.descripcio.id_fitxatecnicadescripcio %}
            {% set nameId = 'id_fitxatecnicadescripcio' %}
            {% set idSecundario = parameters.descripcio.id_fitxatecnicatitol %}
            {% set nameIdSecundario = 'id_fitxatecnicatitol' %}
            {% set moduleEliminar = 'fitxaTecnica/eliminarDescripcio' %}
            {% set moduleIndex = 'fitxaTecnica/index' %}
            {% set moduleForm = 'fitxaTecnica/formDescripcio' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}