{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Level{% endblock %}

{% block tLegend %}Level{% endblock %}
{% block tModificado %}Level updated{% endblock %}
{% block tInsertado %}Level inserted{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tTipo %}Type{% endblock %}
{% block tAdicional %}Aditional{% endblock %}