{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Index - Contingut{% endblock %}

{% block tBorrado %}S'ha borrat el contingut{% endblock %}
{% block tErrorBorrado %}S'ha produït un error al borrar el contingut{% endblock %}
{% block tCrear %}Crear Contingut{% endblock %}
{% block tTitulo %}Títol{% endblock %}
{% block tAlta %}Alta{% endblock %}
{% block tAcciones %}Accions{% endblock %}