/* font-face */
@font-face {
  font-family: "AccessibilityFoundicons";
  src: url("../fonts/accessibility_foundicons.eot");
  src: url("../fonts/accessibility_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/accessibility_foundicons.woff") format("woff"), url("../fonts/accessibility_foundicons.ttf") format("truetype"), url("../fonts/accessibility_foundicons.svg#AccessibilityFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-accessibility-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-accessibility-"]:before {
  font-family: "AccessibilityFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundicon-accessibility-wheelchair:before {
  content: "\f000";
}

.foundicon-accessibility-speaker:before {
  content: "\f001";
}

.foundicon-accessibility-fontsize:before {
  content: "\f002";
}

.foundicon-accessibility-eject:before {
  content: "\f003";
}

.foundicon-accessibility-view-mode:before {
  content: "\f004";
}

.foundicon-accessibility-eyeball:before {
  content: "\f005";
}

.foundicon-accessibility-asl:before {
  content: "\f006";
}

.foundicon-accessibility-person:before {
  content: "\f007";
}

.foundicon-accessibility-question:before {
  content: "\f008";
}

.foundicon-accessibility-adult:before {
  content: "\f009";
}

.foundicon-accessibility-child:before {
  content: "\f00a";
}

.foundicon-accessibility-glasses:before {
  content: "\f00b";
}

.foundicon-accessibility-cc:before {
  content: "\f00c";
}

.foundicon-accessibility-blind:before {
  content: "\f00d";
}

.foundicon-accessibility-braille:before {
  content: "\f00e";
}

.foundicon-accessibility-iphone-home:before {
  content: "\f00f";
}

.foundicon-accessibility-w3c:before {
  content: "\f010";
}

.foundicon-accessibility-css:before {
  content: "\f011";
}

.foundicon-accessibility-key:before {
  content: "\f012";
}

.foundicon-accessibility-hearing-impaired:before {
  content: "\f013";
}

.foundicon-accessibility-male:before {
  content: "\f014";
}

.foundicon-accessibility-female:before {
  content: "\f015";
}

.foundicon-accessibility-network:before {
  content: "\f016";
}

.foundicon-accessibility-guidedog:before {
  content: "\f017";
}

.foundicon-accessibility-universal-access:before {
  content: "\f018";
}

.foundicon-accessibility-elevator:before {
  content: "\f019";
}
