{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Pàgina Principal{% endblock %}

{% block tLegend %}Pàgina Principal{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPDescripcion %}Esccriu la descripció{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tLegendIndex %}Pàgina Principal - Índex{% endblock %}
{% block tInfoElementoModificado %}<b>Informació</b> Element modificat{% endblock %}
{% block tInfoElementoCreado %}<b>Informació</b> Element creat{% endblock %}
{% block tTipo %}Tipus{% endblock %}
{% block tIdTipo %}Id tipus{% endblock %}
{% block tWidth %}Width{% endblock %}
{% block tHeight %}Height{% endblock %}
{% block tOrden %}Ordre{% endblock %}
{% block tAcciones %}Accions{% endblock %}