<div class="row containerRow">
    <div class="col-md-12">
        <table id="table_id_externo" class="table table-striped">
            <thead>
            <tr>
                <th>{% block tImgen %}{% endblock %}</th>
                <th>{% block tUrl %}{% endblock %}</th>
                <th>{% block tAcciones %}{% endblock %}</th>
            </tr>
            </thead>
            <tbody>
            {% for imatge in parameters.index %}
                <tr>
                    <td>
                        <img src="{{ imatge.url }}" width="100" />
                    </td>
                    <td>
                        {{ imatge.url }}
                    </td>
                    <td>
                        <button onclick="seleccionar({{ imatge.id_imatge }})"><span class="icon-ok"></span></button>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $('#table_id_externo').dataTable({
        "aoColumnDefs": [
            { "sClass": "col-md-2",  "aTargets": [ 0 ] }, //Imagen
            { "sClass": "col-md-8",  "aTargets": [ 1 ] }, //Url
            { "sClass": "col-md-2", "bSortable": false, "aTargets": [ 2 ] } //Accions
        ]
    });
    //$('#table_id_externo').show();

    var seleccionar = function(id_imatge)
    {
        $('#{{ parameters.group }} .{{ parameters.subaction }}')[0].value = id_imatge;
        $("#{{ parameters.group }} .ajax").colorbox.close();
    }
</script>