{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Widget - Imagen{% endblock %}

{% block tBorrado %}Se ha borrado la imagen{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar la imagen{% endblock %}
{% block tCrear %}Crear Imagen{% endblock %}
{% block tImgen %}Imagen{% endblock %}
{% block tUrl %}URL{% endblock %}
{% block tAcciones %}Acciones{% endblock %}