{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Configuración - Usuario{% endblock %}

{% block tLegend %}Usuario{% endblock %}
{% block tModificado %}Se ha modificado el usuario{% endblock %}
{% block tInsertado %}Se ha insertado el usuario{% endblock %}
{% block tUsuario %}Usuario{% endblock %}
{% block tApellios %}Apellidos{% endblock %}
{% block tRol %}Rol principal{% endblock %}
{% block tEmail %}Email{% endblock %}
{% block tPassword %}Contraseña{% endblock %}
{% block tPPassword %}Encriptada para la privacidad de datos{% endblock %}
{% block tCookie %}Cookie{% endblock %}
{% block tActivo %}Activo{% endblock %}
{% block tRoles %}Roles{% endblock %}