<div class="row containerRow">
    <div class="col-md-12">
        <table id="table_id_externo" class="table table-striped">
            <thead>
            <tr>
            <tr>
                <th>{% block tIntroduccion %}{% endblock %}</th>
                <th>{% block tAcciones %}{% endblock %}</th>
            </tr>
            </tr>
            </thead>
            <tbody>
            {% for texto in parameters.index %}
                <tr>
                    <td>
                        {{ texto.textBanner }}
                    </td>
                    <td>
                        <button onclick="seleccionar({{ texto.id_textbanner }})"><span class="icon-ok"></span></button>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $('#table_id_externo').dataTable({
        "aoColumnDefs": [
            { "sClass": "col-md-11",  "aTargets": [ 0 ] }, //Introducción
            { "sClass": "col-md-1", "bSortable": false, "aTargets": [ 1 ] } //Accions
        ]
    });
    //$('#table_id_externo').show();

    var seleccionar = function(id_textbanner)
    {
        $('#{{ parameters.group }} .{{ parameters.subaction }}')[0].value = id_textbanner;
        $("#{{ parameters.group }} .ajax").colorbox.close();
    }
</script>