{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - Configuració - Usuari{% endblock %}

{% block tLegend %}Usuari{% endblock %}
{% block tUsuario %}Usuari{% endblock %}
{% block tPUsuario %}Ecriu l'usuari{% endblock %}
{% block tApellidos %}Cognoms{% endblock %}
{% block tPApellidos %}Escriu els cognoms{% endblock %}
{% block tRolPrincipal %}Rol principal{% endblock %}
{% block tEmail %}Email{% endblock %}
{% block tPEmail %}Escriu l'email{% endblock %}
{% block tPassword %}Contrasenya{% endblock %}
{% block tPPasswordCrear %}Escriu la contrasenya{% endblock %}
{% block tPPasswordModificar %}Si el deixes en blanc es mantindrà l'anterior contrasenya{% endblock %}
{% block tActivo %}Actiu{% endblock %}
{% block tCookie %}Cookie{% endblock %}
{% block tPCookie %}Escriu la cookie{% endblock %}
{% block tRoles %}Rols{% endblock %}
{% block tNombre %}Nom{% endblock %}
{% block tSeleccion %}Selecció{% endblock %}
{% block tGuardar %}Guardar{% endblock %}