body {
  background-color: #f3f0e2;
  font-family: "'News Cycle', sans-serif";
}
body .navbar-nav .linkMenu {
  padding-top: 5px;
  padding-bottom: 5px;
}
body .container {
  padding: 0;
}
body .container .row {
  margin: 0;
}
body .container .containerRow {
  padding: 10px 0 10px;
  background: url('../img/cuerpo.png') top;
}
body #beforeLayer {
  background-color: #5fae5a;
  height: 4px;
  width: 100%;
}
body #topLayer {
  margin-top: 7px;
}
body .carousel {
  position: relative;
}
body #mainLayer {
  border: 1px #FFFFFF solid;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body .navbar-brand {
  padding: 5px 0px 5px;
}
body #linksBanderas a:hover {
  text-decoration: none;
}
body #headerRow {
  background: url('../img/cabecera.png') top no-repeat #ffffff;
}
body #headerRow #navPrincipal {
  background: none;
  position: relative;
  padding: 10px 0 5px;
  margin-bottom: 0;
  border: none;
}
body #headerRow #navPrincipal a {
  color: #5fae5a;
  text-decoration: none;
}
body #headerRow #navPrincipal a:hover,
body #headerRow #navPrincipal a:focus {
  color: #427e3e;
}
body #headerRow #navPrincipal .dropdown-menu a {
  color: black;
}
body #headerRow #navPrincipal .dropdown-menu a:hover,
body #headerRow #navPrincipal .dropdown-menu a:focus {
  color: white;
}
body #headerRow #facebookIcon a {
  color: #3b5998;
  font-size: 16pt;
}
body #footerRow {
  color: #FFFFFF;
  padding: 20px 0;
  height: auto;
  min-height: 200px;
  background: #5fae5a;
}
body #footerRow #lineaDivisoria {
  height: 35px;
}
body #footerRow #logosPago {
  margin: 10px 0;
}
body #footerRow #copyright {
  margin: 0 5px 0 0;
}
body #footerRow img {
  margin: 0 0 0 5px;
}
body #footerRow a {
  color: #FFFFFF;
}
body #footerRow a :hover {
  text-decoration: underline;
}
body #footerRow span {
  font-size: 8pt;
}
body #footerRow #layer4 span {
  font-size: 12pt;
  margin-right: 12px;
}
body #footerRow h4 {
  padding: 0 0 0 20px;
  color: #FFFFFF;
}
body #footerRow ul {
  padding: 0 0 0 20px;
}
body #footerRow ul li {
  list-style: none;
  height: 30px;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  color: #5fae5a;
  font-family: "'News Cycle', sans-serif";
}
body h2 {
  font-size: 18pt;
}
body h3 {
  font-size: 14pt;
}
