{%  extends parameters.baseTemplate %}

{% block headStyles %}
    <meta name="robots" content="INDEX,FOLLOW">
    <meta property="og:image" content="http://www.marxa.es/disc_dur/documents/imatges_botiga/logo.jpg">
{% endblock %}

{% block bodyContent %}
{% set numCols = 0 %}
{% set currentCols = 0 %}
{% set first = 1 %}
{% for element in parameters.paginaPrincipal %}
    {% set numCols = numCols + element.width %}
    {% set currentCols = element.width %}
    {% if element.tipus == 'Slide' %}
        {% set numCols = 0 %}
        {% if first != 1 %}
        </div>
        {% endif %}
    {% else %}
        {% if first == 1 %}
            {% set first = 0 %}
            <div class="row containerRow">
        {% endif %}
        {% if numCols > 12 %}
            {% set numCols = element.width %}
            </div>
            <div class="row containerRow">
        {% endif %}
        <div class="col-md-{{ currentCols }}">
    {% endif %}
    {% if element.tipus == 'Imatge' %}
        <center>
            <img src="{{ element.params.url }}" alt="Marxa" />
        </center>
    {% endif %}
    {% if element.tipus == 'TextBanner' %}
        {% autoescape 'html' %}
        {{ element.params.textBanner|raw }}
        {% endautoescape %}
    {% endif %}
    {% if element.tipus == 'Slide' %}
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% set numElement = 0 %}
                {% for elementType in element.params.imatges %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ numElement }}" {% if numElement == 0 %}class="active"{% endif %}></li>
                    {% set numElement = numElement + 1 %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% set numElement = 0 %}
                {% for elementType in element.params.imatges %}
                    <div class="item {% if numElement == 0 %}active{% endif %}">
                        {% if elementType.link != '' %}
                        <a href="{{ elementType.link }}" title="Marxa">
                        {% endif %}
                            <img src="{{ elementType.url }}" width="1138" alt="Test">
                        {% if elementType.link != '' %}
                        </a>
                        {% endif %}
                        <!--{% if elementType.descripcio != '' %}
                            <div class="carousel-caption">
                                {% autoescape %}
                                {{ elementType.descripcio|raw }}
                                {% endautoescape %}
                            </div>
                        {% endif %}-->
                    </div>
                    {% set numElement = numElement + 1 %}
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    {% endif %}
    {% if element.tipus == 'Slide' %}
        <div class="row containerRow">
    {% else %}
        </div>
    {% endif %}
{% endfor %}
{% if numCols >= 12 %}
</div>
{% endif %}
</div>
{% endblock %}

{% block scriptsjs %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#carousel-example-generic').carousel();
    });
</script>
{% endblock %}