{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Configuration - Module{% endblock %}

{% block tLegend %}Module{% endblock %}
{% block tModificado %}Module updated{% endblock %}
{% block tInsertado %}Module inserted{% endblock %}
{% block tModule %}Module{% endblock %}
{% block tRol %}Role{% endblock %}
{% block tUsuario %}User{% endblock %}
{% block tPermisos %}Permissions{% endblock %}