{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Página{% endblock %}

{% block tBorrado %}Se ha borrado la página{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar la página{% endblock %}
{% block tCreado %}Se ha producido un error al crear la página{% endblock %}
{% block tCrear %}Crear Página{% endblock %}
{% block tTitulo %}Título{% endblock %}
{% block tDescripcionAmigable %}Descripción amigable{% endblock %}
{% block tUltimaModificacion %}Última modificación{% endblock %}
{% block tAcciones %}Acciones{% endblock %}