{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulari - IVA{% endblock %}

{% block tLegend %}IVA{% endblock %}
{% block tIVA %}IVA{% endblock %}
{% block tPIVA %}Escriu el IVA{% endblock %}
{% block tGuardar %}Guardar{% endblock %}