{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Proveïdor{% endblock %}

{% block tLegend %}Proveïdor{% endblock %}
{% block tModificado %}S'ha modificat el proveïdor{% endblock %}
{% block tInsertado %}S'ha insertat el proveïdor{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tPlazoEntrega %}Plaç d'entrega{% endblock %}