{% if parameters.group == 'PaginaPrincipal' %}
<div class="row addMarginTop">
    <div class="span10">
{% endif %}
        <div id="id_slideFromCarrusel" class="hide">{{ parameters.slide.id_slide }}</div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--<ol class="carousel-indicators">
                {% set counter = 0 %}
                {% for imatge in parameters.slide.imatges %}
                    <li data-target="#myCarousel" data-slide-to="{{ counter }}" {% if counter == 0 %}class="active"{% endif %}></li>
                    {% set counter = counter + 1 %}
                {% endfor %}
            </ol>-->
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% set counter = 0 %}
                {% for imatge in parameters.slide.imatges %}
                    <div class="{% if counter == 0 %}active{% endif %} item">
                        <img src="{{ imatge.url }}" />
                        <div class="carousel-caption text-center">
                            {% if parameters.group != 'PaginaPrincipal' %}
                                <div id="deleteCarrusel" class="pull-right">
                                    &nbsp;&nbsp;<a href="#TOC" onclick="return deleteImg({{ imatge.num_slideimatge }});" class="btn btn-danger">
                                        <span class="foundicon-general-trash" style="color: white;"></span>
                                    </a>
                                </div>
                                <div id="editCarrusel" class="pull-right">
                                    <a href="#TOC" onclick="return editImg({{ imatge.num_slideimatge }}, '{{ imatge.url }}', '{{ imatge.link }}');"
                                            class="btn btn-success">
                                        <span class="foundicon-general-edit" style="color: white;"></span>
                                    </a>
                                </div>
                            {% endif %}
                            <span id='descripcio_carousel_{{ imatge.num_slideimatge }}'>
                                {% autoescape 'html' %}
                                    {{ imatge.descripcio|raw }}
                                {% endautoescape %}
                            </span>
                        </div>
                    </div>
                    {% set counter = counter + 1 %}
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
{% if parameters.group == 'PaginaPrincipal' %}
    </div>
</div>
{% endif %}