{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Configuración - Módulo{% endblock %}

{% block tLegend %}Módulo{% endblock %}
{% block tModificado %}Se ha modificado el módulo{% endblock %}
{% block tInsertado %}Se ha insertado el módulo{% endblock %}
{% block tModule %}Módulo{% endblock %}
{% block tRol %}Rol{% endblock %}
{% block tUsuario %}Usuario{% endblock %}
{% block tPermisos %}Permisos{% endblock %}