{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Índice - Configuración - Rol{% endblock %}

{% block tBorrado %}Se ha borrado el rol{% endblock %}
{% block tErrorBorrado %}Se ha producido un error al borrar el rol{% endblock %}
{% block tErrorGuardar %}Se ha producido un error al guardar el rol{% endblock %}
{% block tCrear %}Crear Rol{% endblock %}
{% block tNombre %}Nombre{% endblock %}
{% block tAcciones %}Acciones{% endblock %}