{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Nivel{% endblock %}

{% block tLegend %}Nivel{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPDescripcion %}Escribe la descripción{% endblock %}
{% block tTipo %}Tipo{% endblock %}
{% block tPTipo %}Escribe el tipo{% endblock %}
{% block tAdicional %}Adicional{% endblock %}
{% block tPAdicional %}Escribe el texto adicional{% endblock %}
{% block tGuardar %}Guardar{% endblock %}