{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Fabricant{% endblock %}

{% block tLegend %}Fabricant{% endblock %}
{% block tModificado %}S'ha modificat el fabricant{% endblock %}
{% block tInsertado %}S'ha insertat el fabricant{% endblock %}
{% block tDescripcion %}Descripció{% endblock %}
{% block tImagen %}Imatge{% endblock %}