{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Página Principal{% endblock %}

{% block tLegend %}Página Principal{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tPDescripcion %}Escribe la descripción{% endblock %}
{% block tGuardar %}Guardar{% endblock %}
{% block tLegendIndex %}Página Principal - Índice{% endblock %}
{% block tInfoElementoModificado %}<b>Información</b> Elemento modificado{% endblock %}
{% block tInfoElementoCreado %}<b>Información</b> Elemento creado{% endblock %}
{% block tTipo %}Tipo{% endblock %}
{% block tIdTipo %}Id tipo{% endblock %}
{% block tWidth %}Width{% endblock %}
{% block tHeight %}Height{% endblock %}
{% block tOrden %}Orden{% endblock %}
{% block tAcciones %}Acciones{% endblock %}