{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Página{% endblock %}

{% block tLegend %}Página{% endblock %}
{% block tTitulo %}Título{% endblock %}
{% block tPTitulo %}Escribe el título{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}
{% block tDescripcionAmigable %}Descripción amigable{% endblock %}
{% block tPDescripcionAmigable %}Escribe la descripción amigable{% endblock %}
{% block tUrl %}Url{% endblock %}
{% block tPUrl %}Escribe la url{% endblock %}
{% block tUltimaModifiacion %}Última modificación{% endblock %}
{% block tPUltimaModifiacion %}Escoje la última modificación. Por defecto es ahora{% endblock %}
{% block tKeywords %}Keywords{% endblock %}
{% block tGuardar %}Guardar{% endblock %}