{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
    <fieldset>
        <legend>{% block tLegend %}{% endblock %}</legend>
        {% if parameters.success == 1 %}
            <div class="alert alert-success">
                {% block tModificado %}{% endblock %}
            </div>
        {% endif %}
        {% if parameters.success == 2 %}
            <div class="alert alert-success">
                {% block tInsertado %}{% endblock %}
            </div>
        {% endif %}
        <dl class="dl-horizontal">
            <dt>{% block tTexto %}{% endblock %}</dt>
            <dd>
                {% autoescape 'html' %}
                    {{ parameters.textbanner.textBanner|raw }}
                {% endautoescape %}
            </dd>
        </dl>
        {% set id = parameters.textbanner.id_textbanner %}
        {% set nameId = 'id_textbanner' %}
        {% set moduleEliminar = 'textbanner/eliminar' %}
        {% set moduleIndex = 'textbanner/index' %}
        {% set moduleForm = 'textbanner/form' %}
        {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
    </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}