{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Form - Provider{% endblock %}

{% block tLegend %}Provider{% endblock %}
{% block tDescripcion %}Description{% endblock %}
{% block tPlazoEntrega %}Delivery{% endblock %}
{% block tPPlazoEntrega %}Write delivery{% endblock %}
{% block tGuardar %}Save{% endblock %}