{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Especial{% endblock %}

{% block tLegend %}Especial{% endblock %}
{% block tModificado %}Se ha modificado el especial{% endblock %}
{% block tInsertado %}Se ha insertado el especial{% endblock %}
{% block tDescripcion %}Descripción{% endblock %}