{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {% autoescape 'html' %}{{ parameters.descripcio.descripcio|raw }}{% endautoescape %}</legend>
            <form method="POST" action="{{ parameters.path }}/{{ parameters.language }}/administrador/fitxaTecnica/guardarDescripcio.html" class="form-horizontal">
                <input type="hidden" name="id_fitxatecnicadescripcio" value="{% if parameters.descripcio.id_fitxatecnicadescripcio == '' %}-1{% else %}{{ parameters.descripcio.id_fitxatecnicadescripcio }}{% endif %}" />
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputTexto">{% block tTitulo %}{% endblock %}</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="id_fitxatecnicatitol">
                            {% for titol in parameters.titols %}
                                <option value="{{ titol.id_fitxatecnicatitol }}"
                                        {% if parameters.descripcio.id_fitxatecnicatitol == titol.id_fitxatecnicatitol %}
                                            selected
                                        {% endif %}
                                        >
                                    {% autoescape 'html' %}
                                        {{ titol.descripcio|raw }}
                                    {% endautoescape %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputTexto">{% block tDescripcion %}{% endblock %}</label>
                    <div class="col-md-7">
                        <textarea name="descripcio">{{ parameters.descripcio.descripcio }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <center>
                        <button type="submit" class="btn btn-success">{% block tGuardar %}{% endblock %}</button>
                    </center>
                </div>
                </form>
                {% if parameters.descripcio.id_fitxatecnicadescripcio != '' %}
                    {% set id = parameters.descripcio.id_fitxatecnicadescripcio %}
                {% else %}
                    {% set id = '-1' %}
                {% endif %}
                {% set nameId = 'id_fitxatecnicadescripcio' %}
                {% if parameters.descripcio.id_fitxatecnicatitol != '' %}
                    {% set idSecundario = parameters.descripcio.id_fitxatecnicatitol %}
                {% else %}
                    {% set idSecundario = '-1' %}
                {% endif %}
                {% set nameIdSecundario = 'id_fitxatecnicatitol' %}
                {% set moduleEliminar = 'fitxaTecnica/eliminarDescripcio' %}
                {% set moduleIndex = 'fitxaTecnica/index' %}
                {% set moduleVista = 'fitxaTecnica/vistaDescripcio' %}
                {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsForm.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}
{% endblock %}