{%  extends parameters.baseTemplate %}

{% block headStyles %}
<link href="{{ parameters.pathModule }}/css/{{ parameters.action.nameFile }}.css?v={{ parameters.version }}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
<div class="row containerRow">
    <div class="col-md-12">
        <fieldset>
            <legend>{% block tLegend %}{% endblock %}: {{ parameters.familia.descripcio }}</legend>
            {% if parameters.success == 1 %}
                <div class="alert alert-success">
                    {% block tModificado %}{% endblock %}
                </div>
            {% endif %}
            {% if parameters.success == 2 %}
                <div class="alert alert-success">
                    {% block tInsertado %}{% endblock %}
                </div>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>{% block tFamiliaRaiz %}{% endblock %}</dt>
                <dd>
                    {% set raiz = true %}
                    {% for item in parameters.familias %}
                        {% if parameters.familia.de_familia == item.id_familia %}
                            {% set raiz = false %}
                            {{ item.descripcio }}
                        {% endif %}
                    {% endfor %}
                    {% if raiz == true %}
                        {% block tFamiliaRaizSelect %}{% endblock %}
                    {% endif %}
                </dd>
                <dt>{% block tDescripcion %}{% endblock %}</dt>
                <dd>
                    {{ parameters.familia.descripcio }}
                </dd>
                <dt>Orden</dt>
                <dd>
                    {{ parameters.familia.ordre }}
                </dd>
            </dl>
            {% set id = parameters.familia.id_familia %}
            {% set nameId = 'id_familia' %}
            {% set moduleEliminar = 'familia/eliminar' %}
            {% set moduleIndex = 'familia/index' %}
            {% set moduleForm = 'familia/form' %}
            {{ include('/src/module/administrador/general/view/'~parameters.language~'/buttonsView.html.twig') }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block scriptsjs %}

{% endblock %}