{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}View - Widget - Text{% endblock %}

{% block tLegend %}Text{% endblock %}
{% block tModificado %}Text updated{% endblock %}
{% block tInsertado %}Text inserted{% endblock %}
{% block tTexto %}Text{% endblock %}