{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Vista - Widget - Imagen{% endblock %}

{% block tLegend %}Imagen{% endblock %}
{% block tModificado %}Se ha modificado la imagen{% endblock %}
{% block tInsertado %}Se ha insertado la imagen{% endblock %}
{% block tImagen %}Imagen{% endblock %}
{% block tUrl %}Url{% endblock %}