{%  extends parameters.baseModuleTemplate %}

{% block headTitle %}Formulario - Widget - Texto{% endblock %}

{% block tLegend %}Texto{% endblock %}
{% block tTexto %}Texto{% endblock %}
{% block tGuardar %}Guardar{% endblock %}